$c-layers-color-visited: #6e6d6d;
$c-layers-color-selected-bg: #ebf9fb;
$c-layers-color-selected-border: #c0e4e9;
$c-layers-color-selected-text: #535c5d;
$c-layers-color-selected-title: #2ea3b3;
$c-layers-color-unvisited-title: #656464;
$c-layers-color-unvisited-border: #939191;