<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Seed UI - Dropdowns</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab|Roboto:300,400,700" rel="stylesheet">
        <link rel="stylesheet" href="../css/main.css">
    </head>
    <body style="padding: 80px">

      <section>
        <h2>Dropdowns</h2>

        <article style="margin-bottom: 70px">
          <h3>Default Dropdown</h3>
          <div class="su_dropdown">
            <button class="su_dropdown-toggle">
              Take Action
              <i class="material-icons">arrow_drop_down</i>
            </button>
            <div class="su_dropdown-menu">
              <a href="#" class="su_dropdown-item">Action</a>
              <a href="#" class="su_dropdown-item">Another action</a>
              <a href="#" class="su_dropdown-item">An another action</a>
              <a href="#" class="su_dropdown-item">An even longer action</a>
              <a href="#" class="su_dropdown-item">Last action</a>
            </div>
          </div>
        </article>

        <article style="margin-bottom: 70px">
          <h3>Rounded Dropdown</h3>
          <p>Add the class <code>.su_dropdown-toggle-rounded</code> to create a rounded dropdown like the one below.</p>
          <div class="su_dropdown">
            <button class="su_dropdown-toggle su_radius">
              Take Action
              <i class="material-icons">arrow_drop_down</i>
            </button>
            <div class="su_dropdown-menu">
              <a href="#" class="su_dropdown-item">Action</a>
              <a href="#" class="su_dropdown-item">Another action</a>
              <a href="#" class="su_dropdown-item">An another action</a>
              <a href="#" class="su_dropdown-item">An even longer action</a>
              <a href="#" class="su_dropdown-item">Last action</a>
            </div>
          </div>
        </article>

        <article style="margin-bottom: 70px">
          <h4>Dropdown with icons</h4>
          <p>Simply add icons of your choice to the button and dropdown menu items.</p>
          <div class="su_dropdown">
            <button class="su_dropdown-toggle">
              <i class="material-icons">star_border</i>
              Take Action
              <i class="material-icons">arrow_drop_down</i>
            </button>
            <div class="su_dropdown-menu">
              <a href="#" class="su_dropdown-item"><i class="material-icons">star_border</i> Action</a>
              <a href="#" class="su_dropdown-item"><i class="material-icons">star_border</i> Another action</a>
              <a href="#" class="su_dropdown-item"><i class="material-icons">star_border</i> An another action</a>
              <a href="#" class="su_dropdown-item"><i class="material-icons">star_border</i> An even longer action</a>
              <a href="#" class="su_dropdown-item"><i class="material-icons">star_border</i> Last action</a>
            </div>
          </div>
        </article>

      </section>

    </body>
</html>
