---
title: "Default"
description:
  <p>A navigaton component that allows the developer to group related information under a common image or text. Think of it like a fancy dropdown menu.</p>
type: drop dot
category: evolution
author: Patrick Franz
order: 1
---
<div class="evo_c-drop-dot__example">
<!--A drop-dot lives inside a label element-->
    <label for="cb__drop-dot-1" class="evo_c-drop-dot">
    <span class="evo_c-drop-dot__top">
        <img src="{{ site.url }}/assets/images/evolution-ui/evolution/drop-dot/profile.jpg" alt="" />
    </span>
    <input type="checkbox" id="cb__drop-dot-1" />
    <ul class="evo_c-drop-dot__list">
        <li>
            <a href="#!">View Profile</a>
        </li>
        <li>
            <a href="#!">Send Email</a>
        </li>
        <li>
            <a href="#!">Send PM</a>
        </li>
    </ul>
    </label>

    <label for="cb__drop-dot-chip1" class="evo_c-drop-dot">
    <span class="evo_c-drop-dot__top">
        <span>San Francisco</span>
    </span>
        <input type="checkbox" id="cb__drop-dot-chip1" />
        <ul class="evo_c-drop-dot__list">
            <li>
                <a href="#!">Current Headlines</a>
            </li>
            <li>
                <a href="#!">Weather Report</a>
            </li>
            <li>
                <a href="#!">Traffic</a>
            </li>
        </ul>
    </label>
</div>
