// -----------------------------------------------------------------------------
//                                  COMPONENTS FOLDER
// -----------------------------------------------------------------------------
//
//  It contains all kind of specific modules
//

@import 'evolution/search_with_long_edit/search_with_long_edit';
@import 'evolution/search_with_loading_indicator/search_with_loading_indicator';
@import 'evolution/swing_menu/swing_menu';
@import 'evolution/hover_fan/hover_fan';
@import 'evolution/readability_improvement_panel/readability_improvement_panel';
@import 'evolution/roll_menu/roll_menu';
@import 'evolution/drop_dots/drop_dots';
@import 'evolution/dot_navigation_effects/dot_navigation_effects';
@import 'evolution/flip_display_accordion/flip_display_accordion';
@import 'evolution/rainbow_form/rainbow_form';
@import 'evolution/sneak_peek/sneak_peek';
@import 'evolution/eyelids/eyelids';
@import 'evolution/multiCopy/multiCopy';
@import 'evolution/crumble/crumble';
@import 'evolution/cubby/cubby';
@import 'evolution/fade_lines_on_scroll/fade_lines_on_scroll';
@import 'evolution/sift/sift';
@import 'evolution/psychotropic_curtain/psychotropic_curtain';
@import 'evolution/layers/layers';
@import 'evolution/persona/persona';
@import 'evolution/bookmarklet/bookmarklet';
@import 'evolution/herald/herald';
@import 'evolution/wtf_does_that_mean/wtf_does_that_mean';
@import 'evolution/single_input_form_space_saving_minimalist_form/single_input_form_space_saving_minimalist_form';
@import 'evolution/demo_component/demo_component';
@import 'evolution/image_gallery/image_gallery';
@import 'evolution/safety/safety';
@import 'evolution/spiral_button/spiral_button';
@import 'evolution/svg_pagination/svg_pagination';
@import 'evolution/pivot_dropdown/pivot_dropdown';
@import 'evolution/minimalist_carousel/minimalist_carousel';
@import 'evolution/minimalist_carousel_two/minimalist_carousel_two';
@import 'evolution/same_page_form_example/same_page_form_example';
@import 'evolution/text2Speech/text2Speech';
@import 'evolution/cta_shake/cta_shake';
@import 'evolution/informative_form/informative_form';
@import 'evolution/dot_navigation/dot_navigation';
@import 'evolution/bov_academy_3D_menu/bov_academy_3D_menu';
@import 'evolution/ikon/_ikon';
@import 'evolution/new_scrollspy/new_scrollspy';
@import 'evolution/new_scrollspy_with_time_remaining/new_scrollspy_with_time_remaining';
@import 'evolution/carousel_with_dropping_circle_nav/carousel_with_dropping_circle_nav';
@import 'evolution/alternative_layout_for_dropping_circle_nav/alternative_layout_for_dropping_circle_nav';
@import 'evolution/expand_and_fold_out_popup/expand_and_fold_out_popup';
@import 'evolution/time_machine_inspired_carousel/time_machine_inspired_carousel';
@import 'evolution/validation_dot/validation_dot';
@import 'evolution/informative_button/informative_button';
@import 'evolution/communicative_button/communicative_button';
@import 'evolution/tooltip_scale_from_corner/tooltip_scale_from_corner';
@import 'evolution/fold_out_tooltip/fold_out_tooltip';
@import 'evolution/interactive_form/interactive_form';
@import 'evolution/naviator/naviator';
=======
@import "evolution/tooltip_scale_from_corner/tooltip_scale_from_corner";
@import 'evolution/paragraph_gallery/paragraph_gallery';
@import 'evolution/pop_over/pop_over';
@import 'evolution/layer_2d/layer_2d';
@import 'evolution/carousel_with_dropping_circle_nav/carousel_with_dropping_circle_nav';


@import 'standard/modals/modals';
@import 'standard/color_palette_layout/color_palette_layout';
@import 'standard/accordion/accordion';
@import 'standard/sticky/sticky';
@import 'standard/code_markup/code_markup';
@import 'standard/utilities/utilities';
@import 'standard/css_animations/css_animations';
@import 'standard/scrollspy/scrollspy';
@import 'standard/tooltip/tooltip';
@import 'standard/grid/grid';
@import 'standard/tabs/tabs';
@import 'standard/cards/cards';
@import 'standard/lists/lists';
@import 'standard/list_groups/list_groups';
@import 'standard/dropdowns/dropdowns';
@import 'standard/forms/forms';
@import 'standard/progress_bars/progress_bars';
@import 'standard/typography/typography';
@import 'standard/pagination/pagination';
@import 'standard/off_canvas_navigation/off_canvas_navigation';
@import 'standard/side_navbar/side_navbar';
@import 'standard/tags/tags';
@import 'standard/tables/tables';
@import 'standard/alerts/alerts';
@import 'standard/carousel/carousel';
@import 'standard/buttons/buttons';
@import 'standard/combo_box/combo_box';
@import 'standard/video_embed/video_embed';
@import 'standard/audio_player/audio_player';
@import 'standard/social_media_bar/social_media_bar';

