$drop-dot__radius: 10rem;
$drop-dot__top-bg: #3498db;
$drop-dot__text: #ecf0f1;
$drop-dot__list-bg: #2980b9;
$drop-dot__list-bg--hover: #72B0D9;
$drop-dot__list-text: #ecf0f1;

// Drop Dot Element START
//Create a label and give it the .drop-dot class
.evo-c-drop-dot{
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  user-select: none;
  cursor: pointer;
  height: $drop-dot__radius;
  width: $drop-dot__radius;
  z-index: 1;
  opacity: 1;

  & a{
    text-decoration: none;
    color: $drop-dot__list-text;
  }
  
  & input{ 
    display: none;
    
    &:checked{
      & ~ .evo-c-drop-dot__list{
        max-height: 1000px;
        padding: ($drop-dot__radius / 1.8) 0 1rem 0;
      }
    }
  }

  &__top{
    display: flex;
    position: absolute;
    background: $drop-dot__top-bg;
    color: $drop-dot__text;
    border-radius: 50%;
    width: $drop-dot__radius;
    height: $drop-dot__radius;
    
    > *{
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      width: $drop-dot__radius;
      height: $drop-dot__radius;
      text-align: center;
    }

    &:hover ~ input[type="checkbox"]:not(:checked){
      border: 1px solid $drop-dot__list-bg;
      
      & ~ .evo-c-drop-dot__list{
        max-height: 50%;
        padding: ($drop-dot__radius / 1.8) 0 1rem;
        width: 1rem;
      }
    }
  }
  
  &__list{
    position: absolute;
    text-align: center;
    top: $drop-dot__radius / 2;
    max-height: 0;
    width: $drop-dot__radius;
    background: $drop-dot__list-bg;
    overflow: hidden;
    transition: all .3s;
    z-index: -1;
    border-radius: 0 0 2% 2%;
    color: $drop-dot__list-text;
    
    & li{
      padding: 10px 0;
      background: $drop-dot__top-bg;
      margin: 0 0 5px 0;
      line-height: 2rem;
      
      &:hover{
        background: $drop-dot__list-bg--hover;
      }
    }
  }

  &__example{
    margin: 0 auto;
  }
}
