.su_stat {
  border: 1px solid #dadad0;
  border-radius: 4px;
  box-shadow: 0 3px 10px 0 #dadad0;
  padding: 1.25rem 1.5rem;
  text-align: center;
  overflow: auto; }
  .su_stat .su_stats,
  .su_stat .su_stat-icon {
    display: inline-block;
    float: left; }
  .su_stat .su_stats {
    width: 60%; }
  .su_stat .su_stat-figure,
  .su_stat .su_stat-label {
    display: block; }
  .su_stat .su_stat-icon {
    width: 40%; }
    .su_stat .su_stat-icon > i {
      font-size: 4em;
      line-height: 1.2; }
  .su_stat .su_stat-figure {
    font-size: 3em;
    line-height: 1.2; }
  .su_stat .su_progress-bar {
    height: 16px;
    margin: 0;
    margin-top: 100px;
    width: 100%; }
    .su_stat .su_progress-bar .su_bar {
      left: 0; }
  .su_stat.su_primary-bg .su_progress-bar .su_bar.su_bar--success, .su_stat.su_accent-bg .su_progress-bar .su_bar.su_bar--success, .su_stat.su_secondary-bg .su_progress-bar .su_bar.su_bar--success {
    height: 14px;
    border-top: 1px solid #f0f0ed;
    border-bottom: 1px solid #f0f0ed;
    border-left: 1px solid #f0f0ed; }
  @media screen and (max-width: 500px) {
    .su_stat .su_stats,
    .su_stat .su_stat-icon {
      width: 100%; } }