/* PAGINATION COMPONENT */
@mixin clearfix {

  &::after {
    display: block;
    content: '';
    clear: both;
  }

}

@mixin element_style {
  float: left;
  position: relative;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: su_color('primary', 'light');
  margin: 1px;
  transition: all 0.2s ease-in-out 0s;
  border-radius: 3px;
  &.su_current-page {
    background-color: su_color('primary', 'dark');
  }
  &:hover {
    cursor: pointer;
    background-color: su_color('primary', 'dark');
  }
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: inherit;
    text-align: center;
    display: block;
  }
}


.su_pagination {
  @include clearfix;

  display: inline-block;
  margin: 10px auto;

  * {
    box-sizing: border-box;
  }

  ul {
    list-style: none;
    li {
      @include element_style;
      a {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }

  ul li:first-child,
  ul li:last-child {
    color: su_color('secondary', 'light');
    font-size: 1.2rem;
    &:hover {
      color: su_color('secondary', 'dark');
    }
  }

  ul li:first-child::before {
    content: '\00ab';
  }

  ul li:last-child::before {
    content: '\00bb';
  }

  ul {
    @include clearfix;
    padding: 0;
    margin: 0;
    float: left;
  }

  &.su_pagination-decimal {
    counter-reset: pagination-decimal;
    ul li:not(:first-child):not(:last-child)::before {
      counter-increment: pagination-decimal;
      content: counter(pagination-decimal);
    }
  }

  &.su_pagination-roman-low {
    counter-reset: pagination-roman-low;
    ul li:not(:first-child):not(:last-child)::before {
      counter-increment: pagination-roman-low;
      content: counter(pagination-roman-low, lower-roman);
    }
  }

  &.su_pagination-roman-up {
    counter-reset: pagination-roman-up;
    ul li:not(:first-child):not(:last-child)::before {
      counter-increment: pagination-roman-up;
      content: counter(pagination-roman-up, upper-roman);
    }
  }

  &.su_pagination-latin-up {
    counter-reset: pagination-latin-up;
    ul li:not(:first-child):not(:last-child)::before {
      counter-increment: pagination-latin-up;
      content: counter(pagination-latin-up, upper-latin);
    }
  }

  &.su_pagination-latin-low {
    counter-reset: pagination-latin-lower;
    ul li:not(:first-child):not(:last-child)::before {
      counter-increment: pagination-latin-lower;
      content: counter(pagination-latin-lower, lower-latin);
    }
  }

}

/* END PAGINATION COMPONENT */
