/******************************************************************************
                        Rainbow Form Config
******************************************************************************/

/******************************************************************************
                        Rainbow Form Component
******************************************************************************/

/* Innovative rainbow form suggested by Richard Bov */
.evo_c-rainbow-form *{
   box-sizing: border-box;
}
.evo_c-rainbow-form__rainbow {
  border-radius: 5px;
  border: 2px solid lightgrey;
  max-width:700px;
  width:100%;
  height:550px;
  margin: 10% auto;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5);
}

.evo_c-rainbow-form__rainbow h1 {
  font-size: 18px;
  background: #F6AA93 none repeat scroll 0% 0%;
  color: rgb(255, 255, 255);
  padding: 10px 25px;
  padding: 10px 10px;
  border-radius: 5px 5px 0px 0px;
  margin: auto;
  text-shadow: none;
  text-align:center
}

.evo_c-rainbow-form__rainbow .evo_c-rainbow-form__rainbow-contentform {
  padding: 40px 30px;
  background-color:#d6d6d6;
  overflow:auto;
}

.evo_c-rainbow-form__rainbow-leftcontact {
  width:49.5%;
  float:left;
  border-right: 2px dotted #7a7a7a;
  box-sizing: border-box;
  padding: 20px 0px 0px 14px;
}

.evo_c-rainbow-form__rainbow-rightcontact {
  width:49.5%;
  float:right;
  box-sizing: border-box;
  padding: 20px 0px 0px 6px;
}

.evo_c-rainbow-form__rainbow input {
  border-radius: 5px;
  border: 3px solid #eee;
  margin-bottom: 5px;
  margin-left:2px;
  width: 95%;
  height: 40px;
  float: left;
  color:white;
  font-size:1.1em;
  padding: 0px 10px 0px 20px;
  border-left:1px solid #696969;;
}
.evo_c-rainbow-form__rainbow input:focus{
  color:white;
  font-size:1.1em;
  font-style:bold;
}
.evo_c-rainbow-form__rainbow-firstName:focus{
  color:white;
  font-size:1.1em;
  font-style:bold;
}
#evo_c-rainbow-form__rainbow-firstName{
  background-color:#ed1c24;
  opacity:0.9;

}
#evo_c-rainbow-form__rainbow-lastName{
  background:#663399;
  opacity:0.9;
}
#evo_c-rainbow-form__rainbow-email{
  background:#e5ac6c;
  opacity:0.9;
}
#evo_c-rainbow-form__rainbow-userName{
  background:#7FBF3F;
}
#evo_c-rainbow-form__rainbow-password{
  background:#113a65;
  opacity:0.55;
}
#evo_c-rainbow-form__rainbow-confirmPassword{
  background:#2675c3;
  opacity:0.8;
}
#evo_c-rainbow-form__rainbow-issue{
  background:#35a9bb;
  opacity:0.8;
}
#evo_c-rainbow-form__rainbow-comments{
  background:#6730EC;
  opacity: 0.6;

}
#evo_c-rainbow-form__rainbow-phone{
  background:#f2784b;
  opacity:0.9;
}
.evo_c-rainbow-form__rainbow input::-webkit-input-placeholder{
  color:white;
  font-size: 1.1em;
  padding-top:20px;
  padding-left:10px;
}
iput[type="email"]::-webkit-input-placeholder{
  color:white;
  font-size: 1.1em;
  padding-top:20px;
  padding-left:10px;
  opacity:1;
}

.evo_c-rainbow-form__rainbow input::-moz-placeholder{
  color:white;
  font-size: 1.3em;
  padding-top:20px;
  padding-left:10px;
}
.evo_c-rainbow-form__rainbow input::-ms-input-placeholder{
  color:white;
  font-size: 1.3em;
  padding-top:20px;
  padding-left:10px;
}

.evo_c-rainbow-form__rainbow input::placeholder{
  color:white;
  font-size: 1.1em;
  opacity:1;
  padding-top:20px;
  padding-left:10px;
}
#evo_c-rainbow-form__rainbow-password::webkit-input-placeholder{
   color:white;
  font-size: 1em;
  padding-top:10px;
  padding-left:10px;
  opacity:1;
}

#evo_c-rainbow-form__rainbow-comments::-webkit-input-placeholder{
  color:white;
  font-size: 1.1em;
  padding-top:10px;
  padding-left:10px;
  opacity:1;
}
#evo_c-rainbow-form__rainbow-comments::-moz-input-placeholder{
  color:white;
  font-size: 1.5em;
  padding-top:10px;
  padding-left:10px;
  opacity:1;
}

#evo_c-rainbow-form__rainbow-comments:-moz-input-placeholder{
  color:white;
  font-size: 1.5em;
  padding-top:10px;
  padding-left:10px;
  opacity:1;
}


#evo_c-rainbow-form__rainbow-comments::placeholder{
  color:white;
  font-size: 1.4em;
  padding-top:10px;
  padding-left:10px;
  opacity:1;
}

#evo_c-rainbow-form__rainbow-comments::-ms-input-placeholder{
  color:white;
  font-size: 1.1em;
  padding-top:10px;
  padding-left:10px;
}

.evo_c-rainbow-form__rainbow-comments{
  width:100%;
}
#evo_c-rainbow-form__rainbow-comments {
  border-radius: 0px 5px 5px 0px;
  border: 1px solid #EEE;
  margin: 0;
  width: 100%;
  height: 180px;
  margin-left:0px;
  margin-top:15px;
  margin-right:0px;
  padding: 0px 0px;
  font-size: 1.1em;
  text-align:left;
  padding:14px;
  color:white;
}

.evo_c-rainbow-form__rainbow-rightcontact .evo_c-rainbow-form__rainbow-form-group,
.evo_c-rainbow-form__rainbow-leftcontact  .evo_c-rainbow-form__rainbow-form-group  {
  overflow: hidden;
  clear: both;
}

.evo_c-rainbow-form__rainbow .evo_c-rainbow-form__contentform {
  padding: 40px 30px;
  background-color:#d6d6d6;
}

.evo_c-rainbow-form__rainbow-leftcontact {
  width:49.5%;
  float:left;
  border-right: 2px dotted #7a7a7a;
  box-sizing: border-box;
  padding: 20px 0px 0px 14px;
}

.evo_c-rainbow-form__rainbow-rightcontact {
  width:49.5%;
  float:right;
  box-sizing: border-box;
  padding: 20px 0px 0px 6px;
}


.evo_c-rainbow-form__rainbow-button-contact{
  background-color: #81BDA4;
  color: #FFF;
  text-align: center;
  width: 100%;
  border:0;
  padding: 17px 25px;
  border-radius: 0px 0px 5px 5px;
  cursor: pointer;
  margin-top: 48px;
  font-size: 18px;
}

.evo_c-rainbow-form__rainbow-button-contact:hover {
  width:100%;
  background-color:#1BA39C;
}


/* Innovative rainbow form suggested by Richard Bov end */
