//------------------------------------------------------------------------------
//                          Proress Bars config
//------------------------------------------------------------------------------


$c-component-name: 'progress-bar';


$c-progress-bars-height: 10px;
$c-progress-bars-height-small: 5px;
$c-progress-bars-height-large: 25px;
$c-progress-bars-height-middle: 25px;


$c-progress-bars-percentage-margin-left: 50px;


//------------------------------------------------------------------------------
//                          Progress Bars Placeholders
//------------------------------------------------------------------------------

%c-progress-bars-percentage-after {
  position: absolute;
  content: attr(aria-valuenow) "%";
  display: inline-block;
  font-family: #{$g-framework-font-family};
  color: inherit;
  line-height: $c-progress-bars-height;
}

%c-progress-bars-absolute-center {
  display: flex;
  left:0;
  right: 0;
  top: 0;
  height: inherit;
  align-items: center;
  justify-content: center;
}

%c-progress-bars-hide-overflow-x {
  overflow-x: hidden;
}

%c-progress-bars-border-light {
  border: 1px solid black(.2);
}

%c-progress-bars-big {
  padding-top: 10px;
  padding-bottom: 10px;
}


//------------------------------------------------------------------------------
//                          Progress Bars Animations
//------------------------------------------------------------------------------


@keyframes c-progress-bars-infinite {
  100% { left: 110%; }
}

@keyframes c-progress-bars-infinite--b {
  100% { left: -10% }
}

@keyframes c-progress-bars-infinite--fb {
  50% { left: 100%; }
  100% { left: -10% }
}

@keyframes c-progress-bars-infinite--pr {
  0% { left: -110%; };
  100% { left: 0; };
}
