//------------------------------------------------------------------------------
//                       Typography SYSTEM
//------------------------------------------------------------------------------

@import 'Typography-config';

///
/// Generate the vertical rhythm
///
/// @param {Value} $font-size - A valid font size
/// @param {Value} $line-height [$framework-line-height-base] - A value height
///
/// @require $framework-line-height-base
///
/// @return {value}
///
///

@function vrhythm( $font-size, $line-height: $framework-line-height-base ){
  @return ceil( $font-size / $line-height ) * ( $line-height / $font-size )
}

///
/// Generate headings (h1 - h6) and extra headings along with reusable classes
///
/// @param {Number} $levels - The number of headings
/// @param {Boolean} $extraHeading - If true it generates extra headings
///
/// @require $typography-base-scale
/// @require $framework-base-font-size
/// @require $typography-scales-smaller
/// @require $typography-scales-bigger
///

@mixin generateHeadings( $levels, $extraHeading: true ){

  $scale-smaller-sizes: $typography-scales-smaller;
  $scale-bigger-sizes: $typography-scales-bigger;

  @for $i from 1 through $levels {
    $font-size: pow($typography-base-scale, $levels - $i);
      h#{$i}, .#{$framework-name}__tp--h#{$i} {
        font-size: #{$font-size}rem;
        line-height: vrhythm($font-size);
    }
  }

  @if ( $extraHeading == true ) {

    // BIGGER SIZES classes
    @for $i from 1 through length($scale-bigger-sizes)  {
      $item: nth($scale-bigger-sizes, $i);
      $font-size: pow($typography-base-scale, 5 + $i);

      .#{$framework-name}__tp--#{$item} {
        font-size: rem($framework-base-font-size * $font-size) + 0rem;
        line-height: vrhythm($font-size);
      }
    }

    // SMALLER SIZES classes
    @for $i from 1 through length($scale-smaller-sizes)  {
      $item: nth($scale-smaller-sizes, $i);
      $font-size: pow($typography-base-scale, $i);

      .#{$framework-name}__tp--#{$item} {
        font-size: rem($framework-base-font-size / $font-size) + 0rem;
        line-height: vrhythm($font-size);
      }
    }

  }

}

/******************************************************************************
                                  Typography
******************************************************************************/

html {
  font-family: 'Roboto', sans-serif;
  font-size: $framework-base-font-size;
  line-height: $framework-line-height-base;
}

h1, h2, h3, h4, h5, h6,
p, ul, ol, dl, figure,
blockquote, details, fieldset,
pre, table, hr {
  margin: 0 0 $framework-line-height-base 0;
}

@include generateHeadings(6);

h1, h2, h3, h4, h5, h6 {
  font-weight: $framework-font-weight-base;
}

