/******************************************************************************
                        Bookmarklet Config
******************************************************************************/

/******************************************************************************
                        Bookmarklet Component
******************************************************************************/

$close-icon-hover-color: get-color('accent2');
$bookmarklet-warning-color: get-color('accent2');
$bookmarklet-caution-color: #f7ca18;
$bookmarklet-success-color: get-color('accent4');
.evo_c-bookmarklet {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.75em 1em;
  background-color: white(1);
  color: get-color('background');
  border: solid 1px get-color('background');
  border-radius: 0 0 0 0.2em;
  position: fixed;
  z-index: 1000;
  top: 20em;
  right: 0;
  width: 20em;
  transition: all 0.75s ease;
  transform: translateX(calc(100% + 3.3em));
  & h1 {
    font-size: 1.25em;
    margin-bottom: 0.5em;
    & i {
      margin-right: 0.25em;
    }
  }
  &--is-visible {
    transform: translateX(calc(87% + 3em));
    &:hover {
      transform: translateX(5%);
    }
    @media screen and (max-width: 24em) {
      width: 75%;
      padding-right: 7%;
    }
  }
  & .evo_c-bookmarklet__clear-all {
    margin: 0;
    width: 94.5%;
    text-align: center;
    border-color: get-color('background');
    transition: all 0.25s ease;
    &:hover {
      background-color: $close-icon-hover-color;
      border: solid 1px $close-icon-hover-color;
      color: white(0.9);
      cursor: pointer;
    }
    @media screen and (max-width: 24em) {
      width: 100%;
    }
  }
}

.evo_c-bookmarklet__teaser {
  background-color: white(1);
  padding: 0.61em;
  position: absolute;
  top: -1px;
  left: -2.25em;
  border-top: solid 1px get-color('background');
  border-left: solid 1px get-color('background');
  border-bottom: solid 1px get-color('background');
  border-radius: 0.2em 0 0 0.2em;
  color: get-color('primary');
}

.evo_c-bookmarklet__highlight-text {
  background-color: yellow; //default
}

.evo_c-bookmarklet__bookmark-list-header {
  margin-top: 0;
}

.evo_c-bookmaklet__bookmark-list {
  margin: 0;
  padding: 0;
  list-style-position: inside;
  width: 94.5%;
  @media screen and (max-width: 24em) {
    width: 100%;
  }
}

.evo_c-bookmarklet__bookmark-list-item {
  padding: 0.5em 0.75em 0.5em 1em;
  margin-bottom: 0.5em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border: solid 1px get-color('background');
  background-color: white(1);
  position: relative;
  border-radius: 0.2em;
  // width: 17em;
  & a:first-of-type {
    padding: 0;
    color: get-color('primary');
    flex: 1 1 100%;
    transition: all 0.2s ease;
    &:hover {
      color: get-color('primary', 'dark');
    }
  }
}

.evo_c-bookmarklet__close-icon {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.1em 0.2em 0 0;
  color: black(0.25);
  transition: all 0.25s ease;
  cursor: pointer;
  font-size: 16px;
  &:hover {
    color: $close-icon-hover-color;
  }
}

.evo_c-bookmarklet__alert-close-icon {
  position: absolute;
  top: 0.2em;
  right: 0.5em;
  font-size: 1em;
  color: white(0.75);
}

.evo_c-btn {
  background: transparent;
  border: 0.1em;
  border-radius: 0.2em;
  border-style: solid;
  color: get-color('background');
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  line-height: 2.4em;
  margin: 0 0.5em;
  padding: 0.1em 1.2em;
  position: relative;
  &:hover {
    text-decoration: none;
  }
}

.evo_c-bookmarklet__google-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px white(1);
  color: black(0.25);
  border-radius: 0.2em;
  padding: 0.4em 0;
  margin: 1em 0 0.3em 34%;
  font-size: 0.75em;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.25s ease;
  &:hover {
    color: black(0.35);
    border: solid 1px black(0.35);
  }
  & i {
    margin-left: 0.5em;
    margin-top: 0.1em;
    font-size: 1em;
    text-decoration: none;
  }
}

.evo_c-bookmarklet--remove {
  animation: evo_c-bookmarklet--fade-out 0.5s cubic-bezier(0.54, -0.21, 0.37, 0.92);
}

.evo_c-bookmarklet__alert {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 1.5em 1em 0.5em 1em;
  border-radius: 0.2em;
  position: fixed;
  top: 25%;
  left: 50%;
  z-index: 50;
  text-align: center;
  cursor: pointer;
  transform: translate(-50%, 0);
  animation: evo_c-bookmarklet__alert--pop-in 0.35s forwards ease-in-out;
  color: white(1);
  &--warning {
    @extend .evo_c-bookmarklet__alert;
    background-color: $bookmarklet-warning-color;
    & > i {
      color: lighten($bookmarklet-warning-color, 15);
      width: 100%;
      font-size: 4em;
    }
  }
  &--caution {
    @extend .evo_c-bookmarklet__alert;
    background-color: $bookmarklet-caution-color;
    & > i {
      color: darken($bookmarklet-caution-color, 15);
      width: 100%;
      font-size: 4em;
    }
  }
  &--is-dismissed {
    animation: evo_c-bookmarklet__alert--pop-out 0.35s forwards cubic-bezier(0.7, -0.43, 0.34, 0.76);
  }
  & p {
    margin-top: 0.5em;
    font-size: 1.1em;
    width: 100%;
  }
}

.evo_c-bookmarklet__alert-background {
  width: 100%;
  height: 100%;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
  animation: evo_c-bookmarket--fade-in-bg 0.35s forwards ease;
  &--caution {
    @extend .evo_c-bookmarklet__alert-background;
    background-color: black(0.75);
  }
  &--warning {
    @extend .evo_c-bookmarklet__alert-background;
    background-color: black(0.75);
  }
  &--is-dismissed {
    animation: evo_c-bookmarket--fade-out-bg 0.2s forwards ease;
  }
}

.evo_c-bookmarklet__pop-up {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  background-color: white(1);
  border: solid 1px get-color('background');
  border-radius: 0.2em;
  text-align: center;
  padding: 1em 0.5em;
  width: 13em;
  font-size: 0.9em;
  position: fixed;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s ease;
  &--is-visible {
    pointer-events: auto;
    opacity: 1;
  }
  & p {
    flex: 1 1 100%;
    margin: 0 0 0.5em 0;
  }
  &-button--yes {
    flex: 1 1 30%;
    color: $bookmarklet-success-color;
    cursor: pointer;
    border: solid 1px $bookmarklet-success-color;
    margin-right: 0.25em;
    border-radius: 0.2em;
    padding: 0.1em;
    background-color: white(1);
    transition: all 0.25s ease;
    & i {
      font-size: 1.5em;
      transform: translateY(20%);
    }
    &:hover {
      background-color: lighten($bookmarklet-success-color, 31);
    }
  }
  &-button--no {
    flex: 1 1 30%;
    color: $bookmarklet-warning-color;
    cursor: pointer;
    border: solid 1px $bookmarklet-warning-color;
    margin-left: 0.25em;
    border-radius: 0.2em;
    padding: 0.1em;
    background-color: white(1);
    transition: all 0.25s ease;
    & i {
      font-size: 1.5em;
      transform: translateY(20%);
    }
    &:hover {
      background-color: lighten($bookmarklet-warning-color, 28);
    }
  }
}

.evo_c-bookmarklet__pop-up-pip {
  width: 0.7em;
  height: 0.7em;
  background-color: white(1);
  transform: rotate(45deg);
  position: absolute;
  top: calc(-0.35em - 1px);
  border-left: solid 1px get-color('background');
  border-top: solid 1px get-color('background');
}

@keyframes evo_c-bookmarklet--fade-out {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

@keyframes evo_c-bookmarklet__alert--pop-in {
  0% {
    top: 28%;
    opacity: 0;
  }
  100% {
    top: 25%;
    opacity: 1;
  }
}

@keyframes evo_c-bookmarklet__alert--pop-out {
  0% {
    top: 25%;
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    top: 5%;
    opacity: 0;
  }
}

@keyframes evo_c-bookmarket--fade-in-bg {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1;
  }
}

@keyframes evo_c-bookmarket--fade-out-bg {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0
  }
}
