---
title: "paragraphGallery"
description:
  <p>Paragraph Gallery includes an inline gallery at the end of a block of text.</p>
type: Gallery
author: Imanuel Gittens
category: evolution
order: 1
---

<article class="evo_c-paragraph-gallery-post">
  <h3>Albert Einstein</h3>
  <p>Albert Einstein. (14 March 1879 – 18 April 1955) was a German-born theoretical physicist. He developed the theory of relativity, one of the two pillars of modern physics (alongside quantum mechanics). Einstein's work is also known for its influence
    on the philosophy of science. Einstein is best known in popular culture for his mass–energy equivalence formula E = mc2 (which has been dubbed "the world's most famous equation"). He received the 1921 Nobel Prize in Physics "for his services to
    theoretical physics, and especially for his discovery of the law of th</p>
  <div class="evo_c-paragraph-gallery">
    <div class="gallery-item__wrapper">
    <span class="evo_c-paragraph-gallery__item ">
      <img class="evo_c-paragraph-gallery__image" src="https://placeimg.com/350/350/animals">
    </span>
    </div>
    <div class="gallery-item__wrapper">
    <span class="evo_c-paragraph-gallery__item">
      <img class="evo_c-paragraph-gallery__image" src="https://placeimg.com/350/350/arch">
    </span>
    </div>
  </div>
  <br></br>
  <p>Near the beginning of his career, Einstein thought that Newtonian mechanics was no longer enough to reconcile the laws of classical mechanics with the laws of the electromagnetic field. This led him to develop his special theory of relativity. He
    realized, however, that the principle of relativity could also be extended to gravitational fields, and with his subsequent theory of gravitation in 1916, he published a paper on general relativity. He continued to deal with problems of statistical
    mechanics and quantum theory, which led to his explanations of particle theory and the motion of molecules. He also investigated the thermal properties of light which laid the foundation of the photon theory of light. In 1917, Einstein applied the
    general theory of relativity to model the large-scale structure of the universe.</p>
  <div class="evo_c-paragraph-gallery">
    <div class="gallery-item__wrapper">
    <span class="evo_c-paragraph-gallery__item">
      <img class="evo_c-paragraph-gallery__image" src="https://placeimg.com/350/350/animals">
    </span>
    </div>
    <div class="gallery-item__wrapper">
    <span class="evo_c-paragraph-gallery__item">
      <img class="evo_c-paragraph-gallery__image" src="https://placeimg.com/350/350/nature">
    </span>
    </div>
    <div class="gallery-item__wrapper">
    <span class="evo_c-paragraph-gallery__item">
      <img class="evo_c-paragraph-gallery__image" src="https://placeimg.com/350/350/people">
    </span>
    </div>
    <div class="gallery-item__wrapper">
    <span class="evo_c-paragraph-gallery__item">
      <img class="evo_c-paragraph-gallery__image" src="https://placeimg.com/350/350/arch">
    </span>
    </div>
  </div>
  <br><br>
  <p>He was visiting the United States when Adolf Hitler came to power in 1933 and, being Jewish, did not go back to Germany, where he had been a professor at the Berlin Academy of Sciences. He settled in the United States, becoming an American citizen
    in 1940. On the eve of World War II, he endorsed a letter to President Franklin D. Roosevelt alerting him to the potential development of "extremely powerful bombs of a new type" and recommending that the U.S. begin similar research. This eventually
    led to what would become the Manhattan Project. Einstein supported defending the Allied forces, but generally denounced the idea of using the newly discovered nuclear fission as a weapon. Later, with the British philosopher Bertrand Russell, Einstein
    signed the Russell–Einstein Manifesto, which highlighted the danger of nuclear weapons. Einstein was affiliated with the Institute for Advanced Study in Princeton, New Jersey, until his death in 1955.</p>
  <div class="evo_c-paragraph-gallery">
    <div class="gallery-item__wrapper">
    <span class="evo_c-paragraph-gallery__item">
      <img class="evo_c-paragraph-gallery__image" src="https://placeimg.com/350/350/animals">
    </span>
    </div>
    <div class="gallery-item__wrapper">
    <span class="evo_c-paragraph-gallery__item">
      <img class="evo_c-paragraph-gallery__image" src="https://placeimg.com/350/350/nature">
    </span>
    </div>
    <div class="gallery-item__wrapper">
    <span class="evo_c-paragraph-gallery__item">
      <img class="evo_c-paragraph-gallery__image" src="https://placeimg.com/350/350/people">
    </span>
    </div>
    <div class="gallery-item__wrapper">
    <span class="evo_c-paragraph-gallery__item">
      <img class="evo_c-paragraph-gallery__image" src="https://placeimg.com/350/350/arch">
    </span>
    </div>
    <div class="gallery-item__wrapper">
    <span class="evo_c-paragraph-gallery__item">
      <img class="evo_c-paragraph-gallery__image" src="https://placeimg.com/350/350/tech">
    </span>
    </div>
  </div>
</article>

