
@mixin namespaced( $class, $prefix: $g-framework-name, $apply-on-descendants: true ) {
  $selector:'';
  @if (& != null) and ($apply-on-descendants == false) {
    $selector:'&';
  }
  #{$selector}.#{$prefix}_#{$class} {
    @content;
  }
}

@mixin nm( $class, $prefix: $g-framework-name,  $apply-on-descendants: true) {
  @include namespaced( $class, $prefix, $apply-on-descendants ) {
    @content;
  }
}

@mixin b( $blockName, $is-namespaced: true ) {
  @if $is-namespaced == true {
    @include namespaced($blockName) {
      @content;
    }
  } @else {
    .#{$blockName} {
      @content;
    }
  }
}



@mixin e( $elementName ) {
  &__#{$elementName} {
    @content;
  }
}


@mixin m( $modifierName ) {
  &--#{$modifierName} {
    @content;
  }
}


@mixin bit( $componentName, $BEMIT-namespace, $is-namespaced, $apply-on-descendants: true) {

  $separator: if($BEMIT-namespace == 's', '', '-');
  $BEMIT-namespace: if($BEMIT-namespace == 's', '', $BEMIT-namespace);
  $className: '#{$BEMIT-namespace}#{$separator}#{$componentName}';

  @if ($is-namespaced == true) {
    @include namespaced($className, $apply-on-descendants: $apply-on-descendants) {
      @content;
    }
  } @else {
    @if ($BEMIT-namespace == 's' or $apply-on-descendants == false) {
      // Status class without the namespace
      &.#{$className} {
        @content;
      }
      } @else {
        // Do not use the namespace
        .#{$className} {
          @content;
        }
      }
  }
}



@mixin c( $componentName, $is-namespaced: true ) {
  @include bit($componentName, 'c', $is-namespaced) {
    @content;
  }
}



@mixin o( $objectName, $is-namespaced: true ) {
  @include bit($objectName, 'o', $is-namespaced) {
    @content;
  }
}



@mixin h( $helperName, $is-namespaced: true, $apply-on-descendants: true ) {
  @include bit($helperName, 'h', $is-namespaced, $apply-on-descendants) {
    @content;
  }
}



@mixin l( $layoutName, $is-namespaced: false ) {
  @include bit($layoutName, 'l', $is-namespaced) {
    @content;
  }
}


@mixin s( $statusName, $is-namespaced: false ) {
  @include bit($statusName, 's', $is-namespaced, $apply-on-descendants: false) {
    @content;
  }
}
