//------------------------------------------------------------------------------
//                       Typography SYSTEM
//------------------------------------------------------------------------------

$scales: (
  minor-second:     1.067,
  major-second:     1.125,
  minor-third:      1.200,
  major-third:      1.250,
  perfect-fourth:   1.333,
  augmented-fourth: 1.414,
  perfect-fift:     1.5,
  golden-ratio:     1.618
);
/// List of extra small headings
$su_tp_large-sizes: large, x-large;
$su_tp_small-sizes: small, x-small;

$su_tp_base-font-size:   16px;
$su_tp_base-font-weight: 300;
$su_tp_base-line-height: 1.5rem;

$su_tp_base-base-scale: map-get($scales, 'major-third');

///
/// Generate the vertical rhythm
///
/// @param {Value} $font-size - A valid font size
/// @param {Value} $line-height [$su_tp_base-line-height] - A value height
/// @return {value}
///
@function vrhythm( $font-size, $line-height: $su_tp_base-line-height ){
  @return ceil( $font-size / $line-height ) * ( $line-height / $font-size )
}

///
/// Calculate the power of
///
/// @param {Value} $base - A base
/// @param {Value} $exp  - An exponent
/// @return {value}
///
@function pow( $base, $exp ) {
  $result: 1;

  @if ( $exp > 0 ) {
    @for $i from 1 through $exp {
      $result: $result * $base;
    }
  }

  @return $result;
}

///
/// Calculate the power of
///
/// @param {Value} $size - A font size
/// @return {value} A size in REM
///
@function calculateRem( $size ) {
  $result: $size / $su_tp_base-font-size;
  @return #{$result}rem;
}


///
/// Generate headings (h1 - h6) and extra small headings along with reusable
/// classes .su_h1 - .su_h6
///
/// @param {Number} $levels - The number of headings
/// @param {Boolean} $larger [true] - By default generates extra extra large
///                                     headings which maintains the same scale
/// @param {Boolean} $smaller [true] - By default generates extra extra small
///                                     headings which maintains the same scale
///
/// @require $su_tp_small-sizes
///
@mixin headings( $levels, $larger: true, $smaller: true ){

  @for $i from 1 through $levels {
    $font-size: pow($su_tp_base-base-scale, $levels - $i);
      h#{$i}, .su_h#{$i} {
        font-size: #{$font-size}rem;
        line-height: vrhythm($font-size);
    }
  }

  @if ( $larger == true ) {
    @for $i from 1 through length($su_tp_large-sizes)  {
      $item: nth($su_tp_large-sizes, $i);
      $font-size: pow($su_tp_base-base-scale, 5 + $i);

      .su_#{$item} {
        font-size: calculateRem($su_tp_base-font-size * $font-size);
        line-height: vrhythm($font-size);
      }
    }
  }

  @if ( $smaller == true ) {
    @for $i from 1 through length($su_tp_small-sizes)  {
      $item: nth($su_tp_small-sizes, $i);
      $font-size: pow($su_tp_base-base-scale, $i);

      .su_#{$item} {
        font-size: calculateRem($su_tp_base-font-size / $font-size);
        line-height: vrhythm($font-size);
      }
    }
  }

}

/******************************************************************************
                                  Typography
******************************************************************************/

html {
  font-family: 'Roboto', sans-serif;
  font-size: $su_tp_base-font-size;
  line-height: $su_tp_base-line-height;
}

h1, h2, h3, h4, h5, h6,
p, ul, ol, dl, figure,
blockquote, details, fieldset,
pre, table, hr {
  margin: 0 0 $su_tp_base-line-height 0;
}

@include headings(6);

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

