//----------------------------------------------------------------
//                    Super-Easy Component config
//----------------------------------------------------------------

// The component's name - not mandatory but highly recommended
$c-nav-drop-carousel: 'nav-drop-carousel';

// Components variables

$c-nav-drop-carousel-width: 200px;


$c-nav-drop-carousel-height: 500px; 


$c-nav-drop-circles-height: $c-nav-drop-carousel-height  - 110;

