/******************************************************************************
                              Side Navbar component
******************************************************************************/
@import 'side_navbar-config';

.evo_c-sidenav {
  position: fixed;
  top: 100px;
  right: 100%;
  left: 0;
  margin: 0;
  padding: 0;
}

.evo_c-sidenav__item {
  position: relative;
  left: -170px;
  margin: 0 0 .75em 0;
  padding: 10px;
  width: 200px;
  //height: 50px;
  background-color: $baseColorMed;
  color: white;
  list-style: none;
  line-height: 70px;
  transition: left .2s linear;
}

.evo_c-sidenav__item:hover {
  left: -8px;
  filter: brightness(1.3);
  transition: left .2s linear;
}

.evo_c-sidenav__link {
  display: block;
  margin: -10px;
  padding: 10px 10px 10px 18px;
  //height: 50px;
  color: white;
  text-decoration: none;
  line-height: 50px;
}

.evo_c-sidenav__icon {
  float: right;
  margin: 5px 0 0 0;
  color: white;
  font-size: 40px;
}
