/** TOOLTIP COMPONENT **/
.su_tooltip {
  position: relative;
  display: inline-block;
  z-index: 50;
  border-bottom: dotted 2px #da137f;
  cursor: help; }

.su_tooltip-text {
  display: none;
  opacity: 0;
  transition: opacity 2s; }

.su_tooltip:hover,
.su_tooltip:focus {
  z-index: 51; }

.su_tooltip:hover .su_tooltip-text,
.su_tooltip:focus .su_tooltip-text {
  display: block;
  opacity: 1;
  position: absolute;
  width: 10rem;
  padding: 8px;
  background-color: #72c024;
  box-shadow: 0px 3px 3px 0px #c4c4b3;
  color: white;
  font-size: 12px;
  top: calc(100% + 8px); }

.su_tooltip:hover .su_tooltip-text.su_tool-top,
.su_tooltip:focus .su_tooltip-text.su_tool-top {
  top: calc(100% - 70px); }

.su_tooltip-text::before {
  width: 0;
  height: 0;
  display: block;
  position: absolute;
  bottom: 100%;
  content: '';
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #72c024; }

.su_tooltip-text.su_tool-top::before {
  top: 100%;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #72c024;
  border-bottom: 0; }

/** END TOOLTIP COMPONENT **/
