---
title: "Radio Variations"
description: |
  <p>
    A Radio button comes in the following color variants

    <ul>
      <li><code>evo_c-form__radio--variation2</code></li>
      <li><code>evo_c-form__radio--variation3</code></li>
    </ul>
  </p>
author: Gabriele Romeo
category: standard
type: Standard Forms
order: 6
---


<div class="evo_c-form h-bck__secondary">

    <!-- Radio Button -->
    <div class="evo_c-form__field">

      <fieldset class="evo_c-form__fieldset">


        <input id="c-form-radio-5-1" name="c-form-radio-5" type="radio" checked>
        <label class="evo_c-form__radio" for="c-form-radio-5-1">
          First Choice
        </label>

        <input id="c-form-radio-5-2" name="c-form-radio-5" type="radio">
        <label class="evo_c-form__radio evo_c-form__radio--variation2" for="c-form-radio-5-2">
          Second Choice
        </label>

        <input id="c-form-radio-5-3" name="c-form-radio-5" type="radio">
        <label class="evo_c-form__radio evo_c-form__radio--variation3" for="c-form-radio-5-3">
          Third Choice
        </label>

      </fieldset>

    </div>


</div>

