/*
* GRID COMPONENT
*/

$su_gutter: 1em;
$su_1of12: percentage(1/12);
$su_2of12: percentage(2/12);
$su_3of12: percentage(3/12);
$su_4of12: percentage(4/12);
$su_5of12: percentage(5/12);
$su_6of12: percentage(6/12);
$su_7of12: percentage(7/12);
$su_8of12: percentage(8/12);
$su_9of12: percentage(9/12);
$su_10of12: percentage(10/12);
$su_11of12: percentage(11/12);

.su_line {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
}

.su_cell {
  padding: 0.5em;
  margin-bottom: 1em;
  word-wrap: break-word;
  width: 100%;
  box-sizing: border-box;
}

@media screen and (min-width: 769px) {
  .su_cell {
    flex: 1;
  }

  .su_gutters{
    margin-left: -$su_gutter;
  }

  .su_gutters .su_cell{
    margin-left: $su_gutter;
  }

  /* Columns count */

  .su_cells_1 {
    flex: 0 0 calc(#{$su_1of12});
    max-width: calc(#{$su_1of12});
  }

  .su_gutters .su_cells_1 {
    flex: 0 0 calc(#{$su_1of12} - #{$su_gutter});
    max-width: calc(#{$su_1of12} - #{$su_gutter});
  }

  .su_cells_2 {
    flex: 0 0 calc(#{$su_2of12});
    max-width: calc(#{$su_2of12});
  }

  .su_gutters .su_cells_2 {
    flex: 0 0 calc(#{$su_2of12} - #{$su_gutter});
    max-width: calc(#{$su_2of12} - #{$su_gutter});
  }

  .su_cells_3 {
    flex: 0 0 calc(#{$su_3of12});
    max-width: calc(#{$su_3of12});
  }

  .su_gutters .su_cells_3 {
    flex: 0 0 calc(#{$su_3of12} - #{$su_gutter});
    max-width: calc(#{$su_3of12} - #{$su_gutter});
  }

  .su_cells_4 {
    flex: 0 0 calc(#{$su_4of12});
    max-width: calc(#{$su_4of12});
  }

  .su_gutters .su_cells_4 {
    flex: 0 0 calc(#{$su_4of12} - #{$su_gutter});
    max-width: calc(#{$su_4of12} - #{$su_gutter});
  }

  .su_cells_5 {
    flex: 0 0 calc(#{$su_5of12});
    max-width: calc(#{$su_5of12});
  }

  .su_gutters .su_cells_5 {
    flex: 0 0 calc(#{$su_5of12} - #{$su_gutter});
    max-width: calc(#{$su_5of12} - #{$su_gutter});
  }

  .su_cells_6 {
    flex: 0 0 calc(#{$su_6of12});
    max-width: calc(#{$su_6of12});
  }

  .su_gutters .su_cells_6 {
    flex: 0 0 calc(#{$su_6of12} - #{$su_gutter});
    max-width: calc(#{$su_6of12} - #{$su_gutter});
  }

  .su_cells_7 {
    flex: 0 0 calc(#{$su_7of12});
    max-width: calc(#{$su_7of12});
  }

  .su_gutters .su_cells_7 {
    flex: 0 0 calc(#{$su_7of12} - #{$su_gutter});
    max-width: calc(#{$su_7of12} - #{$su_gutter});
  }

  .su_cells_8 {
    flex: 0 0 calc(#{$su_8of12});
    max-width: calc(#{$su_8of12});
  }

  .su_gutters .su_cells_8 {
    flex: 0 0 calc(#{$su_8of12} - #{$su_gutter});
    max-width: calc(#{$su_8of12} - #{$su_gutter});
  }

  .su_cells_9 {
    flex: 0 0 calc(#{$su_9of12});
    max-width: calc(#{$su_9of12});
  }

  .su_gutters .su_cells_9 {
    flex: 0 0 calc(#{$su_9of12} - #{$su_gutter});
    max-width: calc(#{$su_9of12} - #{$su_gutter});
  }

  .su_cells_10 {
    flex: 0 0 calc(#{$su_10of12});
    max-width: calc(#{$su_10of12});
  }

  .su_gutters .su_cells_10 {
    flex: 0 0 calc(#{$su_10of12} - #{$su_gutter});
    max-width: calc(#{$su_10of12} - #{$su_gutter});
  }

  .su_cells_11 {
    flex: 0 0 calc(#{$su_11of12});
    max-width: calc(#{$su_11of12});
  }

  .su_gutters .su_cells_11 {
    flex: 0 0 calc(#{$su_11of12} - #{$su_gutter});
    max-width: calc(#{$su_11of12} - #{$su_gutter});
  }

  /* End columns count */
}

@media screen and (min-width: 961px) {
  .su_container {
    width: 960px;
    margin: 0 auto;
  }

}

.su_demo .su_cell {
  border: 1px solid #72c024;
  border-radius: 4px;
}

.su_demo .su_cell.su_accent-bg-light {
  border: 1px solid #da137f;
  border-radius: 4px;
}
/*
* END GRID COMPONENT
*/
