<div class="su_space-top--medium"></div>
<h2>Responsive Grid (12 columns)</h2>

<h3>Basic Grid</h3>
<h4>Add the class <code>su_cells_{number}</code> to your cell</h4>
  <div class="su_line su_align-center">
    <div class="su_cell su_cells_12 su_primary-bg-light">12</div>
  </div>
  <div class="su_line su_align-center">
    <div class="su_cell su_cells_6 su_primary-bg-light">6</div>
    <div class="su_cell su_cells_6 su_primary-bg-light">6</div>
  </div>
  <div class="su_line su_align-center">
    <div class="su_cell su_cells_3 su_primary-bg-light">3</div>
    <div class="su_cell su_cells_5 su_primary-bg-light">5</div>
    <div class="su_cell su_cells_4 su_primary-bg-light">4</div>
  </div>
  <div class="su_line su_align-center">
    <div class="su_cell su_cells_11 su_primary-bg-light">11</div>
    <div class="su_cell su_cells_1 su_primary-bg-light">1</div>
  </div>
  <div class="su_line su_align-center">
    <div class="su_cell su_cells_1 su_primary-bg-light">1</div>
    <div class="su_cell su_cells_1 su_primary-bg-light">1</div>
    <div class="su_cell su_cells_1 su_primary-bg-light">1</div>
    <div class="su_cell su_cells_1 su_primary-bg-light">1</div>
    <div class="su_cell su_cells_1 su_primary-bg-light">1</div>
    <div class="su_cell su_cells_1 su_primary-bg-light">1</div>
    <div class="su_cell su_cells_1 su_primary-bg-light">1</div>
    <div class="su_cell su_cells_1 su_primary-bg-light">1</div>
    <div class="su_cell su_cells_1 su_primary-bg-light">1</div>
    <div class="su_cell su_cells_1 su_primary-bg-light">1</div>
    <div class="su_cell su_cells_1 su_primary-bg-light">1</div>
    <div class="su_cell su_cells_1 su_primary-bg-light">1</div>
  </div>

  <div class="su_space-top--small"></div>
  <h3>Grid with Spacing</h3>
  <h4>Simply add the class <code>su_gutters</code> to your line</h4>

  <div class="su_line su_gutters su_align-center">
    <div class="su_cell su_cells_6 su_accent-bg-light">6</div>
    <div class="su_cell su_cells_6 su_accent-bg-light">6</div>
  </div>
  <div class="su_line su_gutters su_align-center">
    <div class="su_cell su_cells_3 su_accent-bg-light">3</div>
    <div class="su_cell su_cells_5 su_accent-bg-light">5</div>
    <div class="su_cell su_cells_4 su_accent-bg-light">4</div>
  </div>
  <div class="su_line su_gutters su_align-center">
    <div class="su_cell su_cells_1 su_accent-bg-light">11</div>
    <div class="su_cell su_cells_11 su_accent-bg-light">1</div>
  </div>
