root = true


[*]
indent_style = space
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# Use 2 spaces for indentation in HTML, JavaScript SCSS
[*.{html,js,scss}]
indent_size = 2

[*.js]
indent_brace_style = 1TBS
continuation_indent_size = 2
curly_bracket_next_line = true
space_after_anonymous_functions = true
space_after_control_statements = true
spaces_around_operators = true
spaces_in_brackets = false
quote_type = single

# Use 4 spaces for indentation in Markdown files

[*.md]
indent_size = 4