{
  "extends": ["eslint:recommended"],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "rules": {
    "no-console": 0,
    "no-unused-vars": 0,
    "no-undef": 0,
    "no-redeclare": 0, // should be removed before prod
    "no-empty": 0 // should be removed before prod
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  }
}
