node_modules
npm-debug.log
.sass-cache
production
*.iml
.idea/
public
dist
.publish
assets/**/*.map
assets/**/*.css
!assets/sassdoc/assets/css/main.css
docs/assets/scripts/evolution-ui/
docs/assets/styles/evolution-ui/
docs/assets/images/component_assets/
docs/assets/images/components/
docs/assets/images/developers/
docs/assets/images/standard/