node_modules
npm-debug.log
.sass-cache
production
*.iml
.idea/
public
dist
.publish
assets/**/*.map
assets/**/*.css
!assets/sassdoc/assets/css/main.css
/.csscomb.json
docs/assets/evolution-ui/scripts/app.js
docs/assets/evolution-ui/styles/main.css

