/******************
  General Styles
*******************/

header {
  background: #22262A;
  /*padding: 1.5em;*/
  color: #70869A;
}

body {
  background: #30363B;
  /*padding: 0;*/
  /*margin: 0;*/
}


.su_list-item .active {
  border-right: 2px solid red;
}

#nav_links {
  border-radius: 0;
  box-shadow: none;
}

#nav_links a {
  color: #70869A;
  border-radius: 0;
}

#nav_links a:hover,
#nav_links a:focus {
  color: #3CBCD5;
  border-right: 5px solid #3CBCD5;
}

footer img {
  max-width: 5em;
  border-radius: 50%;
}

footer li {
  list-style-type: none;
}
