/******************
  General Styles
*******************/

header {
  background: #22262A;
  /*padding: 1.5em;*/
  color: #70869A;
}

body {
  background: #30363B;
  /*padding: 0;*/
  /*margin: 0;*/
}

h2, footer {
  color: #E7E7E7;
}

.su_list-item {
  color: #70869A;
}

footer img {
  max-width: 5em;
  border-radius: 50%;
}

footer li {
  list-style-type: none;
}
