.su_card * {
  box-sizing: border-box;
}

.su_card {
  background-color: su_color('background', 'light');
  border-radius: 4px;
  box-shadow: 0px 3px 3px 0px su_color('background', 'dark');
  padding: 1.5rem;

  &.su_color-primary {
    background-color: su_color();
    color: su_color('background', 'light');
  }

  &.su_color-info {
    background-color: su_color('accent');
    color: su_color('background', 'light');
  }

  .su_card-title {
    margin-bottom: 0.875rem;
  }

  .su_card-image {
    margin-bottom: 1.25rem;

    > img {
      width: 100%;
      border-radius: 4px 4px 0 0;
    }

    .su_img-profile {
      border-radius: 50%;
    }

  }

  &.su_img-fill {

    .su_card-image {
      margin: -1.5rem -1.5rem 1.5rem -1.5rem;
    }

  }

  &.su_img-overlap {
    margin: 0 auto;
    width: 90%;

    .su_card-image {
      margin: -2.5rem -3rem 1.5rem -3rem;

      > img {
        border-radius: 4px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      }
    }
  }

  &.su_card-product {


    .su_card-body {
      padding-top: 1.25rem;
      padding-bottom: 1.25rem;
    }

    .su_product-price {
      font-size: 1.5em;
    }

    .su_product-share {
      cursor: pointer;
      color: su_color('accent');

      &:hover {

      }
    }
  }

  &.su_card-profile {
    .su_card-image {
      position: relative;
      margin-bottom: 30%;
    }
    .su_card-profile-image {
      border: 5px solid su_color('background', 'light');
      border-radius: 50%;
      bottom: -25%;
      height: auto;
      max-width: 40%;
      position: absolute;
      left: 30%;
    }
  }

  &.su_card-horizontal {
    display: flex;

    .su_card-image {
      padding: 0.625rem 0.625rem 0 0;

      > img {
        border-radius: 4px;
      }
    }

    .su_card-body {
      padding: 0.625rem 0 0 0.625rem;
    }

  }


  .su_card-body {
    margin-bottom: 1.5rem;
  }

  .su_card-footer {
    border-top: 1px solid su_color('background');
    padding-top: 1.25rem;
  }

  p {
    font-weight: 300;
  }

  @media screen and (max-width: 499px) {

    &.su_card-horizontal {
      flex-wrap: wrap;
      flex-direction: column;
    }
  }

}
