<h2>A simple modal</h2>

<p>See the modal one: <span class="material-icons" data-modal-trigger="simple" data-info="Nothing to see here, please move along!">search</span></p>

<p>See the modal two: <span class="material-icons" data-modal-trigger="simple" data-info="Sorry, the search is temporary disabled.">search</span></p>

<p>See the modal three: <span class="material-icons" data-modal-trigger="simple" data-info="No can do now, come back later, dude!">search</span></p>

<div class="su_modal su_modal-simple" data-modal-type="simple">
  <span class="su_modal-close material-icons">close</span>
  <div class="su_modal-content su_align-center"></div>
</div>
