@import 'spiralText-config';

// Spiral Text in Button
.evo_c-spiralText * {
  box-sizing: border-box;
}

[class^="evo_c-spiralText"] {
  @extend %c-spiralText__button-clearDefaults;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: inherit;
  font-size: $c-spiralText-font-size;
  color: $c-spiralText-font-color;
  margin: 12px;
  &:hover {
    em:nth-of-type(5n+1) {
      background-color: get-color(primary, dark);
    }
    em:nth-of-type(5n+2) {
      background-color: get-color(accent, base);
    }
    em:nth-of-type(5n+3) {
      background-color: get-color(accent2, base);
    }
    em:nth-of-type(5n+4) {
      background-color: get-color(accent3, base);
    }
    em:nth-of-type(5n+5) {
      background-color: get-color(accent4, base);
    }
    em {
      transform: rotateY(360deg);
    }
  }
  &[class*="__button"] {
    background: $c-spiralText-background-color;
    height: $c-spiralText-button-height;
    width: 400px;
    border-radius: 3px;
    // padding: 0 12px;
    &:hover {
      background: lighten($c-spiralText-background-color, 5%);
      @extend %c-spiralText__button-pointer;
    }  
  }
  &[class*="circle"] {
    em {
      border-radius: 50%;
    }
  }
  &[class*="fullHeight"] {
    em {
      height: inherit;
    }
  }
  &[class*="circlefullHeight"] {
    em {
      width: $c-spiralText-button-height;
    }
  }
  &:not([class*="fullHeight"]) {
    em {
      padding: .08em;
    }
  }
  em {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background .25s, transform .25s;
    width: 1.25em;
    margin: 0;
    &:nth-of-type(2) {
      transition-delay: .04s;
    }
    &:nth-of-type(3) {
      transition-delay: .08s;
    }
    &:nth-of-type(4) {
      transition-delay: .12s;
    }
    &:nth-of-type(5) {
      transition-delay: .16s;
    }
    &:nth-of-type(6) {
      transition-delay: .20s;
    }
    &:nth-of-type(7) {
      transition-delay: .24s;
    }
    &:nth-of-type(8) {
      transition-delay: .28s;
    }
    &:nth-of-type(9) {
      transition-delay: .32s;
    }
    &:nth-of-type(n+10) {
      transition-delay: .36s;
    }
    &:nth-of-type(n+11) {
      transition-delay: .4s;
    }
  }
  .space {
    margin: 0 6px;
  }
}

