//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//                             BODY ELEMENT
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

//--------------------------------------------------------------------------
//                         LOW -- HEADER MODIFIER
//--------------------------------------------------------------------------


//--------------------------------------------------------------------------
//                         spiralText_button Component config file
//--------------------------------------------------------------------------

$c-spiralText-button-name: 'spiralText_button';

// Components Variables
$c-spiralText_background-color: get-color('primary', 'light');
$c-spiralText-font-color: get-color(secondary, darken);
$c-spiralText-font-size: 1.4em;

// Component placeholder
%c-spiralText__button-pointer {
  cursor: pointer;
}
%c-spiralText__button-clearDefaults {
  border: none;
  outline: none;
  text-decoration: none;
  color: inherit;
  margin: 0;
  padding: 0;
  font: inherit;
}
