//------------------------------------------------------------------------------
//                       Crumble config
//------------------------------------------------------------------------------



$c-crumble-name: 'crumble';
$c-crumble-event-name: 'event';

$c-crumble-font-weight: 300;

$c-crumble-span-min-height: 50px;
$c-crumble-header-height: 60px;
$c-crumble-body-height: 60px;


$c-crumble-tag-width: 60px;

$c-crumble-unfold-duration: .7s;


//------------------------------------------------
//              Media Queries
//------------------------------------------------

$c-crumble-media-tablet: 768px;
$c-crumble-media-desktop: 1024px;
$c-crumble-media-desktop-HD: 1200px;



//------------------------------------------------------------------------------
//                          Crumble Placeholders
//------------------------------------------------------------------------------


%c-crumble-unfold-transition {
  transition: transform $c-crumble-unfold-duration cubic-bezier(0.22, 0.61, 0.36, 1);
}

%c-crumble-pointer {
  cursor: pointer;
}

%c-crumble-rotate-to-initial {
  transform: rotateX(0)!important;
}
