<section>
  <h2>List Groups</h2>

  <article style="margin-bottom: 70px">
    <h3>Basic List Group</h3>
    <ul class="su_list">
      <li class="su_list-item">Item 1</li>
      <li class="su_list-item">Item 2</li>
      <li class="su_list-item">Item 3</li>
      <li class="su_list-item">Item 4</li>
      <li class="su_list-item">Item 5</li>
    </ul>
  </article>

  <article style="margin-bottom: 70px">
    <h3>List Group with Icons</h3>
    <p>Simply add icons of your choice to list items.</p>
    <ul class="su_list">
      <li class="su_list-item"><i class="material-icons">face</i> Item 1</li>
      <li class="su_list-item"><i class="material-icons">star_border</i> Item 2</li>
      <li class="su_list-item"><i class="material-icons">face</i> Item 3</li>
      <li class="su_list-item"><i class="material-icons">star_border</i> Item 4</li>
      <li class="su_list-item"><i class="material-icons">face</i> Item 5</li>
    </ul>
  </article>
  <article style="margin-bottom: 70px">
    <h3>List Group with Labels</h3>
    <p>Wrap the labels withing a <code>.su_list-item-label</code> class.</p>
    <ul class="su_list">
      <li class="su_list-item">Item 1 <span class="su_list-item-label">6</span></li>
      <li class="su_list-item">Item 2 <span class="su_list-item-label">123</span></li>
      <li class="su_list-item">Item 3 <span class="su_list-item-label">99</span></li>
      <li class="su_list-item">Item 4 <span class="su_list-item-label">5</span></li>
      <li class="su_list-item">Item 5 <span class="su_list-item-label">1</span></li>
    </ul>
  </article>

  <article style="margin-bottom: 70px">
    <h3>List Group as Links</h3>
    <p>You can create a list of links instead. To show an active list item, add the <code>.active</code> class to it.</p>
    <div class="su_list ">
      <a href="#" class="su_list-item active">Item 1</a>
      <a href="#" class="su_list-item">Item 2</a>
      <a href="#" class="su_list-item">Item 3</a>
      <a href="#" class="su_list-item">Item 4</a>
      <a href="#" class="su_list-item">Item 5</a>
    </div>
  </article>

  <article style="margin-bottom: 70px">
    <h3>Content List Group with Image</h3>
    <p>Create a list with your custom content. Simply add your content within the <code>li</code> items.</p>
    <ul class="su_list">
      <li class="su_list-item">
        <img src="../components/list/images/face.jpg">
        <h4>John Doe</h4>
        <p>To fourth divide good. Multiply also subdue may all fill hath place can&#39;t place brought second tree. Beast created were.</p>
      </li>
      <li class="su_list-item">
        <img src="../components/list/images/face.jpg">
        <h4>John Doe</h4>
        <p>To fourth divide good. Multiply also subdue may all fill hath place can&#39;t place brought second tree. Beast created were.</p>
      </li>
      <li class="su_list-item">
        <img src="../components/list/images/face.jpg">
        <h4>John Doe</h4>
        <p>Living blessed in second. Deep abundantly fly hath midst fly the, spirit cattle rule life stars grass form lights fruitful.</p>
      </li>
    </ul>
  </article>

  <article style="margin-bottom: 70px">
    <h3>Content List Group with Rounded Image</h3>
    <p>The same as above, but with rounded images. You will need to apply <code>.su_img-rounded</code> class to each image.</p>
    <ul class="su_list">
      <li class="su_list-item">
        <img class="su_img-rounded" src="../components/list/images/face.jpg">
        <h4>John Doe</h4>
        <p>To fourth divide good. Multiply also subdue may all fill hath place can&#39;t place brought second tree. Beast created were.</p>
      </li>
      <li class="su_list-item">
        <img class="su_img-rounded" src="../components/list/images/face.jpg">
        <h4>John Doe</h4>
        <p>To fourth divide good. Multiply also subdue may all fill hath place can&#39;t place brought second tree. Beast created were.</p>
      </li>
      <li class="su_list-item">
        <img class="su_img-rounded" src="../components/list/images/face.jpg">
        <h4>John Doe</h4>
        <p>Living blessed in second. Deep abundantly fly hath midst fly the, spirit cattle rule life stars grass form lights fruitful.</p>
      </li>
    </ul>
  </article>

  <article style="margin-bottom: 70px">
    <h3>List Group with content in Columns</h3>
    <p>Divide your content into simple columns. Each list item should have the <code>.su_has-columns</code> class. You can then separate your content by wrapping it around a span or div element with a class of <code>su_col</code>. To create a grid, see our grid structure instead.</p>
    <ul class="su_list">
      <li class="su_list-item su_has-columns">
        <div class="su_col">
          <p>Living blessed in second.</p>
        </div>
        <div class="su_col">
          <p>Deep abundantly fly hath midst fly.</p>
        </div>
      </li>
      <li class="su_list-item su_has-columns">
        <div class="su_col"><p>Fish morning day the living darkness fowl</p></div>
        <div class="su_col"><p>Living blessed in second. </p></div>
        <div class="su_col"><p>Fish morning day the living darkness.</p></div>
      </li>
      <li class="su_list-item su_has-columns">
        <div class="su_col"><p>Fish morning day.</p></div>
        <div class="su_col"><p>Living blessed in second.</p></div>
        <div class="su_col"><p>Living blessed in second.</p></div>
        <div class="su_col"><p>Fish morning day the living darkness.</p></div>
      </li>
    </ul>
  </article>

</section>
