
<h2>Pagination</h2>

<h3>Decimal:</h3>

<div class="su_align-center">
  <nav class="su_pagination su_pagination-decimal">
    <ul>
      <li><a href=""></a></li>
      <li class="su_current-page"><a href=""></a></li>
      <li><a href="http://bovacademy.com"></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
    </ul>
  </nav>
</div>

<h3 class="su_clear">Lower Roman:</h3>

<nav class="su_pagination su_pagination-roman-low">
  <ul>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
    <li class="su_current-page"><a href=""></a></li>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
  </ul>
</nav>

<h3 class="su_clear">Upper Roman:</h3>

<nav class="su_pagination su_pagination-roman-up">
  <ul>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
    <li class="su_current-page"><a href=""></a></li>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
  </ul>
</nav>

<h3 class="su_clear">Lower Latin:</h3>

<div class="su_align-center">
  <nav class="su_pagination su_pagination-latin-low">
    <ul>
      <li><a href=""></a></li>
      <li class="su_current-page"><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
    </ul>
  </nav>
</div>

<h3 class="su_clear">Upper Latin:</h3>

<nav class="su_pagination su_pagination-latin-up">
  <ul>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
    <li class="su_current-page"><a href=""></a></li>
    <li><a href=""></a></li>
  </ul>
</nav>
