/* PAGINATION COMPONENT */
.su_pagination {
  display: inline-block;
  margin: 10px auto; }
  .su_pagination::after {
    display: block;
    content: '';
    clear: both; }
  .su_pagination * {
    box-sizing: border-box; }
  .su_pagination ul {
    list-style: none; }
    .su_pagination ul li {
      float: left;
      position: relative;
      width: 40px;
      height: 40px;
      line-height: 40px;
      background-color: #ade576;
      margin: 1px;
      transition: all 0.2s ease-in-out 0s;
      border-radius: 3px; }
      .su_pagination ul li.su_current-page {
        background-color: #59951c; }
      .su_pagination ul li:hover {
        cursor: pointer;
        background-color: #59951c; }
      .su_pagination ul li::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        line-height: inherit;
        text-align: center;
        display: block; }
      .su_pagination ul li a {
        display: block;
        width: 100%;
        height: 100%; }
  .su_pagination ul li:first-child,
  .su_pagination ul li:last-child {
    color: #25760c;
    font-size: 1.2rem; }
    .su_pagination ul li:first-child:hover,
    .su_pagination ul li:last-child:hover {
      color: #113806; }
  .su_pagination ul li:first-child::before {
    content: '\00ab'; }
  .su_pagination ul li:last-child::before {
    content: '\00bb'; }
  .su_pagination ul {
    padding: 0;
    margin: 0;
    float: left; }
    .su_pagination ul::after {
      display: block;
      content: '';
      clear: both; }
  .su_pagination.su_pagination-decimal {
    counter-reset: pagination-decimal; }
    .su_pagination.su_pagination-decimal ul li:not(:first-child):not(:last-child)::before {
      counter-increment: pagination-decimal;
      content: counter(pagination-decimal); }
  .su_pagination.su_pagination-roman-low {
    counter-reset: pagination-roman-low; }
    .su_pagination.su_pagination-roman-low ul li:not(:first-child):not(:last-child)::before {
      counter-increment: pagination-roman-low;
      content: counter(pagination-roman-low,lower-roman); }
  .su_pagination.su_pagination-roman-up {
    counter-reset: pagination-roman-up; }
    .su_pagination.su_pagination-roman-up ul li:not(:first-child):not(:last-child)::before {
      counter-increment: pagination-roman-up;
      content: counter(pagination-roman-up,upper-roman); }
  .su_pagination.su_pagination-latin-up {
    counter-reset: pagination-latin-up; }
    .su_pagination.su_pagination-latin-up ul li:not(:first-child):not(:last-child)::before {
      counter-increment: pagination-latin-up;
      content: counter(pagination-latin-up,upper-latin); }
  .su_pagination.su_pagination-latin-low {
    counter-reset: pagination-latin-lower; }
    .su_pagination.su_pagination-latin-low ul li:not(:first-child):not(:last-child)::before {
      counter-increment: pagination-latin-lower;
      content: counter(pagination-latin-lower,lower-latin); }

/* END PAGINATION COMPONENT */
