@import 'herald-config';

* {
  box-sizing: border-box;
}

.evo_c-herald {
    clear: left;
    display: inline-block;
    float: left;
    height: 0;
    overflow: hidden;
    position: relative;
    transition: border-top 1s 1s, height 1s;
    width: 29em;
  &__furled-border {
    border-radius: 50%;
    box-shadow: inset -0.1em 0.1em 0 0 get-color($type: 'primary', $variant: 'base', $opacity: 1);
    height: .1em;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 27em;
    z-index: 10;
  }
  &__ribbon {
    border-color: get-color($type: 'primary', $variant: 'base', $opacity: 1) get-color($type: 'primary', $variant: 'base', $opacity: 1) transparent get-color($type: 'primary', $variant: 'base', $opacity: 1);
    border-width: 0 1em .5em 1em;
    border-style: solid;
    height: 14em;
    position: absolute;
    transform: translateY(-14em);
    transition: 1s;
    right: 0;
    width: 2em;
    &.lengthen {
      transform: translateY(0);
      transition: transform 1s 1s;
    }
  }
  &__img {
    background: url("../../../../images/component_assets/bovacad.png");
    height: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
  }
  &__content {
    background-color: $bk-herald-msg;
    display: inline-block;
    padding: 1em;
  }
  &__message {
    height: 25em;
    overflow: auto;
    padding-bottom: 1em;
    width: 25em;
    & a {
      color: get-color($type: 'primary', $variant: 'base', $opacity: 1);
      padding: 0;
    }
  }
  &__trigger {
    float: left;
    margin-bottom: 1em;
    &.clickable {
      cursor: pointer;
    }
    & .c-chip__media--o {
      border: 2px solid get-color($type: 'primary', $variant: 'base', $opacity: 1);
      color: get-color($type: 'primary', $variant: 'base', $opacity: 1);
    }
  }
}

.evo_c-herald.announce {
  border-top: .5em solid get-color($type: 'primary', $variant: 'base', $opacity: 1);
  height: 25em;
  & > .evo_c-herald__furled-border {
    animation: unfurl 1s cubic-bezier(1, 0.66, 0.56, 0.93) forwards;
  }
  & > .evo_c-herald__content {
    transform: translateY(0) !important;
    transition: 1s 1.5s;
  }
}

// -------------------------------------------------------------------------------------------------------------------
// Requires accessible animation to prevent the content from showing on load before the script is finished loading,
// should a user have JS enabled.
// -------------------------------------------------------------------------------------------------------------------

.evo_c-herald.no-js {
  animation: accessible 1.5s linear forwards;
  border-top: .5em solid get-color($type: 'primary', $variant: 'base', $opacity: 1);
  & > .evo_c-herald__furled-border {
    box-shadow: none;
    opacity: 1;
  }
  & > .evo_c-herald__ribbon {
    border-style: solid;
    transform: translateY(0);
  }
}

// -------------------------------------------------------------------------------------------------------------------
// Jing's chip styling
// -------------------------------------------------------------------------------------------------------------------


%c-chip {
  outline: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 2em;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 1em;
  font-size: 0.9em;
  color: get-color($type: 'secondary', $variant: 'darken', $opacity: 1);
}

%c-chip__media {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  float: left;
  height: 2em;
  width: 2em;
  border-radius: 50%;
  padding: 0;
  font-size: 1em;
  overflow: hidden;
  margin: 0 0.5em 0 -1em;
}

.c-chip__media--o {
  @extend %c-chip__media;
  border: 2px solid get-color($type: 'primary', $variant: 'base', $opacity: 1);
  color: get-color($type: 'primary', $variant: 'base', $opacity: 1);
  margin-left: -1.1em;

  > .c-chip__icon {
    color: inherit;
  }
}

@keyframes accessible {
  0% {
    height: 0;
  }
  100% {
    height: auto;
  }
}

@keyframes unfurl {
  0% {
    height: 3em;
    opacity: 1;
    width: 3em;
  }
  90% {
    height: .1em;
    opacity: 1;
    width: 27em;
  }
  100% {
    opacity: 0;
  }
}

@media (max-width: 464px) {
  .evo_c-herald {
    width: 100%;
    &__content, &__message {
      width: 100%;
    }
    &__img {
      background-size: contain;
    }
    &.no-js > .evo_c-herald__ribbon {
      transform: translateY(-14em);
    }
  }
}

@media (min-width: 2000px) {
  .evo_c-herald {
    font-size: 1.5em;
  }
}
