<h2>Slide in, off canvas navigation</h2>

  <div class="su_offcanvas-menu-slide-in">

      <aside class="su_aside su_left">
        <nav>
          <ul>
            <li>
              <a href="#">Link 1</a>
            </li>
            <li>
              <a href="#">Link 2</a>
            </li>
            <li class="su_sidenav-current">
              <a href="#">Link 3</a>
            </li>
            <li>
              <a href="#">Long Link 4</a>
            </li>
            <li>
              <a href="#">A Really Really Long Link 5</a>
            </li>
            <li>
              <a href="#">Link 6</a>
            </li>
          </ul>
        </nav>
      </aside>

  </div>

  <div class="su_offcanvas-menu-slide-over">

      <aside class="su_aside su_left su_theme-light">
        <nav>
          <ul>
            <li>
              <a href="#">Link 1</a>
            </li>
            <li>
              <a href="#">Link 2</a>
            </li>
            <li class="su_sidenav-current">
              <a href="#">Link 3</a>
            </li>
            <li>
              <a href="#">Long Link 4</a>
            </li>
            <li>
              <a href="#">A Really Really Long Link 5</a>
            </li>
            <li>
              <a href="#">Link 6</a>
            </li>
          </ul>
        </nav>
      </aside>

  </div>

  <div class="su_offcanvas-menu-reveal">

      <aside class="su_aside su_left">
        <nav>
          <ul>
            <li>
              <a href="#">Link 1</a>
            </li>
            <li>
              <a href="#">Link 2</a>
            </li>
            <li class="su_sidenav-current">
              <a href="#">Link 3</a>
            </li>
            <li>
              <a href="#">Long Link 4</a>
            </li>
            <li>
              <a href="#">A Really Really Long Link 5</a>
            </li>
            <li>
              <a href="#">Link 6</a>
            </li>
          </ul>
        </nav>
      </aside>

  </div>

  <div class="su_background-bg-dark su_offcanvas-wrapper">
    <div class="su_container">

      <h1 class="su_align-center">SeedUI Components</h1>
      <p class="su_align-center">by <strong>Vojislav Grujić</strong></p>

      <h2>Off Canvas Navigation Page</h2>

      <p>Off canvas navigation transitions:</p>

      <div class="su_space-bottom--small su_space-left--small">
        <button class="su_menu-triggers su_btn su_btn-primary" data-menu-effect="slide-over">Slide over</button>
        <button class="su_menu-triggers su_btn su_btn-primary" data-menu-effect="slide-in">Slide in</button>
        <button class="su_menu-triggers su_btn su_btn-primary" data-menu-effect="reveal">Reveal</button>
      </div>

      <p>Hello world! Hello world! Hello world! Hello world! Hello world! Hello world! Hello world! Hello world! Hello world! Hello world! Hello world! Hello world! Hello world! Hello world! Hello world! Hello world! Hello world! Hello world! Hello world! Hello world! Hello world! Hello world! Hello world! Hello world! Hello world! Hello world! Hello world! Hello world! Hello world! Hello world! Hello world! Hello world! Hello world! Hello world! Hello world! Hello world! Hello world! Hello world! Hello world! Hello world! Hello world! Hello world! Hello world! Hello world! Hello world! Hello world! Hello world! Hello world! Hello world! Hello world! Hello world! Hello world! Hello world! Hello world! Hello world! Hello world! Hello world! Hello world! Hello world! Hello world! Hello world! Hello world! Hello world! Hello world! Hello world! Hello world! Hello world! Hello world! Hello world! Hello world!
      </p>
  </div>
</div>
