<!-- form -->
<form class="su_form">

<!-- form field & label-up -->
<div class="su_field su_field-label-up">
  <input class="su_input" id="name" placeholder="" type="text" required>
  <label for="">Name</label>
</div>

<!-- form field has-error -->
<div class="su_field su_field-label-up su_has-error">
  <input class="su_input" id="password" placeholder="" type="password" value="test12345678910" required>
  <label for="password">Password</label>
  <div class="su_error-message">Wrong Password. Try Again</div>
</div>

<!-- checkbox -->
<input class="su_input-checkbox" id="checkbox-1" type="checkbox">
<label for="checkbox-1"><span>Check Box [default]</span></label>
<input class="su_input-checkbox su_input-checkbox--red" id="checkbox-2" type="checkbox">
<label for="checkbox-2">Check Box Red</label>
<input class="su_input-checkbox su_input-checkbox--green-dark" id="checkbox-3" type="checkbox">
<label for="checkbox-3">Check Box Dark Green</label>
<input class="su_input-checkbox su_input-checkbox--pink" id="checkbox-4" type="checkbox">
<label for="checkbox-4">Check Box Pink</label>

<!-- checkbox X -->
<input class="su_input-checkbox su_input-checkbox--x" id="checkbox-5" type="checkbox">
<label for="checkbox-5"><span>Check Box [default]</span></label>
<input class="su_input-checkbox su_input-checkbox--x su_input-checkbox--red" id="checkbox-6" type="checkbox">
<label for="checkbox-6">Check Box Red</label>
<input class="su_input-checkbox su_input-checkbox--x su_input-checkbox--green-dark" id="checkbox-7" type="checkbox">
<label for="checkbox-7">Check Box Dark Green</label>
<input class="su_input-checkbox su_input-checkbox--x su_input-checkbox--pink" id="checkbox-8" type="checkbox">
<label for="checkbox-8">Check Box Pink</label>

<!-- radio -->
<input class="su_input-radio" id="radio-1" name="radio-1" type="radio">
<label for="radio-1"><span>Radio [default]</span></label>
<input class="su_input-radio su_input-radio--red" id="radio-2" name="radio-1" type="radio">
<label for="radio-2">Radio Red</label>
<input class="su_input-radio su_input-radio--green-dark" id="radio-3" name="radio-1" type="radio">
<label for="radio-3">Radio Green Dark</label>
<input class="su_input-radio su_input-radio--pink" id="radio-4" name="radio-1" type="radio">
<label for="radio-4">Radio Pink</label>

<!-- Buttons -->
<input class="su_input" type="button" value="Button">
<!-- Link Button -->
<a class="su_input su_input--button">
  <span>Button 2</span>
  <i class="material-icons">file_download</i>
</a>
<!-- Div Button -->
<div class="su_input su_input--button su_input--button--dark-pink">
  <span>Button 3</span>
  <i class="material-icons">settings</i>
</div>
<div class="su_input su_input--button su_input--button--light-green">
  <span>Button 4</span>
  <i class="material-icons">send</i>
</div>
<div class="su_input su_input--button su_input--button--green">
  <span>Button 5</span>
</div>
<!-- 3D Button -->
<a class="su_input su_input--button su_input--button--3D">
  <span>3D Button</span>
  <i class="material-icons">file_download</i>
</a>


<!-- form-box -->
<div class="su_form-box">
</div>

<!-- input icon -->
<span class="su_input-icon">
  <i class="material-icons">person</i>
</span>

<!-- field with border -->
<div class="su_field su_field--border">
  <input class="su_input su_input--button--3D" type="submit" value="Sign Up">
</div>

<!-- Complete form-box -->
<div class="su_form-box">
  <div>
    <h2 class="su_form-title">join us</h2>
  </div>
  <div class="su_form-box-body">
    <!-- username -->
    <div class="su_field su_field--border">
      <span class="su_input-icon">
        <i class="material-icons">person</i>
      </span>
      <input class="su_input" id="name" placeholder="Username" type="text" required>
    </div>
    <!-- email -->
    <div class="su_field su_field--border">
      <span class="su_input-icon">
        <i class="material-icons">email</i>
      </span>
      <input class="su_input" id="email" placeholder="Email" type="email" required>
    </div>
    <!-- password -->
    <div class="su_field su_field--border su_has-error">
      <span class="su_input-icon">
        <i class="material-icons">lock</i>
      </span>
      <input class="su_input" id="password" placeholder="Password" type="password" value="test12345678910" required>
      <div class="su_error-message">Wrong Password. Try Again</div>
    </div>
  </div>
  <div>
    <div class="su_field su_field--border">
      <input class="su_input su_input--button--3D" type="submit" value="Sign Up">
    </div>
  </div>

</div>

</form>
