@import '../../assets/styles/abstracts/variables';
@import '../../assets/styles/abstracts/functions';
@import '../../assets/styles/abstracts/import-mixins';
@import '../../assets/styles/abstracts/placeholders';

/******************************************************************************
                            Sticky Config
******************************************************************************/

$c-sticky-name: 'sticky';
$sticky-max-width: 9em;
$sticky-padding: 1em;
$sticky-border-radius: 4px;
$sticky-helper-p-max-width: 17em;


/******************************************************************************
                            Sticky Component
******************************************************************************/

// @import 'sticky-config';

@include c('sticky') {

  max-width: $sticky-max-width;
  margin: 0 auto;
  padding: $sticky-padding;
  z-index: 5;
  background: get-color('accent', 'light');
  border-radius: $sticky-border-radius;
  color: white(1);
  clear: both;

  @include e('end') {
    clear: both;
  }
}

@include h('sticky') {
  display: block;
  max-width: 300px;
  padding: 15px;

  @include m('left') {
    float: left;
  }

  @include m('right') {
    float: right;
  }
}
/** END STICKY COMPONENT **/
