/***********************
BUTTONS
***********************/

.su_btn {
  outline: none;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  padding: 15px 25px;
  color: #fff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
  transition: box-shadow 0.2s, background-color 0.2s;
  text-transform: uppercase;
  cursor: pointer;
  &:hover {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
  }
}

.su_btn-primary {
  background-color: su_color();
  &:hover {
    background-color: lighten(su_color(), 5%);
  }
}

.su_btn-secondary {
  background-color: su_color('secondary');
  &:hover {
    background-color: su_color('secondary', 'light');
  }
}

.su_btn-warning {
  background-color: #FEB100;
  &:hover {
    background-color: lighten(#FEB100, 10%);
  }
}

.su_btn-danger {
  background-color: #E40425;
  &:hover {
    background-color: lighten(#E40425, 10%);
  }
}

.su_btn-floating {
  display: inline-block;
  text-align: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
  transition: box-shadow 0.2s, background-color 0.2s;
  &:hover {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
  }
  i {
    color: #fff;
    line-height: 45px;
  }
}

.su_red {
  background-color: #E40425;
}

.su_green-light {
  background-color: su_color();
}

.su_green-dark {
  background-color: su_color('secondary');
}

.su_pink {
  background-color: su_color('accent');
}

.su_btn-to-top {
  position: fixed;
  bottom: 50px;
  right: 50px;
  text-align: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
  transition: box-shadow 0.2s, background-color 0.2s;
  &:hover {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
  }
  i {
    color: #fff;
    font-size: 40px;
    line-height: 45px;
  }
}

.su_btn {
  i {
    position: relative;
    vertical-align: -25%;
    font-size: 22px;
  }
}

.su_btn i.left {
  margin-right: 5px;
}

.su_btn i.right {
  margin-left: 5px;
}

.su_btn-group {
  display: inline-block;
  .su_btn {
    border-radius: 0;
  }
  .su_btn:nth-child(2) {
    border-radius: 4px 0 0 4px;
  }
  .su_btn:last-child {
    border-radius: 0 4px 4px 0;
  }
}

.su_checkbox-input {
  display: none;
  transition: font-size 0.2s;
}

.su_checkbox-input:checked + .su_checkbox-label {
  font-size: 18px;
  transition: all 0.2s;
}

.su_checkbox-input + .su_checkbox-label {
  font-size: 16px;
  transition: all 0.2s;
}

.su_radio-input {
  display: none;
  transition: font-size 0.2s;
}

.su_radio-input:checked + .su_radio-label {
  font-size: 18px;
  transition: all 0.2s;
}

.su_radio-input + .su_radio-label {
  font-size: 16px;
  transition: all 0.2s;
}

/***********************
SWITCHES
***********************/

.su_switch-thin {
  position: relative;
  width: 60px;
}

.su_switch-thin-checkbox {
  display: none;
}

.su_switch-thin-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 5px solid #dedede;
  border-radius: 50px;
}

.su_switch-thin-switch {
  display: block;
  width: 23px;
  height: 23px;
  background: #8F8F8F;
  position: absolute;
  top: -9px;
  margin: 0;
  bottom: 0;
  right: 35px;
  border: 2px solid #dedede;
  border-radius: 50px;
  transition: all 0.2s ease-in 0s;
}

.su_switch-thin-checkbox:checked + .su_switch-thin-label .su_switch-thin-switch {
  right: 0px;
  background-color: darken(#ade576, 10%);
}

.su_switch-fat {
  position: relative;
  width: 60px;
}

.su_switch-fat-checkbox {
  display: none;
}

.su_switch-fat-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 14px solid #dedede;
  border-radius: 50px;
}

.su_switch-fat-switch {
  display: block;
  width: 23px;
  height: 23px;
  background: #8F8F8F;
  position: absolute;
  top: 0;
  margin: 0;
  bottom: 0;
  right: 35px;
  border: 2px solid #dedede;
  border-radius: 50px;
  transition: all 0.2s ease-in 0s;
}

.su_switch-fat-checkbox:checked + .su_switch-fat-label .su_switch-fat-switch {
  right: 0px;
  background-color: darken(#ade576, 10%);
}

.su_switch-square {
  position: relative;
  width: 60px;
}

.su_switch-square-checkbox {
  display: none;
}

.su_switch-square-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 14px solid #dedede;
  // border-radius: 50px;
}

.su_switch-square-switch {
  display: block;
  width: 23px;
  height: 23px;
  background: #8F8F8F;
  position: absolute;
  top: 0;
  margin: 0;
  bottom: 0;
  right: 35px;
  border: 2px solid #dedede;
  transition: all 0.2s ease-in 0s;
}

.su_switch-square-checkbox:checked + .su_switch-square-label .su_switch-square-switch {
  right: 0px;
  background-color: darken(#ade576, 10%);
}
