<html lang="en">
	<head>
    	<meta charset="UTF-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
  
    	<link rel="stylesheet"
          href="https://necolas.github.io/normalize.css/5.0.0/normalize.css">
    	<link href="../../styles/main.css" rel="stylesheet">
    	<link rel="stylesheet"
    	       href="Roboto+Slab|Roboto:300,400,700" rel="stylesheet">
    	<title>Form Fontana</title>
	</head>    
	<body>
    <section class="evo_c-fontana-form">
		<header id="fontanta_form__header">Form inspired by Italian artist/painter Lucio Fontana</header>
    <section class="evo_c-fontana-form">
		  <form id="evo_c-fontana-form"> 
  		<input id="evo_c-fontana-form__first-name" class="evo_c-fontana-form__inputAttr" type="text" 
             placeholder="FIRST NAME" minlength="3" maxlength="25" required> 
  
  		<input id="evo_c-fontana-form__last-name" class="evo_c-fontana-form__inputAttr" type="text" 
            placeholder="LAST NAME" minLength="3" maxlength="25" required>

  		<input id="evo_c-fontana-form__email"  class="evo_c-fontana-form__inputAttr type="
             email"             
             placeholder="EMAIL" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[
                   a-zA-Z]{2,}" required>
 
		 	<textarea id="evo_c-fontana-form__message" type="text" cols="45" rows="5" required 
                placeholder="MESSAGE"></textarea>
  
  		<div id="evo_c-fontana-form__textbottom"></div>
      <div class="evo_c-fontana-form__button--black">
        <div class="evo_c-fontana-form__button--black-line_before"></div>
        <p class="evo_c-fontana-form__button--black-btnText">SUBMIT</p>
        <div class="evo_c-fontana-form__button--black-line_after"></div>  
      </div>                         
		</form>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
	</body>
</html>	