---
title: "Default"
description:
  <p>The scrolling nav carousel is a evolution component. When you scroll to the carousel's position and continues to scroll down, each time you scroll down, the scrolling works like clicking the next button for the carousel, moving from one photo to the next. Before that, it will keep its original state.</p>
  <p>If you scroll back up the page and sees the carousel, the last photo of the carousel will still be in view. But if the user continues to scroll up, the scroll will trigger the back nav button for the carousel, which will result in the already viewed photos sliding down back into view, one after the other, in sequence.</p>
  <p>The `evo_c-scrolling-nav__notifier` controls the notifiers of the sliders and the notifiers will automatically added based on the amount of the sliders. The `evo_c-scrolling-nav__list` contains all the slider elements and the last slider item actually displays as the first one.</p>
type: Scrolling Nav Carousel
author: Yerui Yu
category: evolution
order: 1
---
    <!-- Nav scrolling Carousel -->
    <article class="evo_c-scrolling-nav__container">

      <!-- Notifiers -->
      <ul class="evo_c-scrolling-nav__notifier">
      </ul>

      <!-- Slides -->
      <ul class="evo_c-scrolling-nav__list">
        <li class="evo_c-scrolling-nav__item">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/snowy-winter-vignette-bokeh-night-snow-falling-free-stock-photo.jpg" alt="" />
        </li>
        <li class="evo_c-scrolling-nav__item">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/free-stock-photos-1.jpg" alt="" />
        </li>
        <li class="evo_c-scrolling-nav__item">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/waterfall-free-stock-photo-244915.jpg" alt="" />
        </li>
      </ul>

    </article> <!-- End Nav Scrolling Carousel -->