<!-- Animations -->

<h2>CSS Animations</h2>

<div class="su_line">
  <table id="su_anim" class="su_table su_table-bordered su_align-center">
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th class="su_align-center">Classes</th>
        <th class="su_align-center">Default duration</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="su_primary-bg-light" colspan="4"><h3>Fade In</h3></td>
      </tr>
      <tr>
        <td></td>
        <td><img src="../img/component_assets/flowers.png" class="su_anim--fadeIn" alt="Animation Test"></td>
        <td><code class="su_code">.su_anim--fadeIn</code></td>
        <td><code class="su_foreground-bg-light">animation-duration: 1s</code></td>
      </tr>
      <tr>
        <td></td>
        <td><img src="../img/component_assets/flowers.png" class="su_anim--fadeInLeft" alt="Animation Test"></td>
        <td><code class="su_code">.su_anim--fadeInLeft</code></td>
        <td><code class="su_foreground-bg-light">animation-duration: 1s</code></td>
      </tr>
      <tr>
        <td></td>
        <td><img src="../img/component_assets/flowers.png" class="su_anim--fadeInRight" alt="Animation Test"></td>
        <td><code class="su_code">.su_anim--fadeInRight</code></td>
        <td><code class="su_foreground-bg-light">animation-duration: 1s</code></td>
      </tr>
      <tr>
        <td></td>
        <td><img src="../img/component_assets/flowers.png" class="su_anim--fadeInDown" alt="Animation Test"></td>
        <td><code class="su_code">.su_anim--fadeInDown</code></td>
        <td><code class="su_foreground-bg-light">animation-duration: 1s</code></td>
      </tr>
      <tr>
        <td class="su_primary-bg-light" colspan="4"><h3>Fade Out</h3></td>
      </tr>
      <tr>
        <td></td>
        <td><img src="../img/component_assets/flowers.png" class="su_anim--fadeOut" alt="Animation Test"></td>
        <td><code class="su_code">.su_anim--fadeOut</code></td>
        <td><code class="su_foreground-bg-light">animation-duration: 1s</code></td>
      </tr>
      <tr>
        <td></td>
        <td><img src="../img/component_assets/flowers.png" class="su_anim--fadeOutLeft" alt="Animation Test"></td>
        <td><code class="su_code">.su_anim--fadeOutLeft</code></td>
        <td><code class="su_foreground-bg-light">animation-duration: 1s</code></td>
      </tr>
      <tr>
        <td></td>
        <td><img src="../img/component_assets/flowers.png" class="su_anim--fadeOutRight" alt="Animation Test"></td>
        <td><code class="su_code">.su_anim--fadeOutRight</code></td>
        <td><code class="su_foreground-bg-light">animation-duration: 1s</code></td>
      </tr>
      <tr>
        <td></td>
        <td><img src="../img/component_assets/flowers.png" class="su_anim--fadeOutDown" alt="Animation Test"></td>
        <td><code class="su_code">.su_anim--fadeOutDown</code></td>
        <td><code class="su_foreground-bg-light">animation-duration: 1s</code></td>
      </tr>
      <tr>
        <td class="su_primary-bg-light" colspan="4"><h3>Zoom</h3></td>
      </tr>
      <tr>
        <td></td>
        <td><img src="../img/component_assets/flowers.png" class="su_anim--zoomIn" alt="Animation Test"></td>
        <td><code class="su_code">.su_anim--zoomIn</code></td>
        <td><code class="su_foreground-bg-light">animation-duration: 1s</code></td>
      </tr>
      <tr>
        <td></td>
        <td><img src="../img/component_assets/flowers.png" class="su_anim--zoomOut" alt="Animation Test"></td>
        <td><code class="su_code">.su_anim--zoomOut</code></td>
        <td><code class="su_foreground-bg-light">animation-duration: 1s</code></td>
      </tr>
      <tr>
        <td class="su_primary-bg-light" colspan="4"><h3>Rotate</h3></td>
      </tr>
      <tr>
        <td></td>
        <td><img src="../img/component_assets/flowers.png" class="su_anim--rotateIn" alt="Animation Test"></td>
        <td><code class="su_code">.su_anim--rotateIn</code></td>
        <td><code class="su_foreground-bg-light">animation-duration: 1s</code></td>
      </tr>
      <tr>
        <td></td>
        <td><img src="../img/component_assets/flowers.png" class="su_anim--rotateInCC" alt="Animation Test"></td>
        <td><code class="su_code">.su_anim--rotateInCC</code></td>
        <td>
          <code class="su_foreground-bg-light">animation-duration: 1s</code>
          <p>rotate it in the counter-clockwise direction</p>
        </td>
      </tr>
      <tr>
        <td></td>
        <td><img src="../img/component_assets/flowers.png" class="su_anim--rotateOut" alt="Animation Test"></td>
        <td><code class="su_code">.su_anim--rotateOut</code></td>
        <td><code class="su_foreground-bg-light">animation-duration: 1s</code></td>
      </tr>
      <tr>
        <td></td>
        <td><img src="../img/component_assets/flowers.png" class="su_anim--rotateOutCC" alt="Animation Test"></td>
        <td><code class="su_code">.su_anim--rotateOutCC</code></td>
        <td>
          <code class="su_foreground-bg-light">animation-duration: 1s</code>
          <p>rotate it in the counter-clockwise direction</p>
        </td>
      </tr>
      <tr>
        <td class="su_primary-bg-light" colspan="4"><h3>Others</h3></td>
      </tr>
      <tr>
        <td></td>
        <td><img src="../img/component_assets/flowers.png" class="su_anim--flash" alt="Animation Test"></td>
        <td><code class="su_code">.su_anim--flash</code></td>
        <td><code class="su_foreground-bg-light">animation-duration: 1s</code></td>
      </tr>
      <tr>
        <td></td>
        <td><img src="../img/component_assets/flowers.png" class="su_anim--pulse" alt="Animation Test"></td>
        <td><code class="su_code">.su_anim--pulse</code></td>
        <td><code class="su_foreground-bg-light">animation-duration: 1s</code></td>
      </tr>
      <tr>
        <td></td>
        <td><img src="../img/component_assets/flowers.png" class="su_anim--shake" alt="Animation Test"></td>
        <td><code class="su_code">.su_anim--shake</code></td>
        <td><code class="su_foreground-bg-light">animation-duration: 1s</code></td>
      </tr>
      <tr>
        <td></td>
        <td><img src="../img/component_assets/flowers.png" class="su_anim--shakeUpDown" alt="Animation Test"></td>
        <td><code class="su_code">.su_anim--shakeUpDown</code></td>
        <td><code class="su_foreground-bg-light">animation-duration: 1s</code></td>
      </tr>
    </tbody>
  </table>
</div>
