$c-tooltip-name: 'tooltip';
$c-tooltip-container: $c-tooltip-name + '-container';

$reference-component: getBEMReference($c-tooltip-name);
$c-tooltip-color: get-color('primary');

$c-tooltip-flow-properties: (
  up: (
    '&':(
      bottom:calc(100% + 0.35em)
    ),
    '&::after': (
      bottom: -0.8em,
      border-bottom-width: 0,
      border-top-color: $c-tooltip-color
    ),
    '&, &::after': (
      left: calc(50%),
      transform: translate(-50%, -.5em)
    )
  ),
  down: (
    '&':(
      top: calc(100% + 0.35em)
    ),
    '&::after': (
      top: -0.8em,
      border-top-width: 0,
      border-bottom-color: $c-tooltip-color
    ),
    '&, &::after': (
      left: 50%,
      transform: translate(-50%, .5em)
    )
  ),
  left: (
    '&':(
      right: calc(100% + 0.35em),
    ),
    '&::after': (
      right: -0.8em,
      border-right-width: 0,
      border-left-color: $c-tooltip-color
    ),
    '&, &::after': (
      top: 50%,
      transform: translate(-.5em, -50%)
    )
  ),
  right: (
    '&':(
      left: calc(100% + 0.35em),
    ),
    '&::after': (
      left: -0.8em,
      border-left-width: 0,
      border-right-color: $c-tooltip-color
    ),
    '&, &::after': (
      top: 50%,
      transform: translate(.5em, -50%)
    )
  )
);

