.su_carousel {
  width: 100%;
  list-style: none;
  padding: 0;
  position: relative;
  height: 300px;
  border-radius: 4px;
}

.su_carousel-wrap {
  position: relative;
}

.su_carousel-item {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background-color: #ccc;
  opacity: 0;
  z-index: 1;
  transition: opacity 0.5s;
  overflow: hidden;
}

.su_carousel-item:nth-child(even) {
  background-color: #ebebeb;
}

.su_carousel-item span {
  color: #999;
  font-size: 100px;
  display: block;
  margin-top: 140px;
  text-align: center;
}

.su_carousel-visible {
  opacity: 1;
  z-index: 10;
}

.su_carousel-controls {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
}

.su_carousel-prev {
  margin-left: 10px;
  border: none;
  outline: none;
  width: 30px;
  height: 30px;
  i {
    line-height: 30px;
    margin-left: -2px;
  }
}

.su_carousel-next {
  float: right;
  margin-right: 10px;
  border: none;
  outline: none;
  width: 30px;
  height: 30px;
  i {
    line-height: 30px;
    margin-left: -2px;
  }
}


/*Sliding Carousel*/

.su_carousel-slide {
  width: 100%;
  list-style: none;
  padding: 0;
  position: relative;
  height: 300px;
  border-radius: 4px;
  overflow: hidden;
  .su_carousel-item {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background-color: #ccc;
    z-index: 1;
    opacity: 1;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: left 0.5s;
    &:nth-child(even) {
      background-color: #ebebeb;
    }
  }
}

.su_carousel-slide-wrap {
  position: relative;
}

.su_carousel-slide .su_carousel-item.current {
  z-index: 10;
  opacity: 1;
}

.su_carousel-slide .su_carousel-item.reversing {
  left: 100%;
  z-index: 11;
  opacity: 1;
  transition: left 0.5s;
}

.su_carousel-slide .su_carousel-item.advancing {
  left: -100%;
  z-index: 11;
  opacity: 1;
  transition: left 0.5s;
}


/* multi-carousel */

.su_multi-carousel {
  width: 100%;
  list-style: none;
  padding: 0;
  position: relative;
  height: 300px;
  border-radius: 4px;
  overflow: hidden;
  .su_carousel-item {
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background-color: #ccc;
    z-index: 1;
    opacity: 1;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: left 0.5s;
    &:nth-child(even) {
      background-color: #ebebeb;
    }
    div {
      height: 100%;
      overflow: hidden;
      img {
        height: 100%;
      }
    }
  }
}

.su_multi-carousel-wrap {
  position: relative;
}

.su_multi-carousel .su_carousel-item.current {
  z-index: 10;
  opacity: 1;
}

.su_multi-carousel .su_carousel-item.reversing {
  left: 100%;
  z-index: 11;
  opacity: 1;
  transition: left 0.5s;
}

.su_multi-carousel .su_carousel-item.advancing {
  left: -100%;
  z-index: 11;
  opacity: 1;
  transition: left 0.5s;
}
