<section>
  <h2>Statistics</h2>

  <article style="margin-bottom: 70px;">
    <h3>Basic Statistics</h3>
    <p>A simple way to show statistics on the frontend or admin area of a website. Use any of the background color classes to change the background color.</p>
    <div class="su_line">
      <div class="su_cell su_cells_3">
        <div class="su_stat">
          <span class="su_stat-figure">200</span>
          <span class="su_stat-label">Users</span>
        </div>
      </div>
      <div class="su_cell su_cells_3">
        <div class="su_stat su_primary-bg su_background-light">
          <span class="su_stat-figure">234</span>
          <span class="su_stat-label">Users</span>
        </div>
      </div>
      <div class="su_cell su_cells_3">
        <div class="su_stat su_accent-bg su_background-light">
          <span class="su_stat-figure">10,000+</span>
          <span class="su_stat-label">Users</span>
        </div>
      </div>
    </div>
  </article>

  <article style="margin-bottom: 70px;">
    <h3>Statistics with Icons</h3>
    <p>Icons have to be wrapped in a div/span with a <code>su_stat-icon</code> class while the statistics wrapped in a div/span with a <code>su_stats</code> class.</p>
    <div class="su_line">
      <div class="su_cell su_cells_4">
        <div class="su_stat">
          <div class="su_stat-icon">
            <i class="material-icons">account_circle</i>
          </div>
          <div class="su_stats">
            <span class="su_stat-figure">200</span>
            <span class="su_stat-label">Users</span>
          </div>
        </div>
      </div>
      <div class="su_cell su_cells_4">
        <div class="su_stat su_primary-bg su_background-light">
          <div class="su_stat-icon">
            <i class="material-icons">account_circle</i>
          </div>
          <div class="su_stats">
            <span class="su_stat-figure">980</span>
            <span class="su_stat-label">Users</span>
          </div>
        </div>
      </div>
      <div class="su_cell su_cells_4">
        <div class="su_stat su_accent-bg su_background-light">
          <div class="su_stat-icon">
            <i class="material-icons">account_circle</i>
          </div>
          <div class="su_stats">
            <span class="su_stat-figure">12,000</span>
            <span class="su_stat-label">Users</span>
          </div>
        </div>
      </div>
    </div>
  </article>

  <article style="margin-bottom: 70px;">
    <h3>Statistics with Progress</h3>
    <p>With a progress bar, you can show how far from hitting that target. Simply plugin the progress bar component.</p>
    <div class="su_line">
      <div class="su_cell su_cells_4">
        <div class="su_stat">
          <div class="su_stat-icon">
            <i class="material-icons">account_circle</i>
          </div>
          <div class="su_stats">
            <span class="su_stat-figure">200</span>
            <span class="su_stat-label">Users</span>
          </div>
          <div class="su_progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
            <span class="su_bar su_bar--success" style="width: 10%"></span>
          </div>
        </div>
      </div>
      <div class="su_cell su_cells_4">
        <div class="su_stat su_primary-bg su_background-light">
          <div class="su_stat-icon">
            <i class="material-icons">account_circle</i>
          </div>
          <div class="su_stats">
            <span class="su_stat-figure">980</span>
            <span class="su_stat-label">Users</span>
          </div>
          <div class="su_progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
            <span class="su_bar su_bar--success" style="width: 45%"></span>
          </div>
        </div>
      </div>
      <div class="su_cell su_cells_4">
        <div class="su_stat su_accent-bg su_background-light">
          <div class="su_stat-icon">
            <i class="material-icons">account_circle</i>
          </div>
          <div class="su_stats">
            <span class="su_stat-figure">12,000</span>
            <span class="su_stat-label">Users</span>
          </div>
          <div class="su_progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
            <span class="su_bar su_bar--success" style="width: 90%"></span>
          </div>
        </div>
      </div>
    </div>
  </article>
</section>