.su_stick {
  padding: 15px;
  box-shadow: 0px 3px 3px 0px #c4c4b3; }

.su_stuck {
  position: fixed;
  z-indez: 9999; }

.brian_su_stick_presentation {
  display: block;
  max-width: 300px;
  padding: 15px; }
