.evo_c-fontana-form *{
   box-sizing: border-box;
}
#evo_c-fontana-form {
  position: relative;
  width: 500px;
  margin: 50px auto;
}

#fontanta_form__header {
  position: relative;
  margin: 100px 0 25px 0;
  font-size: 1.6em;
  text-align: center;
  opacity:0.7;
  letter-spacing: 7px;
  font-family: 'Roboto';
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.evo_c-fontana-form__inputAttr {
  font-family: 'Roboto';
  vertical-align:bottom;
  font-size: 1.1em;
  width: 350px;
  height: 2em;;
  margin-top:1.3em;
  padding: 0px 10px -12px 2px;
  background: transparent;
  outline: none;
  color:  #726659;
  border-style:solid;
  font-weight: 200;
  border-image: linear-gradient(
        to left,
        rgba(255,255,255,1) 1%,
        rgba(0,0,0,1) 50%,
        rgba(255,255,255,1) 100%
    ) 0 0 100% 0/0 0 1px 0 stretch;
    
    border-image-slice: 1;
     
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}
.evo_c-fontana-form__inputAttr::-webkit-input-placeholder, #evo_c-fontana-form__message::-webkit-input-placeholder {
 
  font-size: 1.1em;
  opacity:0.6;
}


.evo_c-fontana-form__inputAttr::placeholder,   #evo_c-fontana-form__message::placeholder {
  color: #aca49c;
  font-size: 1.1em;
  opacity:0.6;
  font-weight:200;
}

.evo_c-fontana-form__inputAttr:focus::placeholder,   #evo_c-fontana-form__message::focus:placeholder {
  color: #bbb5af;
}


/* on hover placeholder */

.evo_c-fontana-form__inputAttr:hover::-webkit-input-placeholder, 
#evo_c-fontana-form__message:hover::-webkit-input-placeholder {
  font-size: 1.1em;
}

.evo_c-fontana-form__inputAttr:hover::placeholder, #evo_c-fontana-form__message:hover::placeholder {
  color: #e2dedb;
  font-size:1.1em;
}

.evo_c-fontana-form__inputAttr:hover:focus::placeholder, #evo_c-fontana-form__message:hover:focus::placeholder {
  color: #2e8b57;
}

.evo_c-fontana-form__inputAttr:hover::placeholder, #evo_c-fontana-form__message:hover::placeholder {
  color: #e2dedb;
  font-size:1.1em; 
}

#evo_c-fontana-form__message {

  width: 350px;
  height: 250px;
  background: transparent;
  outline: none;
  color: #726659;
  font-family: 'Roboto';
  font-size: 1.1em;
  font-weight:200;
  margin-left:-0.5em;
  padding: 25px 7px 5px 7px;
  border-top: none;
  border-bottom: none;
  
    border-image: linear-gradient(
       to  bottom,
        rgba(255,255,255,1) 1%,
        rgba(0,0,0,1) 50%,
        rgba(255,255,255,1) 100%
    ) 0 100% 0 100%/0 1.5px 0 1.5px stretch;

      border-image-slice: 1;
      box-sizing: border-box !important; 
  
}
  

.evo_c-fontana-form__inputAttr:required:valid{
   border-style: solid;
   
   
    border-image: linear-gradient(
        to left,
        rgba(255,255,255,1) 1%,
        rgba(50,205,50,1) 50%,
        rgba(255,255,255,1) 100%
    ) 0 0 100% 0/0 0 1.5px 0 stretch;
} 

#evo_c-fontana-form__message:required:valid{
  border-style: solid;
  border-top:none;
  border-bottom:none;
    
  border-image: linear-gradient(
        to bottom,
        rgba(255,255,255,1) 12%,
        rgba(50,205,50,1) 50%,
        rgba(255,255,255,1) 100%
    ) 0 100% 0 100%/0 1.5px 0 1.5px stretch;
}
#evo_c-fontana-form__textbottom{
  width:344px;
  margin-top: -0.5em;
  border-style:solid; 
  
  border-image: linear-gradient(
        to left,
        rgba(255,255,255,1) 1%,
        rgba(0,0,0,1) 50%,
        rgba(255,255,255,1) 100%
    ) 0 0 100% 0/0 0 1.5px 0 stretch;

     border-image-slice: 1;
     
}

#evo_c-fontana-form__message:required:valid + #evo_c-fontana-form__textbottom{
  border-style: solid;
  
   border-image: linear-gradient(
        to left,
        rgba(255,255,255,1) 1%,
        rgba(50,205,50,1) 50%,
        rgba(255,255,255,1) 100%
    ) 0 0 100% 0/0 0 1.5px 0 stretch;
     
}
#evo_c-fontana-form__message::-webkit-input-placeholder{
 padding-top:57.25%;
 padding-left:2.5%;
 font-size:1.1em;
}
#evo_c-fontana-form__message::input-placeholder{
 padding-top:57.25%;
 padding-left:2.5%;
 font-size:1.1em;
}
/* submit button */
.evo_c-fontana-form__button--black{
  position:relative;
  left: -80px;
  background: #060708;
  margin : 20px auto;
  width : 200px;
  height : 80px;
  overflow: hidden;
  text-align : center;
  transition : .2s;
  cursor : pointer;
  border-radius: 4px;
  box-shadow: 0px 1px 2px rgba(0,0,0,.2);
}

.evo_c-fontana-form__button--black-btnText {
  text-align:center;
  padding-top:0.4em;
  color : white;
  transition : .3s;
  font-size: 1.1em;
  letter-spacing: 0.2em;
  opacity: 0.9;
  font-family: 'Roboto';
  font-weight:200;
}


.evo_c-fontana-form__button--black-line_before{
  position:relative;
  top: 1em;
  width:200px;
  border-style:solid;
   
   border-image:linear-gradient(
       to left,
        rgba(0,0,0,1) 12%,
        rgba(255,255,255,1) 50%,
        rgba(0,0,0,1) 85%
    ) 100% 0 0 0/1.5px 0 0 0 stretch;
   
}
.evo_c-fontana-form__button--black-line_after{
  position:relative;
  bottom:0.25em;
  width:200px;
  border-style:solid;

  border-image: linear-gradient(
        to left,
        rgba(0,0,0,1) 12%,
        rgba(255,255,255,1) 50%,  
        rgba(255,255,255,1) 53%,
        rgba(0,0,0,1) 85%
    ) 100% 0 0 0/1.5px 0 0 0 stretch;

}


.evo_c-fontana-form__button--black:active{ 
  box-shadow: 0px 5px 6px rgba(0,0,0,0.3);
}

.evo_c-fontana-form__button--black:hover{
       
  background: linear-gradient(135deg, black, limegreen, black);

}