@import 'naviator-config';

.evo_c_hhbody {
  font-family: 'Roboto Slab';
  margin-right: 6rem;
  padding: 1rem;
}

.evo_c-navigator-arrows{
  color: black;
  cursor: pointer;
  letter-spacing: 20px;
  line-height: 40px;
}

#full-up,
#full-down {
  color: black;
}
