
//------------------------------------------------------------------------------
//                       Typography SYSTEM config
//------------------------------------------------------------------------------


$_typography-scales: (
  minor-second:     1.067,
  major-second:     1.125,
  minor-third:      1.200,
  major-third:      1.250,
  perfect-fourth:   1.333,
  augmented-fourth: 1.414,
  perfect-fift:     1.5,
  golden-ratio:     1.618
);


$_typography-scales-bigger:  large, x-large;


$_typography-scales-smaller: small, x-small;


$_typography-base-scale: map-get($_typography-scales, 'major-third');


%c-typography-font-family {
  font-family: 'Roboto', sans-serif;
}

%c-typography-margins {
  margin-top: #{$g-framework-line-height}rem;
  margin-bottom: #{$g-framework-line-height}rem;
}

%c-typography-block {
  display: block;
}


//------------------------------------------------------------------------------
//                       Typography SYSTEM
//------------------------------------------------------------------------------


@function _vrhythm( $font-size, $line-height: $g-framework-line-height ){
  @return ceil( $font-size / $line-height ) * ( $line-height / $font-size )
}


@mixin _generateHeadings( $levels, $extraHeading: true ){

  $scale-smaller-sizes: $_typography-scales-smaller;
  $scale-bigger-sizes: $_typography-scales-bigger;

  $component-name: '#{$g-framework-name}_c-typo';

  @for $i from 1 through $levels {
    $font-size: pow($_typography-base-scale, $levels - $i);
      .#{$component-name}__h#{$i} {
        @extend %c-typography-font-family;
        @extend %c-typography-margins;
        font-size: #{$font-size}rem;
        font-weight: $g-framework-font-weight;
        line-height: _vrhythm($font-size);
    }
  }

  @if ( $extraHeading == true ) {

    // BIGGER SIZES classes
    @for $i from 1 through length($scale-bigger-sizes)  {
      $item: nth($scale-bigger-sizes, $i);
      $font-size: pow($_typography-base-scale, 5 + $i);

      .#{$component-name}__#{$item} {
        @extend %c-typography-font-family;
        @extend %c-typography-margins;
        @extend %c-typography-block;
        font-size: rem($g-framework-base-font-size * $font-size) + 0rem;
        line-height: _vrhythm($font-size);
      }
    }

    // SMALLER SIZES classes
    @for $i from 1 through length($scale-smaller-sizes)  {
      $item: nth($scale-smaller-sizes, $i);
      $font-size: pow($_typography-base-scale, $i);

      .#{$component-name}__#{$item} {
        @extend %c-typography-font-family;
        @extend %c-typography-margins;
        @extend %c-typography-block;
        font-size: rem($g-framework-base-font-size / $font-size) + 0rem;
        line-height: _vrhythm($font-size);
      }
    }

  }

}

/******************************************************************************
                                  Typography
******************************************************************************/


@include _generateHeadings(6);


@include h('txt--font-family') {
  @extend %c-typography-font-family;
}

@include h('txt--bold') {
  font-weight: 700;
}

@include h('txt--italic') {
  font-style: italic;
}

@include h('txt--caps') {
  text-transform: uppercase;
  letter-spacing: .3em;
}

@include h('txt--left') {
  text-align: left;
}

@include h('txt--right') {
  text-align: right;
}

@include h('txt--center') {
  text-align: center;
}

@include h('txt--capitalize') {
  text-transform: capitalize;
}

@include h('txt--uppercase') {
  text-transform: uppercase;
}

@include h('txt--lowercase') {
  text-transform: lowercase;
}

@include h('txt--underline') {
  text-decoration: underline;
}

@include h('txt--line-through') {
  text-decoration: line-through;
}

@include h('txt--no-decoration') {
  text-decoration: none;
}

@include h('txt--nowrap') {
  white-space: nowrap;
}

