//------------------------------------------------------------------------------
//                       Typography SYSTEM config
//------------------------------------------------------------------------------


///
/// Font scale for headings and extra headings
///
/// @access private
/// @type MAP

$_typography-scales: (
  minor-second:     1.067,
  major-second:     1.125,
  minor-third:      1.200,
  major-third:      1.250,
  perfect-fourth:   1.333,
  augmented-fourth: 1.414,
  perfect-fift:     1.5,
  golden-ratio:     1.618
);

///
/// List of extra headings
///
/// Represent extra headings
/// @access private
/// @type LIST
$_typography-scales-bigger:  large, x-large;

///
/// List of extra headings
///
/// Represent extra headings
/// @access private
/// @type LIST
$_typography-scales-smaller: small, x-small;

///
/// Set the 'major-third' scale for headings
///
/// @access private
/// @type String
$_typography-base-scale: map-get($_typography-scales, 'major-third');


%c-typography-font-family {
  font-family: 'Roboto', sans-serif;
}

%c-typography-margins {
  margin-top: $g-framework-line-height-base;
  margin-bottom: $g-framework-line-height-base;
}

%c-typography-block {
  display: block;
}
