/******************************************************************************
                              Forms component
******************************************************************************/


@import 'Forms-config';



@include l( 'grid' ) {

  @include e( 'item' ) {
    padding: 20px;
  }

}


@include c( $c-form-component-name ) {

  // Provide a brackground's variation for each color in the Evolution Palette
  @include backgroundVariants($is-descendant: true);

  padding: $c-form-padding-default;

  @include h( 'full-width', $no-prefix ) {
    width: 100%;
  }

  @include h( 'border-style--dotted', $no-prefix ) {
    border-style: dotted;
  }

  @include h( 'border-style--dashed', $no-prefix ) {
    border-style: dashed;
  }

  & * { box-sizing: border-box; }
  & *:focus { outline: 0; }

  // Header element
  @include e( 'header' ) {

  }

  // Field element
  @include e( 'field' ) {

    @include vertical-rhythm( 1rem, $top-rows: 1);

    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;


    @include h( 'field-status', $is-namespaced: false ) {
      &:after {
        content: '';
        position: absolute;
        right: 5px;
        top: 5px;
        display: block;
        height: 5px;
        width: 5px;
        border-radius: 50%;
      }
    }

  }

  //~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  //                              INPUT ELEMENT
  //~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  @include e( 'input' ) {

    display: inline-block;
    height: $c-form-input-height;

    font-size: inherit;

    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 90%;

    border: 0;
    border-bottom: 1px solid rgba(0,0,0,.2);


    &:required:valid + .h-field-status:after {
      background-color: green;
    }

    &:required:invalid + .h-field-status:after {
      background-color: red !important;
    }

    //--------------------------------------------------------------------------
    //                              BUTTON
    //~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

    @include m( 'button' ) {
      width: 90%;
      margin: 0 auto;
      max-width: 400px;
      border: 1px solid get-color('accent', 'light');
      background-color: white();
      transition: all .2s linear;

      &:hover {
        color: white();
        background-color: get-color('accent', 'light');
      }
    }
  }

  //~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  //                              ICON ELEMENT
  //~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  @include e( 'icon' ) {

    $c-form__input: getBEMReference($c-form-component-name, input);


    & + .#{$c-form__input} {
      padding-left: 10px;
    }

  }

}
