/******************************************************************************
                              Forms component
******************************************************************************/


@import 'Forms-config';



@include l( 'grid' ) {

  @include e( 'item' ) {
    padding: 20px;
  }

}


@include c( 'form' ) {

  // Provide a brackground's variation for each color in the Evolution Palette
  @include backgroundVariants($is-descendant: true);

  padding: $c-form-padding-default;

  @include h( 'full-width', $no-prefix ) {
    width: 100%;
  }

  @include h( 'border-style--dotted', $no-prefix ) {
    border-style: dotted;
  }

  @include h( 'border-style--dashed', $no-prefix ) {
    border-style: dashed;
  }

  & * { box-sizing: border-box; }
  & *:focus { outline: 0; }

  // Header element
  @include e( 'header' ) {

  }

  // Field element
  @include e( 'field' ) {

    @include vertical-rhythm( 1rem, $top-rows: 1);

    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

  }

  // Input element
  @include e( 'input' ) {

    //@include vertical-rhythm( 1rem, $top-rows: 1);

    height: $c-form-input-height;

    font-size: inherit;

    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 90%;

    border: 0;
    border-bottom: 1px solid rgba(0,0,0,.2);

    // Textual inputs include: text, password, etc.
    @include m( 'textual' ) {

    }
  }

  // Icon element
  @include e( 'icon' ) {

    $c-form__input: getBEMReference($c-form-component-name, input);


    & + .#{$c-form__input} {
      padding-left: 10px;
    }

  }

}
