//------------------------------------------------------------------------------
//                          Forms config
//------------------------------------------------------------------------------


$c-form-component-name: 'form';

$c-form-padding-tiny:  5px;
$c-form-padding-small: 10px;
$c-form-padding-default: 20px;
$c-form-padding-large: 30px;
$c-form-padding-huge:  40px;


$c-form-input-height: 38px;
$c-form-input-padding-default: 10px;

$c-form-input-status-size: 6px; // Height and Width


$c-form-input--button-border-radius: 4px;


//------------------------------------------------------------------------------
//                          Forms Placeholders
//------------------------------------------------------------------------------


%c-form-h-full-width {
  width: 100%;
}

%c-form-flex-align-center {
  display: flex;
  align-items: center;
}

%c-form-inputs-and-buttons {
  @include vertical-rhythm(18px, $top-rows: 1);
  padding: 10px;
}

%c-form-vertical-rythm-1 {
  @include vertical-rhythm(18px, $top-rows: 1);
}
