//------------------------------------------------------------------------------
//                          Forms config
//------------------------------------------------------------------------------


$c-form-component-name: 'form';

$c-form-padding-tiny:  5px;
$c-form-padding-small: 10px;
$c-form-padding-default: 20px;
$c-form-padding-large: 30px;
$c-form-padding-huge:  40px;

$c-form-input-height: 38px;


//------------------------------------------------------------------------------
//                          Forms Placeholders
//------------------------------------------------------------------------------


%c-form-h-full-width {
  width: 100%;
}
