//------------------------------------------------------------------------------
//                          Forms config
//------------------------------------------------------------------------------


$c-form-component-name: 'form';

$c-form-padding-tiny:  5px;
$c-form-padding-small: 10px;
$c-form-padding-default: 20px;
$c-form-padding-large: 30px;
$c-form-padding-huge:  60px;


//------------------------------------------------
//              Media Queries
//------------------------------------------------

$c-form-media-tablet: 768px;
$c-form-media-desktop: 1024px;
$c-form-media-desktop-HD: 1200px;

//------------------------------------------------
//              Forms input
//------------------------------------------------

$c-form-input-height: 35px;
$c-form-input-width: 100%;
$c-form-input-padding-default: 10px;


//------------------------------------------------
//              Forms checkbox
//------------------------------------------------

$c-form-checkbox-size: 15px;
$c-form-checkbox-x-size: 15px;

$c-form-checkbox-border-color-default: get-color('primary2', 'dark');
$c-form-checkbox-border-color-accent: get-color('accent');
$c-form-checkbox-border-color-accent2: get-color('accent2');
$c-form-checkbox-border-color-accent3: get-color('accent3');
$c-form-checkbox-border-color-accent4: get-color('accent4');

$c-form-checkbox-border-width: 2px;
$c-form-checkbox-border-style: solid;
$c-form-checkbox-border-color: $c-form-checkbox-border-color-default;


//------------------------------------------------
//              Forms radio
//------------------------------------------------

$c-form-radio-size: 15px;
$c-form-radio-x-size: 25px;
$c-form-radio-border: 2px solid get-color('primary2', 'dark');


//------------------------------------------------
//              Forms Button
//------------------------------------------------

$c-form-button-padding-small: 10px 20px;
$c-form-button-padding-default: 10px 60px;
$c-form-button-padding-huge: 10px 80px;

$c-form-button-border-radius: 4px;

//------------------------------------------------
//              focus-line ELEMENT
//------------------------------------------------

$c-form-focus-line-left: 34px;
$c-form-focus-line-height: 2.5px;

//------------------------------------------------
//              Forms tooltip
//------------------------------------------------

$c-form-tooltip-width: 180px;
$c-form-tooltip-left: -150px;
$c-form-tooltip-arrow-size: 14px;



//------------------------------------------------
//              Forms field-status
//------------------------------------------------

$c-form-field-status-font-size: 1rem;
$c-form-field-status-width: 21%;
$c-form-field-status-max-width: 200px;
$c-form-field-status-padding-left: 10px;


//------------------------------------------------
//              Forms Dropdown
//------------------------------------------------

$c-form-dropdown-font-size-small: .7rem;
$c-form-dropdown-font-size-large: 1.25rem;


//------------------------------------------------------------------------------
//                          Forms Placeholders
//------------------------------------------------------------------------------

%c-form-absolute {
  position: absolute;
}

%c-form-h-full-width {
  width: 100%;
}

%c-form-flex-align-center {
  display: flex;
  align-items: center;
}

%c-form-input-width {
  width: $c-form-input-width;
}

%c-form-focus-line-width {
  width: calc(#{$c-form-input-width} - #{$c-form-focus-line-left});
}


%c-form-inputs-and-buttons {
  @include vertical-rhythm(18px, $top-rows: 1);
  padding: 10px;
}

%c-form-vertical-rythm-1 {
  @include vertical-rhythm(18px, $top-rows: 1);
}

%c-form-label-and-validation-anim {
  transform: translate3d(-2px, -#{$c-form-input-height}, 0) scale(.8);
}

%c-form-none {
  display: none;
}

%c-form-checkbox {
  @extend %c-form-flex-align-center;
  position: relative;
  padding-left: $c-form-checkbox-size + 20px;
  user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
}

%c-form-checkbox-before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  display:block;
  transition: all .2s;
}

%c-form-checkbox-sizes {
  width: 12px;
  height: 22px;
}

%c-form-checkbox-before-borders {
  border-top-color: black(0);
  border-left-color: black(0);
  border-right-color: inherit;
  border-bottom-color: inherit;
}

%c-form-checkbox-x-before-after-borders {
  border-top-color: black(0);
  border-left-color: black(0);
  border-bottom-color: black(0);
  border-right-color: inherit;
}


%c-form-radio-size {
  height: $c-form-radio-size;
  width: $c-form-radio-size;
}

%c-form-rounded {
  border-radius:50%;
}

%c-form-pointer {
  cursor: pointer;
}
