/******************************************************************************
                              Forms component
******************************************************************************/


@import 'Forms-config';



@include l( 'grid' ) {

  @include e( 'item' ) {
    padding: 20px;
  }

}


@include c( $c-form-component-name ) {

  // Provide a brackground's variation for each color in the Evolution Palette
  @include backgroundVariants($is-descendant: true);

  padding: $c-form-padding-default;

  @include h( 'full-width', $g-no-prefix ) {
    width: 100%;
  }

  @include h( 'border-style--dotted', $g-no-prefix ) {
    border-style: dotted;
  }

  @include h( 'border-style--dashed', $g-no-prefix ) {
    border-style: dashed;
  }

  @include h( '3D', $g-no-prefix ) {
    box-shadow: 0 3px 0 0 rgba(0,0,0,.23);

    &:active {
      top: 3px;
      box-shadow: none;
    }
  }

  & * { box-sizing: border-box; }
  & *:focus { outline: 0; }

  //~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  //                             HEADER ELEMENT
  //~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

  @include e( 'header' ) {

  }

  //~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  //                             BODY ELEMENT
  //~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

  @include e( 'body' ) {

  }

  //~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  //                             FOOTER ELEMENT
  //~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

  @include e( 'footer' ) {
    @extend %c-form-flex-align-center;
  }

  //~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  //                             FIELD ELEMENT
  //~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

  @include e( 'field' ) {

    @extend %c-form-vertical-rythm-1;
    @extend %c-form-flex-align-center;

    position: relative;


    @include h( 'field-status', $is-namespaced: false ) {
      &:after {
        content: '';
        position: absolute;
        right: 5px;
        top: 5px;
        display: block;
        height: $c-form-input-status-size;
        width: $c-form-input-status-size;
        border-radius: 50%;
      }
    }

  }

  //~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  //                              INPUT ELEMENT
  //~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

  @include e( 'input' ) {

    display: inline-block;
    height: $c-form-input-height;

    padding: $c-form-input-padding-default;

    font-size: inherit;

    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 90%;

    border: 0;
    border-bottom: 1px solid rgba(0,0,0,.2);


    &:required:valid + .h-field-status:after {
      background-color: green;
    }

    &:required:invalid + .h-field-status:after {
      background-color: red !important;
    }

    //--------------------------------------------------------------------------
    //                              BUTTON
    //--------------------------------------------------------------------------

    @include m( 'button' ) {

      @extend %c-form-vertical-rythm-1;
      @include margin-auto();

      width: 90%;
      max-width: 400px;
      padding: $c-form-input-padding-default;
      background-color: white();
      border: 1px solid get-color('primary2', 'light');
      border-radius: $c-form-input--button-border-radius;
      cursor: pointer;

      transition: all .2s linear;

      &:hover {
        color: white();
        background-color: get-color('primary2', 'light');
      }
    }
  }

  //~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  //                              ICON ELEMENT
  //~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  @include e( 'icon' ) {

    $c-form__input: getBEMReference($c-form-component-name, input);


    & + .#{$c-form__input} {
      padding-left: 10px;
    }

  }

}
