// component name
$c-eyelids-name: 'eyelids';

// component variables
$highlight: white(0); // highlight color for the area that is being focused for reading
$background: get_color('background', 'light'); // color used to dim the rest of the page

%c-fixed-containers {
  /* Positioning */
  position: fixed;
  z-index: 9999;

  /* Box Model */
  display: block;
  width: 100%;

  /* Visual */
  opacity: .98;

  /* Misc */
  content: '';
  transition: all .2s ease-in-out 0s;
}
