/* EYELIDS COMPONENT */

@import 'eyelids-config';

@include c($c-eyelids-name) {
  @include e('notification') {
    /* Positioning */
    position: fixed;
    top: 370px;
    right: 10px;
    z-index: 999999;
    transform: translate3d(100%, 0, 0);

    /* Box Model */
    box-sizing: border-box;
    width: 280px;
    padding: 10px 20px;

    /* Typography */
    text-align: center;
    text-transform: uppercase;

    /* Visual Aspect */
    display: none;
    border-radius: 20px;
    color: white(.7);
    background-color: get_color('background', 'base', .5);
    border: 1px solid white(.7);
    box-shadow: 2px 2px 5px 1px black(.3);

    /* Animations */
    transition: all .3s ease-in-out 0s;
    @include s('is-active', $is-namespaced: false) {
      animation: notify 5s cubic-bezier(0.190, 1.000, 0.220, 1.000) 0s forwards;
    }

    /* Misc */
    cursor: pointer;

    p {
      /* Box Model */
      margin-top: 0;
      margin-bottom: 0;

      /* Typography */
      font-family: Roboto;
    }

    kbd {
      /* Box Model */
      padding: 1px 8px;

      /* Visual Aspect */
      color: get_color('background');
      background-color: #f2f5fa;
      border: 1px solid #c3ced9;
      border-radius: 4px;

      /* Typography */
      font-family: Monaco,Consolas,"Liberation Mono",Courier,monospace;
      font-size: 14px;
      font-weight: 400;
    }
  }

}

@media(min-width: 500px) {
  @include c($c-eyelids-name) {
    @include e('notification') {
      display: block;
    }
  }
}

@media(min-width: 960px) {
  @include c($c-eyelids-name) {
    @include e('notification') {
      top: 210px;
    }
  }
}

@keyframes notify {

  0% {
    transform: translate3d(100%, 0, 0);
  }

  5% {
    transform: translate3d(0, 0, 0);
  }

  95% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(100%, 0, 0);
  }

}

// maybe it is better to animate position on initialization instead the dimensions

@include c('eyelids') {
  @include m('top') {
    @extend %c-fixed-containers;

    /* Positioning */
    top: 0;

    /* Box Model */
    height: 0;

    /* Visual Aspect */
    background-image: linear-gradient(to top, $highlight 0%, lighten($background, 10%) 10%, $background 60%);
  }
}

@include c('eyelids') {
  @include m('bottom') {
    @extend %c-fixed-containers;

    /* Positioning */
    bottom: 0;
    top: 100vh;

    /* Visual Aspect */
    background-image: linear-gradient(to bottom, $highlight 0%, lighten($background, 10%) 10%, $background 60%);
  }
}

@include c('eyelids') {
  @include e('helper') {
    /* Positioning */
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;

    /* Typography */
    color: white(.8);

    /* Visual Aspect */
    ul {
      list-style: disc;
    }

    /* Misc */
    pointer-events: none;
  }
}

/* END EYELIDS */
