/********************
TABLES
********************/

.su_table {
  width: 100%;
  thead {
    border-bottom: 3px solid su_color('background', 'dark');
    border-top: 3px solid su_color('background', 'dark');
    text-align: left;
    th {
      padding: 10px 20px;
      font-size: 18px;
    }
  }
  tbody {
    td {
      padding: 10px 20px;
    }
  }
}

.su_table-bordered {
  border: 1px solid su_color('background', 'dark');
  thead {
    th {
      border: 1px solid su_color('background', 'dark');
    }
  }
  tbody {
    td {
      border: 1px solid su_color('background', 'dark');
    }
  }
}

.su_table-striped {
  tr:nth-child(even) {
    background-color: lighten(su_color('primary', 'base', 0.4), 30%);
  }
}

.su_table-hover {
  td:hover {
    background-color: su_color('primary', 'base', 0.4);
  }
}
