//------------------------------------------------------------------------------
//                          CSS Animations config
//------------------------------------------------------------------------------

%h-CSS-animations-default {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
