//-------------------------------------------------------------------
//                   Switch component config file
//-------------------------------------------------------------------

$c-switch-name: 'switch';

//component's variables


//color variable:
$color: #96e6ff;
$font-family: 'Roboto Slab', serif;
