.su_progress-bar {
  position: relative;
  height: 10px;
  margin: 20px;
  background-color: #f0f0ed;
  overflow: hidden; }
  .su_progress-bar--rounded {
    border-radius: 10px; }
  .su_progress-bar--indeterminate .su_bar {
    left: -10%;
    width: 10%;
    animation: progress 2.2s infinite forwards linear;
    -webkit-animation: progress 2.2s infinite forwards linear; }
  .su_progress-bar .su_bar {
    position: absolute;
    height: inherit;
    background-color: #59951c; }
    .su_progress-bar .su_bar--success {
      background-color: #72c024; }
    .su_progress-bar .su_bar--warn {
      background-color: #f162b0; }
    .su_progress-bar .su_bar--error {
      background-color: #9c0e5b; }
    .su_progress-bar .su_bar--b {
      right: 0;
      left: 110%;
      animation: progress-b 2.2s infinite forwards linear;
      -webkit-animation: progress-b 2.2s infinite forwards linear; }
    .su_progress-bar .su_bar--fb {
      animation: progress-fb 2.2s infinite forwards linear;
      -webkit-animation: progress-fb 2.2s infinite forwards linear; }

@keyframes progress {
  100% {
    left: 110%; } }
@keyframes progress-b {
  100% {
    left: -10%; } }
@keyframes progress-fb {
  50% {
    left: 100%; }
  100% {
    left: -10%; } }