//------------------------------------------------------------------------------
//                       Utilities Component
//------------------------------------------------------------------------------
/** UTILITIES COMPONENT **/
/* UTILITIES COMPONENT - Variables */

$su_border-radius: 4px;
$su_round-size: 500px;

/* UTILITIES COMPONENT - Float Classes */

.su_right {
  float: right;
}

.su_left {
  float: left;
}

.su_clear {
  content: "";
  display: table;
  clear: both;
}

.su_clearfix::after {
  display: block;
  content: '';
  clear: both;
}

/* UTILITIES COMPONENT - Full Width Class */

.su_full-width {
  width: 100%;
  box-sizing: border-box;
}

/* UTILITIES COMPONENT - Radius Class */

.su_radius {
  border-radius: $su_border-radius;
}

/* UTILITIES COMPONENT - Round Class */

.su_round {
  border-radius: $su_round-size;
  padding: 15px 25px;
}

/* UTILITIES COMPONENT - Base Background Color Classes */

.su_primary-bg {
  background-color: su_color('primary', 'base');
}
.su_accent-bg {
  background-color: su_color('accent', 'base');
}
.su_secondary-bg {
  background-color: su_color('secondary', 'base');
}
.su_foreground-bg {
  background-color: su_color('foreground', 'base');
}
.su_background-bg {
  background-color: su_color('background', 'base');
}

/* UTILITIES COMPONENT - Light Background Color Classes */

.su_primary-bg-light {
  background-color: su_color('primary', 'light');
}
.su_accent-bg-light {
  background-color: su_color('accent', 'light');
}
.su_secondary-bg-light {
  background-color: su_color('secondary', 'light');
}
.su_foreground-bg-light {
  background-color: su_color('foreground', 'light');
}
.su_background-bg-light {
  background-color: su_color('background', 'light');
}

/* UTILITIES COMPONENT - Dark Background Color Classes */

.su_primary-bg-dark {
  background-color: su_color('primary', 'dark');
}
.su_accent-bg-dark {
  background-color: su_color('accent', 'dark');
}
.su_secondary-bg-dark {
  background-color: su_color('secondary', 'dark');
}
.su_foreground-bg-dark {
  background-color: su_color('foreground', 'dark');
}
.su_background-bg-dark {
  background-color: su_color('background', 'dark');
}

/* UTILITIES COMPONENT - Base Text Color Classes */

.su_primary {
  color: su_color('primary', 'base');
}
.su_accent {
  color: su_color('accent', 'base');
}
.su_secondary {
  color: su_color('secondary', 'base');
}
.su_foreground {
  color: su_color('foreground', 'base');
}
.su_background {
  color: su_color('background', 'base');
}

/* UTILITIES COMPONENT - Light Text Color Classes */

.su_primary-light {
  color: su_color('primary', 'light');
}
.su_accent-light {
  color: su_color('accent', 'light');
}
.su_secondary-light {
  color: su_color('secondary', 'light');
}
.su_foreground-light {
  color: su_color('foreground', 'light');
}
.su_background-light {
  color: su_color('background', 'light');
}

/* UTILITIES COMPONENT - Dark Text Color Classes */

.su_primary-dark {
  color: su_color('primary', 'dark');
}
.su_accent-dark {
  color: su_color('accent', 'dark');
}
.su_secondary-dark {
  color: su_color('secondary', 'dark');
}
.su_foreground-dark {
  color: su_color('foreground', 'dark');
}
.su_background-dark {
  color: su_color('background', 'dark');
}

/* UTILITIES COMPONENT - Visibility & Hidden Class */

.su_hide {
  display: none;
}

.su_invisible {
  visibility: hidden;
}

/* UTILITIES COMPONENT - Screen Reader Only Content */

.su_sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute;
}

/* UTILITIES COMPONENT - Text Alignment Classes */

.su_align-left {
  text-align: left;
}

.su_align-right {
  text-align: right;
}

.su_align-center {
  text-align: center;
}

.su_align-justify {
  text-align: justify-all;
  text-align-last: justify;
}

/* UTILITIES COMPONENT - Text Transform Classes */

.su_lowercase {
  text-transform: lowercase;
}

.su_uppercase {
  text-transform: uppercase;
}

.su_capitalize {
  text-transform: capitalize;
}

/* UTILITIES COMPONENT - Code Class */

.su_code {
  background-color: su_color('secondary', 'dark');
  color: su_color('background', 'light');
  border-radius: $su_border-radius;
  padding: 5px;
}

/* UTILITIES COMPONENT - Spacer Classes */

/* UTILITIES COMPONENT - Top Spacer Classes */

.su_space-top--small {
  margin-top: 20px;
}

.su_space-top--medium {
  margin-top: 50px;
}

.su_space-top--large {
  margin-top: 100px;
}

/* UTILITIES COMPONENT - Right Spacer Classes */

.su_space-right--small {
  margin-right: 20px;
}

.su_space-right--medium {
  margin-right: 50px;
}

.su_space-right--large {
  margin-right: 100px;
}

/* UTILITIES COMPONENT - Bottom Spacer Classes */

.su_space-bottom--small {
  margin-bottom: 20px;
}

.su_space-bottom--medium {
  margin-bottom: 50px;
}

.su_space-bottom--large {
  margin-bottom: 100px;
}

/* UTILITIES COMPONENT - Left Spacer Classes */

.su_space-left--small {
  margin-left: 20px;
}

.su_space-left--medium {
  margin-left: 50px;
}

.su_space-left--large {
  margin-left: 100px;
}

/* UTILITIES COMPONENT - Center Content Class */

.su_center-content {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/* UTILITIES COMPONENT - Styles for brian.html Presentation */

.brian-div {
  padding: 10px;
}

.brian-div:hover,
.brian-div:focus {
}

.brian-div2 {
  max-width: 12rem;
  padding: 10px;
}

.brian-span {
  padding: 5px;
}
/** END UTILITIES COMPONENT **/
