/* NAVIGATION COMPONENT */

body {
  overflow-x: hidden;
}

.su_navigation {
  width: 100%;
  height: 50px;
  left: 0;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  a {
    color: inherit;
    text-decoration: none;
    padding: 0 10px;
    display: block;
    font-family: 'Roboto Slab';
    transition: background-color 0.3s ease-in-out 0.1s;

    &.su_link-active,
    &:hover {
      transition: background-color 0.3s ease-in-out 0s;
    }
  }
}

.su_navigation,
.su_navigation * {
  box-sizing: border-box;
}

.su_navigation-container {
  z-index: 1000;
  transform: translate3d(-100%, 0, 0);
  transition: all 0.3s ease-in-out 0s;
  line-height: 50px;

  &.su_is-open {
    transform: translate3d(0, 0, 0);

    .su_menu-toggle {
      transform: translate3d(0, 0, 0);

      .su_icon-menu {
        display: none;
      }

      .su_icon-close {
        display: inline;
      }

    }

  }

  .su_navigation-bottom &.su_is-open {
    transform: translate3d(0, -100%, 0);
  }

  .su_logo {
    background-image: url('../components/navbar/su_logo1.png');
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: 10px;
    padding: 0 20px;
    border-bottom: 1px solid white(0.2);
    display: block;
    font-family: 'Roboto Slab';
    font-weight: bold;
    text-shadow: 0 0 2px black(0.9);
  }

  .su_menu-main {
    text-align: center;

    a {
      border-top: 3px solid transparent;
      border-bottom: 3px solid transparent;
      transition: border 0.2s ease-in-out 0s;

      &.su_link-active {
        outline: none;
      }

    }

  }

  .su_search {
    display: none;
  }

  .su_menu-toggle {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 10px;
    transform: translate3d(100%, 0, 0);
  }

  .su_menu-toggle {

    .su_icon {
      line-height: inherit;
    }

    &:hover {
      cursor: pointer;
    }

  }

  .su_icon-close {
    display: none;
  }

}

.su_navigation-fixed {
  position: fixed;
  z-index: 5000;

  &.su_navigation-top {
    top: 0;

    + * {
      margin-top: 60px;
    }

  }

  &.su_navigation-bottom {
    bottom: 0;
  }

}

@media (min-width: 360px) {

  .su_navigation {
    height: 80px;
  }

  .su_navigation-fixed.su_navigation-top + * {
    margin-top: 90px;
  }

  .su_navigation-container {
    height: 80px;
    line-height: 80px;
    transform: translate3d(0, 0, 0);

    .su_logo,
    .su_menu-toggle {
      display: none;
    }

    * {
      height: 100%;
    }

    > * {
      display: inline-block;
    }

    a {
      padding: 0 12px;
      display: block;
    }

    .su_logo {
      border-right: 1px solid white(0.2);
      border-bottom: none;
      float: left;
    }

    .su_menu-main {
      display: inline-block;
      position: relative;
      font-size: 0.8em;

      li {
        float: left;
      }

    }

    .su_search {
      display: inline-block;
      position: absolute;
      right: 0;
      width: 0;
      background-color: transparent;
      transition: all 0.2s ease-in-out 0.2s;

      .su_search-label {
        position: absolute;
        top: 0;
        left: 10px;
        transition: all 0.1s ease-in;
      }

      form div {
        margin: 24px 0;
        height: 32px;
        width: 0;
        opacity: 0;
        right: 45px;
        display: inline-block;
        position: absolute;
        transition: all 0.2s ease-in-out 0.2s;
      }

      &:hover {
        width: 100%;

        .su_search-field {
          width: calc(100% - 60px);
          opacity: 1;
          transition: all 0.2s ease-in-out 0.2s;
        }

      }

      input {
        background-color: white(0.2);
        border: 1px solid white(0.2);
        border-radius: 3px;
        padding: 0 10px;
        color: transparent;
        width: 100%;

        &:focus {
          border: 1px solid white(0.2);
          outline: none;

          + label {
            color: #fff;
            transform: translate3d(0, -80%, 0);
            transition: all 0.1s ease-out;
          }

        }

      }

    }

    .su_submit-search {
      color: white(0.7);
      cursor: pointer;
      line-height: inherit;
      position: absolute;
      right: 10px;

    }

    .su_search-field {
      line-height: 28px;
    }

  }

}

@media(min-width: 500px) {

  .su_navigation-container {

    .su_menu-main {
      font-size: 1.1em;
    }

    a {
      padding: 0 20px;
    }

  }

}

@media (min-width: 750px) {

  .su_navigation-container .su_search {
    width: auto;
    background-color: transparent;

    & form div,
    &:hover .su_search-field {
      width: 240px;
      right: 45px;
      left: auto;
      opacity: 1;
    }

  }

  .su_navigation-container .su_search:hover {
    width: auto;
    background-color: transparent;
  }

}

@media (min-width: 900px) {

  .su_navigation-container {

    .su_logo {
      display: inline-block;
      font-size: 1.2em;
      background-size: 80% auto;
      background-position: center;
    }

    a {
      padding: 0 12px;
    }

  }

}

@media (min-width: 1200px) {

  .su_navigation-container {

    .su_logo {
      font-size: 1.5em;
      padding: 0 25px;
    }

    .su_menu-main {
      font-size: 1.3em;
    }

    .su_search form div,
    .su_search:hover .su_search-field {
      width: 300px;
    }

    a {
      padding: 0 20px;
    }

  }

}

/* Color themes */

.su_navigation {
  /* DEFAULT */
  background-color: su_color('foreground');

  .su_navigation-container {
    background-color: su_color('foreground');
    color: su_color('secondary', 'dark');
    &.su_is-open {
      background-color: su_color('foreground');
      color: su_color('secondary', 'dark');
    }

    .su_search {

      &:hover {
        background-color: su_color('foreground');;
      }

      .su_search-label {
        color: su_color('secondary', 'dark', 'heavy');
      }

      input:focus {
        color: su_color('background', 'light');
      }

      .su_submit-search:hover {
        color: su_color('secondary', 'dark');
      }

    }

    .su_logo {
      color: su_color('secondary', 'dark');
      text-shadow: none;
    }

  }

  a.su_link-active,
  a:hover {
    background-color: white(0.15);
    color: white(1);
  }

  .su_menu-main {

    a.su_link-active {
      border-top: 3px solid su_color('foreground');
      border-bottom: 3px solid su_color('foreground');
    }

  }

  .su_menu-toggle {
    color: white(0.7);
    &:hover {
      color: su_color('foreground', 'light');
    }

  }

  &.su_navigation-fixed {

    &.su_navigation-top {
      .su_link-active.su_link-active {
        border-top: 3px solid transparent;
        border-bottom: 3px solid su_color('foreground', 'light');
      }
    }

    &.su_navigation-bottom {
      .su_link-active.su_link-active {
        border-top: 3px solid su_color('foreground', 'light');
        border-bottom: 3px solid transparent;
      }
    }

  }

  /* DARK */
  &.su_nav-theme-dark {
    background-color:  black(0.9);

    .su_navigation-container {
      background-color: black(0.9);
      color: white(0.7);
      &.su_is-open {
        background-color: black(0.9);
        color: white(0.7);
      }

      .su_search {

        &:hover {
          background-color: black(1);
        }

        .su_search-label {
          color: su_color('foreground', 'light', 'heavy');
        }

        input:focus {
          color: su_color('foreground', 'light');
        }

        .su_submit-search:hover {
          color: su_color('foreground', 'light');
        }

      }

      .su_logo {
        color: su_color('foreground', 'light');
      }

    }

    a.su_link-active,
    a:hover {
      background-color: su_color('foreground', 'light', 0.15);
      color: su_color('foreground', 'light');
    }

    .su_menu-main {

      a.su_link-active {
        border-top: 3px solid su_color('foreground', 'light');
        border-bottom: 3px solid su_color('foreground', 'light');
      }

    }

    .su_menu-toggle {
      color: white(0.7);
      &:hover {
        color: su_color('foreground', 'light');
      }

    }

    &.su_navigation-fixed {

      &.su_navigation-top {
        .su_link-active.su_link-active {
          border-bottom: 3px solid su_color('foreground', 'light');
        }
      }

      &.su_navigation-bottom {
        .su_link-active.su_link-active {
          border-top: 3px solid su_color('foreground', 'light');
        }
      }

    }

  }

  /* LIGHT */
  &.su_nav-theme-light {
    background-color:  su_color('background', 'base');

    .su_navigation-container {
      background-color: su_color('background', 'base');
      color: su_color('accent', 'light', 'heavy');
      &.su_is-open {
        background-color: su_color('background', 'base');
        color: su_color('accent', 'light', 'heavy');
      }

      .su_search {

        &:hover {
          background-color: su_color('background', 'dark');
        }

        .su_search-label {
          color: su_color('accent', 'light', 'heavy');
        }

        input:focus {
          color: su_color('accent', 'light');
        }

        .su_submit-search:hover {
          color: su_color('accent', 'light');
        }

      }

      .su_logo {
        color: su_color('accent', 'light');
      }

    }

    a.su_link-active,
    a:hover {
      background-color: su_color('accent', 'light', 0.15);
      color: su_color('accent', 'light');
    }

    .su_menu-main {

      a.su_link-active {
        border-top: 3px solid su_color('accent', 'light');
        border-bottom: 3px solid su_color('accent', 'light');
      }

    }

    .su_menu-toggle {
      color: white(1);
      &:hover {
        color: su_color('accent', 'light');
      }

    }

    &.su_navigation-fixed {

      &.su_navigation-top {
        .su_link-active.su_link-active {
          border-bottom: 3px solid su_color('accent', 'light');
        }
      }

      &.su_navigation-bottom {
        .su_link-active.su_link-active {
          border-top: 3px solid su_color('accent', 'light');
        }
      }

    }

  }

}

/* End color themes */

/* END NAVIGATION COMPONENT */
