
//------------------------------------------------------------------------------
//                       Progress Bar Component
//------------------------------------------------------------------------------


@mixin m($modifier) {
  &--#{$modifier} {
    @content;
  }
}

.su_progress-bar {
  position: relative;
  height: 10px;
  margin: 20px;
  background-color: su_color('background', 'light');
  overflow: hidden;

    // .su_progress-bar--rounded
    @include m('rounded') {
      border-radius: 10px;
    }

    // .su_progress-bar--indeterminate
    @include m('indeterminate') {

      & .su_bar {
        left: -10%;
        width: 10%;
        animation: progress 2.2s infinite forwards linear;
        -webkit-animation: progress 2.2s infinite forwards linear;
      }

    }


    & .su_bar {

        position: absolute;
        height: inherit;
        background-color: su_color('primary', 'dark');

        // .su_bar--success
        @include m('success') {
          background-color: su_color('primary', 'base');
        }

        // .su_bar--warn
        @include m('warn') {
          background-color: su_color('accent', 'light');
        }

        // .su_bar--error
        @include m('error') {
          background-color: su_color('accent', 'dark');
        }

        // .su_bar--b     INFINITE LOADING - Backward
        @include m('b') {
          right: 0;
          left: 110%;
          animation: progress-b 2.2s infinite forwards linear;
          -webkit-animation: progress-b 2.2s infinite forwards linear;
        }

        // .su_bar--fb  INFINITE LOADING - Farward & Backward
        @include m('fb') {
          animation: progress-fb 2.2s infinite forwards linear;
          -webkit-animation: progress-fb 2.2s infinite forwards linear;
        }
    }


}

@keyframes progress {
  100% { left: 110%; }
}

@keyframes progress-b {
  100% { left: -10% }
}

@keyframes progress-fb {
  50% { left: 100%; }
  100% { left: -10% }
}
