<!doctype html>
<html class="no-js" lang="en-us">
  <head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="author" content="Rafael Nunez">
  <title>Side Navbar</title>
  <meta name="description" content="A floating navigation bar where items are revealed on hover.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab|Roboto:300,400,700" rel="stylesheet">
  <link href="../../styles/main.css" rel="stylesheet">
</head>

<body>
  <ul class="evo_c-sidenav">
    <li class="evo_c-sidenav__item evo_c-sidenav__item--top">
      <a class="evo_c-sidenav__link" href="#">MENU ITEM 1 <i aria-hidden="true" class="material-icons evo_c-sidenav__icon">&#xE24D;</i></a>
    </li>
    <li class="evo_c-sidenav__item evo_c-sidenav__item--middle">
      <a class="evo_c-sidenav__link" href="#">MENU ITEM 2 <i aria-hidden="true" class="material-icons evo_c-sidenav__icon">&#xE1DB;</i></a>
    </li>
    <li class="evo_c-sidenav__item evo_c-sidenav__item--bottom">
      <a class="evo_c-sidenav__link" href="#">MENU ITEM 3 <i aria-hidden="true" class="material-icons evo_c-sidenav__icon">&#xE916;</i></a>
    </li>
  </ul>
  <script type="text/javascript" src="../../scripts/app.js"></script>
</body>
</html>
