<!doctype html>
  <html class="no-js" lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="author" content="Yerui Yu">
    <title>Evolution SVG Pagination</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto Slab|Roboto:300,400,700" rel="stylesheet">
    <link href="../../styles/main.css" rel="stylesheet">
  </head>
  <body>
    <div style="width: 80%; max-width: 1000px; margin: 0 auto;">
      <h2>Evolution UI Framework Component - SVG Pagination</h2>
  
      <div>
        <h3>Draw Cross</h3>
        <ul class="evo_c-svg-dot--default evo_c-svg-dot--cross">
          <li>
            <a href=""></a>
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 16 16" preserveAspectRatio="none">
              <line x1="13" y1="13" x2="3" y2="3" />
              <line x1="3" y1="13" x2="13" y2="3" />
            </svg>
          </li>
          <li>
            <a href=""></a>
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 16 16" preserveAspectRatio="none">
              <line x1="13" y1="13" x2="3" y2="3" />
              <line x1="3" y1="13" x2="13" y2="3" />
            </svg>
          </li>
          <li>
            <a href=""></a>
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 16 16" preserveAspectRatio="none">
              <line x1="13" y1="13" x2="3" y2="3" />
              <line x1="3" y1="13" x2="13" y2="3" />
            </svg>
          </li>
          <li>
            <a href=""></a>
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 16 16" preserveAspectRatio="none">
              <line x1="13" y1="13" x2="3" y2="3" />
              <line x1="3" y1="13" x2="13" y2="3" />
            </svg>
          </li>
          <li>
            <a href=""></a>
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 16 16" preserveAspectRatio="none">
              <line x1="13" y1="13" x2="3" y2="3" />
              <line x1="3" y1="13" x2="13" y2="3" />
            </svg>
          </li>
        </ul>
      </div>
  
      <div>
        <h3>Draw Ellipse</h3>
        <ul class="evo_c-svg-dot--default evo_c-svg-dot--ellipse">
          <li>
            <a href="#"></a>
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 16 16" preserveAspectRatio="none">
              <ellipse cx="8" cy="8" rx="7" ry="4" />
            </svg>
          </li>
          <li>
            <a href="#"></a>
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 16 16" preserveAspectRatio="none">
              <ellipse cx="8" cy="8" rx="7" ry="4" />
            </svg>
          </li>
          <li>
            <a href="#"></a>
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 16 16" preserveAspectRatio="none">
              <ellipse cx="8" cy="8" rx="7" ry="4" />
            </svg>
          </li>
          <li>
            <a href="#"></a>
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 16 16" preserveAspectRatio="none">
              <ellipse cx="8" cy="8" rx="7" ry="4" />
            </svg>
          </li>
          <li>
            <a href="#"></a>
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 16 16" preserveAspectRatio="none">
              <ellipse cx="8" cy="8" rx="7" ry="4" />
            </svg>
          </li>
  
        </ul>
      </div>
  
      <div>
        <h3>Draw Sector</h3>
        <ul class="evo_c-svg-dot--default evo_c-svg-dot--sector">
          <li>
            <a href="#"></a>
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 16 16" preserveAspectRatio="none">
              <circle cx="8" cy="8" r="8" />
            </svg>
          </li>
          <li>
            <a href="#"></a>
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 16 16" preserveAspectRatio="none">
              <circle cx="8" cy="8" r="8" />
            </svg>
          </li>
          <li>
            <a href="#"></a>
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 16 16" preserveAspectRatio="none">
              <circle cx="8" cy="8" r="8" />
            </svg>
          </li>
          <li>
            <a href="#"></a>
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 16 16" preserveAspectRatio="none">
              <circle cx="8" cy="8" r="8" />
            </svg>
          </li>
          <li>
            <a href="#"></a>
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 16 16" preserveAspectRatio="none">
              <circle cx="8" cy="8" r="8" />
            </svg>
          </li>
        </ul>
      </div>
  
      <div>
        <h3>Draw Square</h3>
        <ul class="evo_c-svg-dot--default evo_c-svg-dot--square">
          <li>
            <a href="#"></a>
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" preserveAspectRatio="none">
              <polygon points="2,0 28,2 30,28 0,28"/>
            </svg>
  
          </li>
          <li>
            <a href="#"></a>
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%"  preserveAspectRatio="none">
              <polygon points="2,0 28,2 30,28 0,28"/>
            </svg>
          </li>
          <li>
            <a href="#"></a>
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%"  preserveAspectRatio="none">
              <polygon points="2,0 28,2 30,28 0,28"/>
            </svg>
          </li>
          <li>
            <a href="#"></a>
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%"  preserveAspectRatio="none">
              <polygon points="2,0 28,2 30,28 0,28"/>
            </svg>
          </li>
          <li>
            <a href="#"></a>
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%"  preserveAspectRatio="none">
              <polygon points="2,0 28,2 30,28 0,28"/>
            </svg>
          </li>
        </ul>
      </div>
      <div>
        <h3>Draw Check</h3>
        <ul class="evo_c-svg-dot--default evo_c-svg-dot--check">
          <li>
            <a href="#"></a>
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" preserveAspectRatio="none">
              <path d="M6,12 Q6,12 6,12" />
            </svg>
  
          </li>
          <li>
            <a href="#"></a>
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%"  preserveAspectRatio="none">
              <path d="M2,4 Q2,4 2,4" />
            </svg>
          </li>
          <li>
            <a href="#"></a>
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%"  preserveAspectRatio="none">
              <path d="M2,4 Q2,4 2,4" />
            </svg>
          </li>
          <li>
            <a href="#"></a>
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%"  preserveAspectRatio="none">
              <path d="M2,4 Q2,4 2,4" />
            </svg>
          </li>
          <li>
            <a href="#"></a>
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%"  preserveAspectRatio="none">
              <path d="M2,4 Q2,4 2,4" />
            </svg>
          </li>
        </ul>
      </div>
    </div>
  
    <script type="text/javascript" src="../../scripts/app.js"></script>
  </body>
  </html>