/* DOT NAVIGATION */
.su_dot-navigation {
  display: inline-block;
  margin: 30px 0;
  box-sizing: border-box; }
  .su_dot-navigation *,
  .su_dot-navigation *::before,
  .su_dot-navigation *::after {
    box-sizing: border-box; }
  .su_dot-navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative; }
    .su_dot-navigation ul li {
      display: inline-block;
      margin: 0 15px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      cursor: pointer;
      transition: all 0.15s ease-in-out 0s; }
  .su_dot-navigation.su_dot-navigation-burst ul li {
    border: 1px dotted #9c0e5b; }
    .su_dot-navigation.su_dot-navigation-burst ul li:hover, .su_dot-navigation.su_dot-navigation-burst ul li.su_dot-current {
      border: 5px solid #da137f; }
  .su_dot-navigation.su_dot-navigation-scale ul li {
    background-color: #f162b0;
    border: 1px solid #f162b0; }
    .su_dot-navigation.su_dot-navigation-scale ul li:hover, .su_dot-navigation.su_dot-navigation-scale ul li.su_dot-current {
      transform: scale(1.2);
      background-color: #9c0e5b;
      border: 1px solid #9c0e5b; }
  .su_dot-navigation.su_dot-navigation-move ul li {
    background-color: #f162b0; }
    .su_dot-navigation.su_dot-navigation-move ul li:hover, .su_dot-navigation.su_dot-navigation-move ul li.su_dot-current {
      background-color: #9c0e5b; }
  .su_dot-navigation.su_dot-navigation-move ul #su_dot-mask {
    position: absolute;
    left: 15px;
    top: 0;
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #9c0e5b;
    transition: left 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0s; }
    .su_dot-navigation.su_dot-navigation-move ul #su_dot-mask.moving {
      animation: jiggle 0.3s cubic-bezier(0.19, 1, 0.22, 1) 0s forwards; }
@keyframes jiggle {
  0%, 100% {
    transform: translateY(0px); }
  5%, 15%, 25%, 35%, 45%, 55%, 65%, 75%, 85%, 95% {
    transform: translateY(-10px); }
  10%, 20%, 30%, 40%, 50%, 60%, 70%, 80%, 90% {
    transform: translateY(10px); } }
  .su_dot-navigation.su_dot-navigation-line ul #su_dot-line {
    position: absolute;
    top: 8px;
    bottom: 14px;
    right: calc(100% - 27px);
    background-color: rgba(218, 19, 127, 0.7);
    transition: right 0.4s cubic-bezier(0.19, 1, 0.22, 1) 0s, left 0.4s cubic-bezier(0.19, 1, 0.22, 1) 0.2s; }
    .su_dot-navigation.su_dot-navigation-line ul #su_dot-line.backwards {
      transition: left 0.4s cubic-bezier(0.19, 1, 0.22, 1) 0s, right 0.4s cubic-bezier(0.19, 1, 0.22, 1) 0.2s; }
  .su_dot-navigation.su_dot-navigation-line ul li {
    border: 2px solid #da137f;
    position: relative; }
    .su_dot-navigation.su_dot-navigation-line ul li::after {
      position: absolute;
      top: 6px;
      left: 6px;
      content: '';
      display: inline-block;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1) 0.1s; }
    .su_dot-navigation.su_dot-navigation-line ul li:hover::after {
      background-color: #da137f; }
    .su_dot-navigation.su_dot-navigation-line ul li.su_dot-current::after {
      background-color: #da137f;
      transform: scale(5); }

/* END DOT NAVIGATION */
