<h2>Dot Navigation</h2>

<div class="su_line su_align-center">
  <div class="su_cell su_cells_6">
    <h3>Burst</h3>
    <nav class="su_dot-navigation su_dot-navigation-burst">
      <ul>
        <li class="su_dot-current"></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </nav>
  </div>
  <div class="su_cell su_cells_6">
    <h3>Scale</h3>
    <nav class="su_dot-navigation su_dot-navigation-scale">
      <ul>
        <li class="su_dot-current"></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </nav>
  </div>
</div>

<div class="su_line su_align-center">
  <div class="su_cell su_cells_6">
    <h3>Move</h3>
    <nav class="su_dot-navigation su_dot-navigation-move">
      <ul>
        <li class="su_dot-current"></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </nav>
  </div>
  <div class="su_cell su_cells_6">
    <h3>Line Fill</h3>
    <nav class="su_dot-navigation su_dot-navigation-line">
      <ul>
        <li class="su_dot-current"></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </nav>
  </div>
</div>
