//  VARIABLES

$highlight: white(0); // highlight color for the area that is being focused for reading
// $background: su_color('secondary', 'base'); // color used to dim the rest of the page
$background: black(0.8); // color used to dim the rest of the page

@mixin fixed-containers {
  position: fixed;
  z-index: 1000;
  width: 100%;
  content: '';
  display: block;
  opacity: 0.85;
}

.su_eyelids-top,
.su_eyelids-bottom {
  @include fixed-containers;
}

.su_eyelids-top {
  top: 0;
  background-image: linear-gradient(to top, $highlight 0%, lighten($background, 10%) 10%, $background 60%);
}

.su_eyelids-bottom {
  bottom: 0;
  background-image: linear-gradient(to bottom, $highlight 0%, lighten($background, 10%) 10%, $background 60%);
}
