/******************************************************************************
                            Accordion Config
******************************************************************************/

/******************************************************************************
                            Accordion Component
******************************************************************************/

// @import 'accordion-config';

@include block('accordion') {
  // margin: 0 auto;
  padding-left: 0;
  margin-left: 0;
  // max-width: 40rem;
  width: 100%;
  list-style: none;

  @include e('bellow') {
    margin-bottom: .5em;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @include element('title') {
    width: 100%;
    padding: .9375em;
    display: block;
    background-color: get-color('primary', 'base');
    text-decoration: none;
    color: white(1);

    &:link,
    &:visited,
    &:active {
      text-decoration: none;
      color: white(1);
    }

    &:hover {
      background-color: get-color('primary', 'dark');
    }

    transition: background .3s ease, color .3s ease;

    @include state('active') {
      background-color: get-color('primary', 'dark');
    }
  }

  @include element('content') {
    max-height: 0;
    padding-left: .625em;
    padding-right: .625em;
    background: lighten(get-color('secondary', 'light'), 25%);
    overflow-y: scroll;
    transition: all .5s ease;

    @include state('expanded') {
      max-height: 50vh;
      padding-top: 1em;
    }
  }
}
/** END ACCORDION COMPONENT **/
