/******************************************************************************
                            TABS component
******************************************************************************/


@import 'tabs-config';




@include l( 'tab-grid' ) {

  padding: 0;
  list-style-type: none;

  @include e( 'item' ) {
    padding: 0;
    margin: 20px 0;

    @media screen and (min-width: $c-tabs-media-tablet) {
      padding: 20px;
    }
  }

}


@include c($c-component-name) {

  ///$component-selector: getBEMReference($c-form-component-name);
  $nav-selector: getBEMReference($c-component-name, 'navigation');
  $sticky-selector: getBEMReference($c-component-name, 'sticky');
  $tab-list-selector: getBEMReference($c-component-name, 'list');
  $tab-item-selector: getBEMReference($c-component-name, 'item');
  $tab-panel: getBEMReference($c-component-name, 'panel');
  $tab-link-selector: getBEMReference($c-component-name, 'link');


  min-width: $c-tabs-navigation-min-width - ($c-tabs-navigation-margin-tiny * 2);
  margin: $c-tabs-navigation-margin-tiny;
  font-family: $c-tabs-navigation-font-family;


  @media screen and (min-width: $c-tabs-media-phablet) {
    margin: $c-tabs-navigation-margin-small;
  }

  @media screen and (min-width: $c-tabs-media-tablet) {
    margin: $c-tabs-navigation-margin-normal;
  }

    //--------------------------------------------------------------------------
    //                         Helpers & Status
    //--------------------------------------------------------------------------

    @include h('border', $g-no-prefix, $apply-on-descendants: false) {

      @include m('light') {
        border: $c-tabs-border--light;
      }

      @include m('medium') {
        border: $c-tabs-border--medium;
      }

      @include m('heavy') {
        border: $c-tabs-border--heavy;
      }

    }

    //--------------------------------------------------------------------------
    //                          CARD - MODIFIER
    //--------------------------------------------------------------------------

    @include m('card') {
      box-shadow: 0 2px 4px 0 black(.16),
                  0 2px 11px 0 black(.12);
    }

    //--------------------------------------------------------------------------
    //                     SCROLL-FROM-TOP - MODIFIER
    //--------------------------------------------------------------------------

    @include m('scroll-from-top') {
      @extend %c-tabs-scroll;

      .#{$tab-panel} {
        @extend %c-tabs-scroll-tab-content;
        transform-origin: top center;
        transform: translateY(-220%);
        transition: transform 2s ease-in-out;

          //++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
          //                            Status
          //++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

          @include s('is-active') {
            transform: translateY(0);
          }
      }
    }

    //--------------------------------------------------------------------------
    //                     SCROLL-FROM-BOTTOM - MODIFIER
    //--------------------------------------------------------------------------

    @include m('scroll-from-bottom') {
      @extend %c-tabs-scroll;

      .#{$tab-panel} {
        @extend %c-tabs-scroll-tab-content;
        transform-origin: top center;
        transform: translateY(200%);
        transition: transform 2s ease-in-out;

          //++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
          //                            Status
          //++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

          @include s('is-active') {
            transform: translateY(0);
          }
      }
    }


    //--------------------------------------------------------------------------
    //                   SCROLL-FROM-LEFT - MODIFIER
    //--------------------------------------------------------------------------

    @include m('scroll-from-left') {
      @extend %c-tabs-scroll;

      .#{$tab-panel} {
        @extend %c-tabs-scroll-tab-content;
        transform-origin: left center;
        transform: translateX(-220%);
        transition: transform 2s ease-in-out;

          //++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
          //                            Status
          //++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

          @include s('is-active') {
            transform: translateX(0);
          }
      }
    }

    //--------------------------------------------------------------------------
    //                   SCROLL-FROM-RIGHT - MODIFIER
    //--------------------------------------------------------------------------

    @include m('scroll-from-right') {
      @extend %c-tabs-scroll;

      .#{$tab-panel} {
        @extend %c-tabs-scroll-tab-content;
        transform-origin: left center;
        transform: translateX(220%);
        transition: transform 2s ease-in-out;

          //++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
          //                            Status
          //++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

          @include s('is-active') {
            transform: translateX(0);
          }
      }
    }

    //--------------------------------------------------------------------------
    //                        Sticky-Half - MODIFIER
    //--------------------------------------------------------------------------

    @include m('sticky-half') {
      display: flex;
      flex-wrap: wrap;

      .#{$tab-list-selector} {
        height: 100%;
        align-items: center;
      }

      .#{$sticky-selector} {
        flex-grow: 1;
      }

      .#{$tab-panel} {
        flex-basis: 100%;
      }
    }

    //--------------------------------------------------------------------------
    //                        LATERAL - MODIFIER
    //--------------------------------------------------------------------------

    @include m('lateral') {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;

      @media screen and (min-width: $c-tabs-media-tablet) {
        flex-wrap: nowrap;
        flex-direction: row;
      }

      .#{$tab-list-selector} {
        @extend %c-tabs-flex-columns;
        min-width: $c-tabs-tab-lateral-list-min-width;
        height: 100%;

          @media screen and (min-width: $c-tabs-media-tablet) {
            justify-content: space-around;
          }
      }

      .#{$tab-item-selector} {
        width: 90%;
        text-align: center;
      }

      .#{$tab-panel} {
        flex-grow: 1;

        @media screen and (min-width: $c-tabs-media-tablet) {
          top: 0;
          max-width: calc(100% - #{$c-tabs-tab-lateral-list-min-width + ($c-tabs-tab-content-padding * 2)});
        }
      }

      .#{$sticky-selector} {
        flex-grow: 1;
      }

          //++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
          //                        RIGTH - LETERAL HELPER
          //++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

          @include h('right', $apply-on-descendants: false) {

            @media screen and (min-width: $c-tabs-media-tablet) {
              flex-direction: row-reverse;
            }
          }
    }


  //~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  //                       navigation ELEMENT
  //~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

  @include e('navigation') {
    font-size: $c-tabs-navigation-font-size;
    color: $c-tabs-link-color;
    background-color: $c-tabs-navigation-background-color;
    z-index: $c-tabs-navigation-z-index;

      @include m('dark') {
        background-color: $c-tabs-navigation-dark-background-color;
      }
  }

  //~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  //                       list ELEMENT
  //~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

  @include e('list') {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;


      @include h('space-between', $apply-on-descendants: false) {
        justify-content: space-between;
      }

      @include h('space-around', $apply-on-descendants: false) {
        justify-content: space-around;
      }

      @include h('grow', $apply-on-descendants: false) {
        .#{$tab-item-selector} {
            flex-grow: 1;
        }
      }

      @include h('text', $apply-on-descendants: false) {

        @include m('center') {
          .#{$tab-item-selector} {
              text-align: center;
          }
        }

        @include m('right') {
          .#{$tab-item-selector} {
              text-align: right;
          }
        }

      }


  }

  //~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  //                       item ELEMENT
  //~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

  @include e('item') {
    @extend %c-tabs-cursor-pointer;
    padding: $c-tabs-item-padding-top-bottom $c-tabs-item-padding-left-right;
    transition: background-color .8s ease;

    @include s('is-active') {
      background-color: $c-tabs-item-active-background-color!important;
    }

    &:hover {
      background-color: $c-tabs-item-hover-background-color;
      transition: all .4s;
    }
  }

  //~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  //                       Sticky ELEMENT
  //~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

  @include e('sticky') {
    text-align: center;
  }

  //~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  //                       link ELEMENT
  //~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

  @include e('link') {
    color: inherit;
    text-decoration: none;
  }

  //~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  //                       panel ELEMENT
  //~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

  @include e('panel') {
    @extend %c-tabs-display-none;
    padding: $c-tabs-tab-content-padding;
    z-index: $c-tabs-tab-content-z-index;

      //++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
      //                            Status
      //++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

        @include s('is-active') {
          display: block;
        }
  }
}
