.su_audio-player {
  background-color: su_color('background', 'light');
  border-radius: 4px;
  box-shadow: 0 3px 5px 0 su_color('background');
  min-width: 300px;
  padding: 0.625rem 1rem;

  &.su_primary-bg,
  &.su_accent-bg {
    color: su_color('background', 'light');
  }

  audio { 
    width: 0;
    height: 0;
  }

  button { 
    border: none;
    background-color: transparent;

    &:focus {
      outline: none;
    }
  }

  input[type="range"] {
    background-color: transparent;
    -webkit-appearance: none;
    width: 100%;
    
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      background-color: su_color('background', 'light');
      border: 1px solid su_color('background', 'dark');
      border-radius: 0.5625rem;
      height: 1.125rem;
      margin-top: -0.425rem;
      width: 1.125rem;
    }

    &::-moz-range-thumb {
      background-color: su_color('background', 'light');
      border: 1px solid su_color('background', 'dark');
      border-radius: 0.5625rem;
      height: 1.125rem;
      width: 1.125rem;
    }
    
    &::-ms-thumb {
      background-color: su_color('background', 'light');
      border: 1px solid su_color('background', 'dark');
      border-radius: 0.5625rem;
      height: 1.125rem;
      width: 1.125rem;
    }

    &::-ms-track {
      background-color: transparent;
      border-color: transparent;
      color: transparent;
      cursor: pointer;
      width: 100%;
    }

    &::-webkit-slider-runnable-track {
      background-color: su_color('background', 'dark');
      border-radius: 2.5px;
      cursor: pointer;
      height: 0.3125rem;
      width: 100%;
    }

    &::-moz-range-track {
      background-color: su_color('background', 'dark');
      border-radius: 2.5px;
      cursor: pointer;
      height: 0.3125rem;
      width: 100%;
    }

    &::-ms-track {
      background-color: su_color('background', 'dark');
      border-radius: 2.5px;
      cursor: pointer;
      height: 0.3125rem;
      width: 100%;
    }

    &:focus {
      outline: none;
    }
  }

  .su_controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .su_track-volume { 
    text-align: center;
    
    input[type="range"] {
      display: none;
    }

    .su_icon {

      i {
        vertical-align: middle;
      }
    }
  }

  .su_track {
    display: flex;
    flex-basis: 70%;
    align-items: center;

    input[type="range"] { 
      flex-basis: 85%;
    }

    button {
      flex-basis: 15%;
      vertical-align: bottom;

      i {
        vertical-align: middle;
        line-height: 27px;
      }
    }
  }
}