/* ==========================================================================
   Single Input Form component styles
   ========================================================================== */

@import 'single_input_form_space_saving_minimalist_form-config';

@mixin sif-flexbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.evo_c-sif,
.evo_c-mini-form {
  font-family: $g-framework-font-family;
  font-size: 1rem;
  position: relative;
  height: 3em;
  box-sizing: border-box;

  * {
    box-sizing: inherit;
    font-size: inherit;
  }

  label,
  input,
  button {
    outline: none;
    border: none;
  }
}

.evo_c-sif__input-wrap {
  @include sif-flexbox;

  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  flex-wrap: nowrap;
  width: 18.5em;
  height: 3em;
  //padding-left: 3.5em;
  //padding-right: 3.5em;
  background-color: shade($c-sif-white-color, 10%);
  border-radius: 1.5em;
  overflow: hidden;
  //opacity: 0;
  //visibility: hidden;
  z-index: 0;


  //animation-duration: 0.1s;
  //animation-timing-function: ease-out;
  //animation-fill-mode: forwards;
  //animation-delay: 0.7s;

  &:first-of-type {
    background-color: $c-sif-prim-dark-color;
    color: $c-sif-white-color;
    .c-sif__submission-msg {
      font-size: 1.2em;
    }
  }

  .evo_c-sif__input {
    cursor: text;
    border: 0;
    line-height: 2.4em;
    color: $c-sif-input-txt-color;
    margin-left: 0;
    background-color: transparent;
    width: 10em;
    //animation-duration: 0.1s;
    //animation-timing-function: ease-out;
    //animation-fill-mode: forwards;
    //animation-delay: 0.2s;

    &:focus + .evo_c-sif__label {
      opacity: 0;
      visibility: hidden;
    }
  }

  .evo_c-sif__label {
    @include sif-flexbox;

    position: absolute;
    left: 4.5em;
    color: $c-sif-secondary-light-color;
    transition: opacity 0.2s, visibility 0s 0.2s;
    //animation-duration: 0.1s;
    //animation-timing-function: ease-in;
    //animation-fill-mode: forwards;

    .evo_c-sif__icon-label {
      margin-right: 0.3em;
    }
  }

  .evo_c-sif__indicator,
  [class^='evo_c-sif__btn--']{
    @include sif-flexbox;

    position: absolute;
    top: 0;
  }

  .evo_c-sif__indicator {
    left: 0;
    margin: 0;
    border-radius: 50%;
    height: 3em;
    width: 3em;
    color: $c-sif-white-color;
    //animation-duration: 0.7s;
    //animation-fill-mode: forwards;
    z-index: 5;
  }

  button.evo_c-sif__btn--next {
    @extend %c-sif__btn;
    right: 0.5em;
    color: $c-sif-prim-color;

    &:hover {
      color: $c-sif-prim-dark-color !important;
    }

    &.js-sif-is-invalid {
      color: $c-sif-invalid-color;
    }

    & .evo_c-sif__icon-next {
      font-weight: 700;
      font-size: 1.5em;
    }
  }

  .evo_c-sif__btn--prev {
    @extend %c-sif__btn;
    right: 2.2em;
    color: tint($c-sif-secondary-light-color, 10%);

    &:hover {
      color: $c-sif-secondary-dark-color;
    }

    & .evo_c-sif__icon-prev {
      font-weight: 700;
      font-size: 1.2em;
    }
  }


  // Fade out animations
  &.js-sif-anim-fadeout {
    animation: sif-fadeOut 0.5s ease-out 0.5s forwards;

    & .evo_c-sif__input {
      animation: sif-fadeOut 0.2s ease-out 0.2s forwards;
    }

    & .evo_c-sif__indicator {
      animation: sif-fadeOutRight 0.7s both;

    }

    & .evo_c-sif__btn--next {
      animation: sif-fadeOut 0.2s ease-out 0.5s forwards;
    }
  }

  // Fade in animations
  &.js-sif-anim-fadein {
    animation: sif-fadeIn 0.5s ease-out forwards;

    & .evo_c-sif__indicator {
      animation: sif-fadeInLeft 0.7s forwards;
    }

    & .evo_c-sif__btn--next {
      animation: sif-fadeIn 0.2s ease-out 0.5s both;
    }

    & .evo_c-sif__btn--prev {
      animation: sif-fadeIn 0.2s ease-out 0.5s both;
    }
  }
}

.js-sif-is-active {
  opacity: 1;
  visibility: visible;
}




// colors for different indicators
.evo_c-sif-color--0 .evo_c-sif__indicator {
  background-color: shade($c-sif-prim-color, 3%);
}

.evo_c-sif-color--1 .evo_c-sif__indicator {
  background-color: tint($c-sif-prim-dark-color, 8%);
}

.evo_c-sif-color--2 .evo_c-sif__indicator {
  background-color: $c-sif-prim-darken-color;
}


// Animations
@keyframes sif-fadeOutRight {
  0% {
    right: 100%;
    left: 0;
  }
  30% {
    transform: rotate(0deg);
  }
  60% {
    opacity: 1;
  }
  100% {
    left: auto;
    right: 0;
    transform: rotate(360deg);
    opacity: 0;
  }
}

@keyframes sif-fadeInLeft {
  0% {
    left: 100%;
    opacity: 0;
  }
  20% {
    transform: rotate(360deg);
  }
  100% {
    right: auto;
    left: 0;
    transform: rotate(0deg);
    opacity: 1;
  }
}

@keyframes sif-fadeOut {
  0% {
    opacity: 1;
    visibility: visible;
  }
  99% {
    opacity: 0;
  }
  100% {
    visibility: hidden;
  }
}

@keyframes sif-fadeIn {
  0% {
    visibility: visible;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}




/* ==========================================================================
   Space-saving-minimalist Form component styles
   ========================================================================== */

// General styles
.evo_c-mini-form {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: $c-sif-white-color;

  .evo_c-mini-form__btn--prev {
    display: block;
    position: absolute;
    top: 0;
    height: 3.3em;
    width: 4px;
    margin: 0;
    background-color: $c-sif-light-gray-color;
    cursor: pointer;
    visibility: hidden;
    transition: visibility 0s, background-color 0.2s;

    &:hover {
      background-color: tint($c-sif-prim-light-color, 25%);
    }
  }
}

/* sub-elements styles
   ========================================================================== */

// outer wrap styles
.evo_c-mini-form__input-wrap {
  position: absolute;
  top: 0;
  overflow: hidden;
  background-color: $c-sif-white-color;
  border-right: 4px solid $c-sif-light-gray-color;
  min-width: 0;
  width: 0;
  height: 3.3em;
  margin: 0;
  padding: 0;

  animation-duration: 0.65s;
  animation-fill-mode: forwards;
  transition: border-right-color 0.2s 0.45s;

  &:first-of-type {
    border: 0;
    width: 19em;
  }

  // Active input styles
  &.js-mini-form-is-active {
    min-width: 19.5em;

    // Valid border color of the first card after the active card
    & ~ .evo_c-mini-form__input-wrap {
      transition: border-right-color 0.2s;
      border-right-color: tint($c-sif-prim-light-color, 25%);
    }

    // Valid border color of the rest cards after the active card
    & ~ .evo_c-mini-form__input-wrap ~ .evo_c-mini-form__input-wrap {
      transition: border-right-color 0.2s;
      border-right-color: $c-sif-light-gray-color;
    }
  }

  // Invalid border color
  &.js-mini-form-is-invalid ~ .evo_c-mini-form__input-wrap {
    border-right-color: $c-sif-invalid-color;
  }
  // Valid border color
  &.js-mini-form-is-invalid ~ .evo_c-mini-form__input-wrap ~ .evo_c-mini-form__input-wrap {
    border-right-color: $c-sif-light-gray-color;
  }

  &.evo_c-mini-form__submit > .evo_c-mini-form__input-inner {
    @include sif-flexbox;
    background-color: $c-sif-prim-dark-color;
    color: $c-sif-white-color;
  }

  /** Animation classes **/
  // Fadeout Animation
  &.js-mini-form-anim-fadeout {
    & .evo_c-mini-form__input-inner {
      animation: mini-fadeout 0.65s forwards;
    }
  }

  // Fadein Animation
  &.js-mini-form-anim-fadein {
    animation: mini-expandToRight 0.65s forwards;
  }

  // Fadeout-back animation
  &.js-mini-form-anim-fadeout-back {
    animation: mini-rollToLeft 0.65s forwards;
  }
}

// Inner wrap styles
.evo_c-mini-form__input-inner {
  position: absolute;
  left: 0.5em;
  width: 18em;
  height: 100%;
  background-color: $c-sif-light-gray-color;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  opacity: 1;
  overflow: hidden;

  .evo_c-mini-form__input,
  .evo_c-mini-form__submit-btn {
    height: 100%;
    width: 14.7em;
    margin: 0;
    padding-left: 0.9em;
    padding-right: 0.9em;
  }

  .evo_c-mini-form__input {
    background-color: transparent;
    color: $c-sif-bg-light-color;
  }

  .evo_c-mini-form__btn--next,
  .evo_c-mini-form__btn--back {
    cursor: pointer;
    height: 100%;
    margin-left: 0;
    margin-right: 0;
    width: 3.3em;
    transition: background-color 0.2s;

    .material-icons {
      font-size: 1.5em;
    }
  }
  .evo_c-mini-form__btn--next {
    background-color: $c-sif-prim-color;
    color: $c-sif-white-color;
    animation-duration: 0.65s;
    animation-fill-mode: forwards;

    &:hover {
      background-color: tint($c-sif-prim-dark-color, 10%);
    }
  }

  .evo_c-mini-form__btn--back {
    background-color: shade($c-sif-white-color, 17%);
    color: shade($c-sif-white-color, 3%);

    &:hover {
      background-color: shade($c-sif-white-color, 22%);
    }
  }

  .evo_c-mini-form__submit-btn {
    cursor: pointer;
    color: $c-sif-white-color;
    background-color: shade($c-sif-prim-color, 4%);
    transition: background-color 0.2s;

    &:hover {
      background-color: tint($c-sif-prim-dark-color, 10%);
    }
  }

  /** Animation classes **/
  // Background Animation
  &.js-mini-form-anim-bgchange {
    animation: mini-bgChange 0.65s forwards;
  }
}

// Animations
@keyframes mini-fadeOut {
  0% {
    opacity: 1;
  }
  85% {
    opacity: 1;
    visibility: hidden;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes mini-expandToRight {
  0% {
    width: 0;
    min-width: 0;
  }
  100% {
    width: 19.5em;
    min-width: 19.5em;
  }
}

@keyframes mini-rollToLeft {
  0% {
    width: 19.5em;
    min-width: 19.5em;
  }
  100% {
    width: 0;
    min-width: 0;
  }
}

@keyframes mini-bgChange {
  0% {
    background-color: shade($c-sif-white-color, 5%);
  }
  75% {
    background-color: shade($c-sif-white-color, 5%);
  }
  100% {
    background-color: $c-sif-light-gray-color;
  }
}
