/*
* FULL SCREEN PREVIEW COMPONENT
*/

.su_full_screen-overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  overflow-x: hidden;
  transition: 0.5s;
}

.su_full_screen_preview {
  cursor: pointer;
}

.su_overlay_content {
  position: relative;
  top: 15%;
  width: 100%;
  text-align: center;
  color: #fff;
}

.su_overlay_content img {
  border-radius: 4px;
}

/*
* END FULL SCREEN PREVIEW COMPONENT
*/
