// component name
$c-dot-navigation-name: 'dot-navigation';

// component variables
$dot-size: 24px; // even values are recommended
$zap-line-width: 4px; // even values are recommended
$dot-spacing: 30px;
