<div class="su_space-top--medium"></div>

<h2>Tabs</h2>

<h3>Classic Tabs</h3>

<div class="su_tabs su_tabs_horizontal">
  <input id="su_tab_horizontal_1" type="radio" name="tabs_horizontal" checked>
  <label for="su_tab_horizontal_1"><i class="fa fa-code"></i><span>Code</span></label>

  <input id="su_tab_horizontal_2" type="radio" name="tabs_horizontal">
  <label for="su_tab_horizontal_2"><i class="fa fa-pencil-square-o"></i><span>Image</span></label>

  <input id="su_tab_horizontal_3" type="radio" name="tabs_horizontal">
  <label for="su_tab_horizontal_3"><i class="fa fa-bar-chart-o"></i><span>Text</span></label>

  <input id="su_tab_horizontal_4" type="radio" name="tabs_horizontal">
  <label for="su_tab_horizontal_4"><i class="fa fa-folder-open-o"></i><span>Map</span></label>

  <input id="su_tab_horizontal_5" type="radio" name="tabs_horizontal">
  <label for="su_tab_horizontal_5"><i class="fa fa-envelope-o"></i><span>Contact</span></label>

  <section id="su_content_horizontal_1" >
    <div class="su_tab-content">
      <div class="su_line">
        <div class="su_cells su_cells_8 ">
          <img class="su_full-width" src="https://static.pexels.com/photos/102896/pexels-photo-102896.jpeg">
        </div>
        <div class="su_cells su_cells_4">
          <div class="su_space-top--medium"></div>
          <h3 class="su_align-center">Some Text</h3>
          <p>Novitates autem si spem adferunt, ut tamquam in herbis non fallacibus fructus appareat, non sunt illae quidem repudiandae, vetustas tamen suo loco conservanda; maxima est enim vis vetustatis et consuetudinis. Quin in ipso equo, cuius modo feci mentionem.</p>
        </div>
      </div>
    </div>
  </section>
  <section id="su_content_horizontal_2">
    <div class="su_tab-content">
      <div class="su_line">
        <div class="su_cells su_cells_4">
          <div class="su_space-top--medium"></div>
          <h3 class="su_align-center">Some Text</h3>
          <p>Novitates autem si spem adferunt, ut tamquam in herbis non fallacibus fructus appareat, non sunt illae quidem repudiandae, vetustas tamen suo loco conservanda; maxima est enim vis vetustatis et consuetudinis. Quin in ipso equo, cuius modo feci mentionem.</p>
        </div>
        <div class="su_cells su_cells_8">
          <img class="su_full-width" src="https://images.pexels.com/photos/190339/pexels-photo-190339.jpeg?w=940&h=650&auto=compress&cs=tinysrgb">
        </div>
      </div>
    </div>
  </section>
  <section id="su_content_horizontal_3">
    <div class="su_tab-content">
      <div class="su_line">
        <div class="su_cells su_cells_8">
          <img class="su_full-width" src="https://images.pexels.com/photos/7591/garden-flower-green-room-7591.jpg?w=940&h=650&auto=compress&cs=tinysrgb">
        </div>
        <div class="su_cells su_cells_4">
          <div class="su_space-top--medium"></div>
          <h3 class="su_align-center">Some Text</h3>
          <p>Novitates autem si spem adferunt, ut tamquam in herbis non fallacibus fructus appareat, non sunt illae quidem repudiandae, vetustas tamen suo loco conservanda; maxima est enim vis vetustatis et consuetudinis. Quin in ipso equo, cuius modo feci mentionem.</p>
        </div>

      </div>
    </div>
  </section>
  <section id="su_content_horizontal_4">
    <div class="su_tab-content">
      <div class="su_line">
        <div class="su_cells su_cells_4">
          <div class="su_space-top--medium"></div>
          <h3 class="su_align-center">Some Text</h3>
          <p>Novitates autem si spem adferunt, ut tamquam in herbis non fallacibus fructus appareat, non sunt illae quidem repudiandae, vetustas tamen suo loco conservanda; maxima est enim vis vetustatis et consuetudinis. Quin in ipso equo, cuius modo feci mentionem.</p>
        </div>
        <div class="su_cells su_cells_8">
          <img class="su_full-width" src="https://images.pexels.com/photos/59044/pexels-photo-59044.jpeg?w=940&h=650&auto=compress&cs=tinysrgb">
        </div>
      </div>
    </div>
  </section>
  <section id="su_content_horizontal_5">
    <div class="su_tab-content">
      <div class="su_line">
        <div class="su_cells su_cells_4">
          <div class="su_space-top--medium"></div>
          <h3 class="su_align-center">Some Text</h3>
          <p>Novitates autem si spem adferunt, ut tamquam in herbis non fallacibus fructus appareat, non sunt illae quidem repudiandae, vetustas tamen suo loco conservanda; maxima est enim vis vetustatis et consuetudinis. Quin in ipso equo, cuius modo feci mentionem.</p>
        </div>
        <div class="su_cells su_cells_8">
          <img class="su_full-width" src="https://images.pexels.com/photos/99548/water-lilies-bud-pond-green-99548.jpeg?w=940&h=650&auto=compress&cs=tinysrgb">
        </div>
      </div>
    </div>
  </section>

</div>

<div class="su_space-top--small"></div>
<h3>Vertical Tabs</h3>

<div class="su_tabs su_tabs_vertical">
  <ul class="su_tabs-vertical-titles">
    <li class="current">
      Code
    </li>
    <li>
      Image
    </li>
    <li>
      Text
    </li>
    <li>
      Map
    </li>
    <li>
      Contact
    </li>
  </ul>
  <ul class="su_tabs-vertical-contents">
    <li>
      <div class="su_line">
        <div class="su_cells su_cells_8 ">
          <img class="su_full-width" src="https://static.pexels.com/photos/102896/pexels-photo-102896.jpeg">
        </div>
        <div class="su_cells su_cells_4">
          <div class="su_space-top--small"></div>
          <h3 class="su_align-center">Some Text</h3>
          <p>Novitates autem si spem adferunt, ut tamquam in herbis non fallacibus fructus appareat, non sunt illae quidem repudiandae, vetustas tamen suo loco conservanda; maxima est enim vis vetustatis et consuetudinis. Quin in ipso equo, cuius modo feci mentionem.</p>
        </div>
      </div>
    </li>
    <li>
      <div class="su_line">
        <div class="su_cells su_cells_4">
          <div class="su_space-top--small"></div>
          <h3 class="su_align-center">Some Text</h3>
          <p>Novitates autem si spem adferunt, ut tamquam in herbis non fallacibus fructus appareat, non sunt illae quidem repudiandae, vetustas tamen suo loco conservanda; maxima est enim vis vetustatis et consuetudinis. Quin in ipso equo, cuius modo feci mentionem.</p>
        </div>
        <div class="su_cells su_cells_8">
          <img class="su_full-width" src="https://images.pexels.com/photos/190339/pexels-photo-190339.jpeg?w=940&h=650&auto=compress&cs=tinysrgb">
        </div>
      </div>
    </li>
    <li>
      <div class="su_line">
        <div class="su_cells su_cells_8">
          <img class="su_full-width" src="https://images.pexels.com/photos/7591/garden-flower-green-room-7591.jpg?w=940&h=650&auto=compress&cs=tinysrgb">
        </div>
        <div class="su_cells su_cells_4">
          <div class="su_space-top--small"></div>
          <h3 class="su_align-center">Some Text</h3>
          <p>Novitates autem si spem adferunt, ut tamquam in herbis non fallacibus fructus appareat, non sunt illae quidem repudiandae, vetustas tamen suo loco conservanda; maxima est enim vis vetustatis et consuetudinis. Quin in ipso equo, cuius modo feci mentionem.</p>
        </div>

      </div>
    </li>
    <li>
      <div class="su_line">
        <div class="su_cells su_cells_4">
          <div class="su_space-top--small"></div>
          <h3 class="su_align-center">Some Text</h3>
          <p>Novitates autem si spem adferunt, ut tamquam in herbis non fallacibus fructus appareat, non sunt illae quidem repudiandae, vetustas tamen suo loco conservanda; maxima est enim vis vetustatis et consuetudinis. Quin in ipso equo, cuius modo feci mentionem.</p>
        </div>
        <div class="su_cells su_cells_8">
          <img class="su_full-width" src="https://images.pexels.com/photos/59044/pexels-photo-59044.jpeg?w=940&h=650&auto=compress&cs=tinysrgb">
        </div>
      </div>
    </li>
    <li>
      <div class="su_line">
        <div class="su_cells su_cells_4">
          <div class="su_space-top--small"></div>
          <h3 class="su_align-center">Some Text</h3>
          <p>Novitates autem si spem adferunt, ut tamquam in herbis non fallacibus fructus appareat, non sunt illae quidem repudiandae, vetustas tamen suo loco conservanda; maxima est enim vis vetustatis et consuetudinis. Quin in ipso equo, cuius modo feci mentionem.</p>
        </div>
        <div class="su_cells su_cells_8">
          <img class="su_full-width" src="https://images.pexels.com/photos/99548/water-lilies-bud-pond-green-99548.jpeg?w=940&h=650&auto=compress&cs=tinysrgb">
        </div>
      </div>
    </li>
  </ul>
</div>
