/*  Tooltip  */

.su_tooltip {
  position: relative;
  display: inline-block;
  z-index: 50;
  border-bottom: dotted 2px #da137f;
  cursor: help;
}

.su_tooltip_text {
  display: none;
}

.su_tooltip:hover,
.su_tooltip:focus {
  z-index: 51;
  // display: block;
}

.su_tooltip:hover .su_tooltip_text,
.su_tooltip:focus .su_tooltip_text {
  display: block;
  position: absolute;
  width: 10rem;
  padding: 8px;
  background-color: #72c024;
  color: #fff;
  border: #ff0000;
  border-radius: 3px;
  font-size: 12px;
  top: calc(100% + 8px);
  // left: calc(-50% + 8px);
}

.su_tooltip_text::before {
  width: 0;
  height: 0;
  display: block;
  position: absolute;
  bottom: 100%;
  // left: calc(50% - 8px);
  content: '';
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;

  border-bottom: 8px solid #72c024;
}
