/******************************************************************************
                        SVG Pagination Config
******************************************************************************/

@mixin c-svg-dot-strokeStyle {
         opacity: 0;
         fill: none;
         stroke:get-color('primary','light');
         stroke-linecap: round;
         stroke-linejoin: round;
         transition: stroke-dashoffset .7s, opacity .7s;
 }

 @mixin c-svg-dot-itemStyle {
        li {
            &.is-active {
              a {
                  opacity: .5;
                }
          }

      svg {
         position: absolute;
         top: 0;
         left: 0;
         z-index: 2;
      }
    }
 }

 @mixin c-svg-dot-activeShapeStyle {
    opacity: 1;
    stroke-dashoffset: 0;
    transition: stroke-dashoffset .5s, opacity .5s;
 }

/******************************************************************************
                        SVG Pagination Component
******************************************************************************/

// @import 'svg_pagination-config';
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//                             SVG Pagination
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

@include component('svg-dot') {
    @include modifier('default') {
    margin: 0;
    padding: 0;
    list-style: none;
    user-select: none;
    li {
     position: relative;
     display: inline-block;
     width: 30px;
     height: 30px;
     cursor: pointer;
     a {
       position: absolute;
       top: 50%;
       left:50%;
       width: 16px;
       height: 16px;
       transform:translate(-50%,-50%);
       border-radius: 50%;
       background-color:rgba(255, 255, 255, 0.3);
       outline: none;
       background: rgba(0, 0, 0, .3);
       transition: opacity 0.5s;
       &:focus {
          outline: none;
       }
       &:hover {
          opacity: .5;
       }
     } 
     svg {
         position: absolute;
         top: 0;
         left: 0;
         z-index: 2;
     }
     }
    }
      /*draw sector  pagination*/
    @include modifier('sector') {
   
    li {
        svg {
            position: absolute;
            top:50%;
            left: 50%;
            width: 50%;
            height: 50%;
            transform:translate(-50%,-50%);
            border-radius: 50%;
            circle {
                opacity: 0;
                fill: none;
                stroke:get-color('primary','light');
                stroke-width: 16px;
                stroke-dasharray: 0 25;
                transform-origin: center center;
                transform: rotate(-90deg);
                transition: stroke-dasharray 0.5s, opacity 0.5s;
            }
        }
            &.is-active {
              a {
                  opacity: .5;
                }
              svg {
                circle {
                  opacity: 1;
                  stroke-dasharray: 50 25;
                  transition: stroke-dasharray .5s, opacity 0.5s;
                }
              }
            }
        }
      
    }
 /*draw cross  pagination*/
    @include modifier('cross') {
        li {
          svg {
            line {
              @include c-svg-dot-strokeStyle;
              stroke-width: 2;
            }
          }
          &.is-active {
           a {
                opacity: .5;
             }
            svg {
              line {
                 @include c-svg-dot-activeShapeStyle;
              }
            }
          }
        }
    }
 /*draw square pagination*/
    @include modifier('square') {
        li {
          svg {
            polygon {
              @include c-svg-dot-strokeStyle;
              stroke-width: 5;
              stroke-linecap: square;
              stroke-dasharray: 120;
              stroke-dashoffset: 120;
            }
          }
          &.is-active {
            a {
                  opacity: .5;
                }
            svg {
              polygon {
                 @include c-svg-dot-activeShapeStyle;
              }
            }
          }
        }

    }
/*draw square check*/
    @include modifier('check') {

          li {
          svg {
             path {
                  fill:none;
                  stroke:#fff;
                  stroke-width: 4;
                  transition:.5s;
             }
          }
            &.is-active {
            a {
                  opacity: .5;
                }
              svg {
                 path {
                     stroke:#65c5de;
                      d: path("M6,12 Q10,35 28,10");
                 }
              }
          }
        }
    }

    @include modifier('ellipse') {

     li {
      svg {
        ellipse {
          @include c-svg-dot-strokeStyle;
          stroke-width: 2;
          stroke-dasharray: 39;
          stroke-dashoffset: 39;
          transform-origin: center center;
          transform: rotate(-45deg);
        }
      }
       &.is-active {
           a {
               opacity: .5;
          }
          svg {
              ellipse {
                @include c-svg-dot-activeShapeStyle;
              }
          }
        }
     }

    }
  }

  
