//------------------------------------------------------------------------------
//                       Cubby Component
//------------------------------------------------------------------------------
/** CUBBY COMPONENT **/
.su_table tbody td.su_cubby {
  padding: 0px;
  background: su_color('background', 'light');
}

.su_cubby {
  position: relative;
  perspective: 500px;
}

.su_cubby .su_door {
  position: absolute;
  line-height: 3em;
  padding: 5px 0;
  background: su_color('primary', 'light');
  text-align: center;
  width: 100%;
  transition: all .3s ease;
  transform-style: preserve-3d;
  transform-origin: bottom;
  // backface-visibility: hidden;
}

.su_cubby .su_inside {
  line-height: 3em;
  padding: 5px 0;
  background: su_color('secondary', 'dark');
  text-align: center;
  color: white(1);
  width: 100%;
  position: absolute;
  z-index: -5;
}

.su_cubby:hover .su_door,
.su_cubby:focus .su_door{
  transform: rotateX(-90deg);
}

.su_cubby:hover .su_inside,
.su_cubby:focus .su_inside {
}
/** END CUBBY COMPONENT **/
