/** UTILITIES COMPONENT **/
/* UTILITIES COMPONENT - Variables */
/* UTILITIES COMPONENT - Float Classes */
.su_right {
  float: right; }

.su_left {
  float: left; }

.su_clear {
  content: "";
  display: table;
  clear: both; }

.su_clearfix::after {
  display: block;
  content: '';
  clear: both; }

/* UTILITIES COMPONENT - Full Width Class */
.su_full-width {
  width: 100%;
  box-sizing: border-box; }

/* UTILITIES COMPONENT - Radius Class */
.su_radius {
  border-radius: 4px; }

/* UTILITIES COMPONENT - Round Class */
.su_round {
  border-radius: 500px;
  padding: 15px 25px; }

/* UTILITIES COMPONENT - Base Background Color Classes */
.su_primary-bg {
  background-color: #72c024; }

.su_accent-bg {
  background-color: #da137f; }

.su_secondary-bg {
  background-color: #1b5709; }

.su_foreground-bg {
  background-color: #62a821; }

.su_background-bg {
  background-color: #dadad0; }

/* UTILITIES COMPONENT - Light Background Color Classes */
.su_primary-bg-light {
  background-color: #ade576; }

.su_accent-bg-light {
  background-color: #f162b0; }

.su_secondary-bg-light {
  background-color: #25760c; }

.su_foreground-bg-light {
  background-color: #73c427; }

.su_background-bg-light {
  background-color: #f0f0ed; }

/* UTILITIES COMPONENT - Dark Background Color Classes */
.su_primary-bg-dark {
  background-color: #59951c; }

.su_accent-bg-dark {
  background-color: #9c0e5b; }

.su_secondary-bg-dark {
  background-color: #113806; }

.su_foreground-bg-dark {
  background-color: #6ab624; }

.su_background-bg-dark {
  background-color: #c4c4b3; }

/* UTILITIES COMPONENT - Base Text Color Classes */
.su_primary {
  color: #72c024; }

.su_accent {
  color: #da137f; }

.su_secondary {
  color: #1b5709; }

.su_foreground {
  color: #62a821; }

.su_background {
  color: #dadad0; }

/* UTILITIES COMPONENT - Light Text Color Classes */
.su_primary-light {
  color: #ade576; }

.su_accent-light {
  color: #f162b0; }

.su_secondary-light {
  color: #25760c; }

.su_foreground-light {
  color: #73c427; }

.su_background-light {
  color: #f0f0ed; }

/* UTILITIES COMPONENT - Dark Text Color Classes */
.su_primary-dark {
  color: #59951c; }

.su_accent-dark {
  color: #9c0e5b; }

.su_secondary-dark {
  color: #113806; }

.su_foreground-dark {
  color: #6ab624; }

.su_background-dark {
  color: #c4c4b3; }

/* UTILITIES COMPONENT - Visibility & Hidden Class */
.su_hide {
  display: none; }

.su_invisible {
  visibility: hidden; }

@media screen and (max-width: 767px) {
  .su_show-medium--up {
    display: none; } }

@media screen and (max-width: 991px) {
  .su_show-large--up {
    display: none; } }

@media screen and (min-width: 768px) {
  .su_hide-medium--up {
    display: none; } }

@media screen and (min-width: 992px) {
  .su_hide-large--up {
    display: none; } }

/* UTILITIES COMPONENT - Screen Reader Only Content */
.su_sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute; }

/* UTILITIES COMPONENT - Text Alignment Classes */
.su_align-left {
  text-align: left; }

.su_align-right {
  text-align: right; }

.su_align-center {
  text-align: center; }

.su_align-justify {
  text-align: justify-all;
  text-align-last: justify; }

/* UTILITIES COMPONENT - Text Transform Classes */
.su_lowercase {
  text-transform: lowercase; }

.su_uppercase {
  text-transform: uppercase; }

.su_capitalize {
  text-transform: capitalize; }

/* UTILITIES COMPONENT - Code Class */
.su_code {
  background-color: #113806;
  color: #f0f0ed;
  border-radius: 4px;
  padding: 2px 5px; }

/* UTILITIES COMPONENT - Spacer Classes */
/* UTILITIES COMPONENT - Top Spacer Classes */
.su_space-top--small {
  margin-top: 20px; }

.su_space-top--medium {
  margin-top: 50px; }

.su_space-top--large {
  margin-top: 100px; }

/* UTILITIES COMPONENT - Right Spacer Classes */
.su_space-right--small {
  margin-right: 20px; }

.su_space-right--medium {
  margin-right: 50px; }

.su_space-right--large {
  margin-right: 100px; }

/* UTILITIES COMPONENT - Bottom Spacer Classes */
.su_space-bottom--small {
  margin-bottom: 20px; }

.su_space-bottom--medium {
  margin-bottom: 50px; }

.su_space-bottom--large {
  margin-bottom: 100px; }

/* UTILITIES COMPONENT - Left Spacer Classes */
.su_space-left--small {
  margin-left: 20px; }

.su_space-left--medium {
  margin-left: 50px; }

.su_space-left--large {
  margin-left: 100px; }

/* UTILITIES COMPONENT - Center Content Class */
.su_center-content {
  display: block;
  margin-left: auto;
  margin-right: auto; }

/* UTILITIES COMPONENT - Styles for Presentation */
.brian_su_utilities-div {
  padding: 20px 30px;
  box-shadow: 0px 3px 3px 0px #c4c4b3; }

.brian_su_utilities-div i {
  vertical-align: middle;
  margin-right: 10px; }

.brian_su_utilities-fullwidth {
  width: 80%;
  box-shadow: 0px 3px 3px 0px #c4c4b3;
  padding: 10px; }

.brian_su_utilities-fullwidth-inner {
  padding: 10px; }

.brian_su_utilities-visibility-span {
  padding: 5px;
  background: #f162b0;
  transition: background .3s; }

.brian_su_utilities-radius-span {
  padding: 5px;
  background: #f162b0;
  transition: background .3s; }

.brian_su_utilities-visibility-span:hover,
.brian_su_utilities-visibility-span:focus {
  background: #da137f; }

.brian_su_utilities-radius-span:hover,
.brian_su_utilities-radius-span:focus {
  background: #da137f; }

.brian_su_visibility-table {
  background: #ade576;
  padding: 5px;
  border-radius: 4px; }

.brian-div2 {
  max-width: 12rem;
  padding: 10px; }

/** END UTILITIES COMPONENT **/
