/*
* GRID COMPONENT
*/
.su_line {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap; }

.su_cell {
  padding: 0.5em;
  margin-bottom: 1em;
  word-wrap: break-word;
  width: 100%;
  box-sizing: border-box; }

@media screen and (min-width: 769px) {
  .su_cell {
    flex: 1; }

  .su_gutters {
    margin-left: -1em; }

  .su_gutters .su_cell {
    margin-left: 1em; }

  /* Columns count */
  .su_cells_1 {
    flex: 0 0 calc(8.33333%);
    max-width: calc(8.33333%); }

  .su_gutters .su_cells_1 {
    flex: 0 0 calc(8.33333% - 1em);
    max-width: calc(8.33333% - 1em); }

  .su_cells_2 {
    flex: 0 0 calc(16.66667%);
    max-width: calc(16.66667%); }

  .su_gutters .su_cells_2 {
    flex: 0 0 calc(16.66667% - 1em);
    max-width: calc(16.66667% - 1em); }

  .su_cells_3 {
    flex: 0 0 calc(25%);
    max-width: calc(25%); }

  .su_gutters .su_cells_3 {
    flex: 0 0 calc(25% - 1em);
    max-width: calc(25% - 1em); }

  .su_cells_4 {
    flex: 0 0 calc(33.33333%);
    max-width: calc(33.33333%); }

  .su_gutters .su_cells_4 {
    flex: 0 0 calc(33.33333% - 1em);
    max-width: calc(33.33333% - 1em); }

  .su_cells_5 {
    flex: 0 0 calc(41.66667%);
    max-width: calc(41.66667%); }

  .su_gutters .su_cells_5 {
    flex: 0 0 calc(41.66667% - 1em);
    max-width: calc(41.66667% - 1em); }

  .su_cells_6 {
    flex: 0 0 calc(50%);
    max-width: calc(50%); }

  .su_gutters .su_cells_6 {
    flex: 0 0 calc(50% - 1em);
    max-width: calc(50% - 1em); }

  .su_cells_7 {
    flex: 0 0 calc(58.33333%);
    max-width: calc(58.33333%); }

  .su_gutters .su_cells_7 {
    flex: 0 0 calc(58.33333% - 1em);
    max-width: calc(58.33333% - 1em); }

  .su_cells_8 {
    flex: 0 0 calc(66.66667%);
    max-width: calc(66.66667%); }

  .su_gutters .su_cells_8 {
    flex: 0 0 calc(66.66667% - 1em);
    max-width: calc(66.66667% - 1em); }

  .su_cells_9 {
    flex: 0 0 calc(75%);
    max-width: calc(75%); }

  .su_gutters .su_cells_9 {
    flex: 0 0 calc(75% - 1em);
    max-width: calc(75% - 1em); }

  .su_cells_10 {
    flex: 0 0 calc(83.33333%);
    max-width: calc(83.33333%); }

  .su_gutters .su_cells_10 {
    flex: 0 0 calc(83.33333% - 1em);
    max-width: calc(83.33333% - 1em); }

  .su_cells_11 {
    flex: 0 0 calc(91.66667%);
    max-width: calc(91.66667%); }

  .su_gutters .su_cells_11 {
    flex: 0 0 calc(91.66667% - 1em);
    max-width: calc(91.66667% - 1em); }

  /* End columns count */ }
@media screen and (min-width: 961px) {
  .su_container {
    width: 960px;
    margin: 0 auto; } }
.su_demo .su_cell {
  border: 1px solid #72c024;
  border-radius: 4px; }

.su_demo .su_cell.su_accent-bg-light {
  border: 1px solid #da137f;
  border-radius: 4px; }

/*
* END GRID COMPONENT
*/
