---
title: "List Group with Round Image"
description:
author: Joseph Matembu
category: standard
type: list groups
order: 6
---

<ul class="evo_c-list-group">
  <li class="evo_c-list-group__item">
    <img class="evo_h-rounded" src="/assets/images/evolution-ui/standard/lists/face.jpg">
    <h4>John Doe</h4>
    <p>To fourth divide good. Multiply also subdue may all fill hath place can&#39;t place brought second tree. Beast created were.</p>
  </li>
  <li class="evo_c-list-group__item">
    <img class="evo_h-rounded" src="/assets/images/evolution-ui/standard/lists/face.jpg">
    <h4>John Doe</h4>
    <p>To fourth divide good. Multiply also subdue may all fill hath place can&#39;t place brought second tree. Beast created were.</p>
  </li>
  <li class="evo_c-list-group__item">
    <img class="evo_h-rounded" src="/assets/images/evolution-ui/standard/lists/face.jpg">
    <h4>John Doe</h4>
    <p>Living blessed in second. Deep abundantly fly hath midst fly the, spirit cattle rule life stars grass form lights fruitful.</p>
  </li>
</ul>
