//------------------------------------------------------------------------------
//                          Modals config
//------------------------------------------------------------------------------


$c-modal-name: 'modal';

$c-modal-white-color: white();
$c-modal-body-txt-color: get-color('background', 'light');
$c-modal-basic-color: get-color('primary', 'light');
$c-modal-header-color: get-color('primary', 'dark');
$c-modal-body-color: shade($c-modal-white-color, 10%);
$c-modal-gray-light-color: get-color('secondary', 'light');
$c-modal-primary-base-color: get-color('primary', 'base');
$c-modal-primary-dark-color: get-color('primary', 'dark');
$c-modal-primary-darken-color: get-color('primary', 'darken');


// Placeholders
%c-modal-basic {
  z-index: 10000;
  background-color: tint($c-modal-basic-color, 35%);
  border-radius: 3px;
  position: fixed;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s;
  min-width: 18em;
  width: 50%;
  max-width: 25em;
  min-height: 20em;
}

%c-modal-position-top {
  top: 15%;
  left: 0;
  right: 0;
  margin: 0 auto;
}

%c-modal-transform-basic {
  opacity: 1;
  pointer-events: all;
}

%c-modal-link {
  text-decoration: none;
  color: $c-modal-basic-color;
}

%c-modal-overlay {

}
