.su_list {
  border-radius: 4px;
  box-shadow: 0 2px 2px 0px su_color('background', 'base');
  list-style-type: none;
  min-width: 300px;
  overflow: auto;
  padding: 0;

  a.su_list-item,
  .su_list-item {
    transition: background-color .5s;
  }

  .su_list-item {
    border: .5px solid darken(su_color('background', 'light'), 10%);
    padding: 0.875rem;

    &:not(:first-child) {
      border-top: none;
    }

    &:hover {
      background-color: lighten(su_color('background', 'base'), 10%);
    }

    &:after {
      content: "";
      display: block;
      clear: both;
    }

    .su_list-item-label {
      background-color: su_color('accent');
      border-radius: 4px;
      color: su_color('background', 'light');
      display: inline-block;
      float: right;
      font-size: 60%;
      font-weight: bold;
      padding: 5px 8px;
    }

    img {
      border-radius: 4px;
      float: left;
      height: 70px;
      margin-right: .625rem;
      vertical-align: middle;
      width: 70px;
    }

    h3, h4, h5, h6, p {
      margin-bottom: 0.3125rem;
      margin-top: 0;
    }

    .su_img-rounded {
      border-radius: 50%;
    }
  }

  a.su_list-item {
    color: invert(su_color('background', 'light'));
    display: block;
    text-decoration: none;

    &.su_active {
      background-color: su_color('accent');
      color: su_color('background', 'light');
    }
  }



  .su_has-columns {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .su_list-item & {
      padding: 0;
    }

    .su_col {
      padding: 0.875rem
    }
  }

  i {
    vertical-align: bottom;
    line-height: .8;
  }

  @media screen and (max-width: 360px) {
    .su_has-columns {
      flex-wrap: wrap;
      flex-direction: column;
    }
  }
}
