/******************************************************************************
                              Crumble component
******************************************************************************/
.su_crumble {
  margin-bottom: 6em;
  max-width: 700px;
  font-weight: 300; }
  .su_crumble__list {
    padding: 0;
    list-style-type: none; }
    .su_crumble__list--icons {
      display: flex;
      justify-content: center; }
  .su_crumble__item {
    display: flex;
    align-items: center;
    position: relative;
    background-color: #9c0e5b;
    border: 1px solid #cecece; }
    .su_crumble__item:hover {
      background-color: #da137f; }
  .su_crumble__date {
    position: absolute;
    left: 10px;
    top: 0;
    display: flex;
    height: 100%;
    width: 60px;
    background-color: #c4c4b3;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    .su_crumble__date:after {
      content: attr(data-day);
      text-transform: uppercase;
      font-size: .8em; }
  .su_crumble__span {
    display: flex;
    align-items: center;
    color: white;
    padding-left: 100px;
    min-height: 50px; }
    .su_crumble__span--isActive {
      min-height: 0;
      height: 0;
      width: 0;
      overflow: hidden; }
  .su_crumble__icon {
    position: relative;
    bottom: 10px;
    padding: 10px;
    color: rgba(255, 255, 255, 0.69);
    background-color: #73c427; }
    .su_crumble__icon:hover {
      background-color: #62a821;
      color: white; }
    .su_crumble__icon--close {
      position: absolute;
      right: 5px;
      top: 5px;
      transition: transform 0.7s cubic-bezier(0.39, 0.58, 0.57, 1); }
      .su_crumble__icon--close:hover {
        transform: rotate(360deg); }
    .su_crumble__icon--expand {
      padding: 10px;
      background-color: rgba(255, 255, 255, 0.05); }
  .su_crumble .js_crumble_rotate_initial {
    transform: rotateX(0) !important; }
  .su_crumble .su_crumble_inner {
    min-height: 0;
    height: 0;
    background-color: black;
    overflow: hidden;
    transition: min-height 1s cubic-bezier(0, 1.02, 0, 1);
    perspective: 40px;
    cursor: initial; }
    .su_crumble .su_crumble_inner--isActive {
      min-height: 120px;
      height: auto;
      width: 100%;
      overflow: initial; }
    .su_crumble .su_crumble_inner__header {
      position: relative;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      height: 60px;
      text-align: center;
      background-color: #f0f0ed;
      transform: rotateX(-10deg);
      transition: transform 1s ease;
      transform-origin: 50% 0;
      transform-style: preserve-3d; }
    .su_crumble .su_crumble_inner__body {
      height: 60px;
      background-color: #6f6f6f;
      text-align: center;
      transform: rotateX(10deg);
      transition: transform 1s ease;
      transform-origin: 50% 100%;
      transform-style: preserve-3d;
      overflow: visible; }
    .su_crumble .su_crumble_inner__description {
      padding: 5px;
      color: rgba(255, 255, 255, 0.8); }
  .su_crumble--full-width .su_crumble__item {
    display: block; }