<h2 class="su_space-top--medium">Side Navigation Bar - left</h2>

<aside class="su_aside su_left">
  <nav>
    <ul>
      <li>
        <a href="">Link 1</a>
      </li>
      <li>
        <a href="">Link 2</a>
      </li>
      <li class="su_sidenav-current">
        <a href="">Link 3</a>
      </li>
      <li>
        <a href="">Long Link 4</a>
      </li>
      <li>
        <a href="">A Really Really Long Link 5</a>
      </li>
      <li>
        <a href="">Link 6</a>
      </li>
    </ul>
  </nav>
</aside>

<h2>Side Navigation Bar - right</h2>

<aside class="su_aside su_right su_theme-light">
  <nav>
    <ul>
      <li class="su_sidenav-current">
        <a href="">Link 1</a>
      </li>
      <li>
        <a href="">Link 2</a>
      </li>
      <li>
        <a href="">Link 3</a>
      </li>
      <li>
        <a href="">Long Link 4</a>
      </li>
      <li>
        <a href="">A Really Really Long Link 5</a>
      </li>
      <li>
        <a href="">Link 6</a>
      </li>
    </ul>
  </nav>
</aside>
