$c-sift: 'sift';

// Color variants
$c-sift-bck-variants: (
	'accent': ( 'base', 'dark' ),
	'accent2': ( 'base', 'dark' ),
	'accent3': ( 'base', 'dark' ),
	'accent4': ( 'base', 'dark' ),
	'primary': ( 'base', 'dark' ),
	'primary2': ( 'base', 'dark' ),
	'secondary': ( 'base', 'dark' ),
	'background': ( 'base', 'dark' )
);
$c-sift-txt-variants: (
	'primary': ('light'),
	'secondary': ('light')
);