//------------------------------------------------------------------------------
//						Innovative Login Form Config File
//------------------------------------------------------------------------------


$c-login-form: 'login-form';

//component's variables:
$font-family: 'Roboto Slab', serif;
$login-form-font-color: #fff;
$login-form-font-color-2: rgba(255,255,255,0.8);
$login-form-button-color: #42f4b3;

$login-form-link-color: #3b5c9b;
$login-form-link-color-hover: #6d9fff;
