/* SIDE NAVBAR COMPONENT */

$borderWidth: 5px;

.su_aside {
  box-sizing: border-box;
  overflow: hidden;
  margin: 20px;
  max-width: 30vw;
  background-color: su_color('primary');
  border-radius: 3px;
  * {
    box-sizing: border-box;
  }
  &.su_left {
    margin-left: 0;
    text-align: right;
    li {
      border-right: $borderWidth solid transparent;
    }
    li.su_sidenav-current,
    li:hover {
      border-right: $borderWidth solid su_color('secondary');
    }
  }
  &.su_right {
    margin-right: 0;
    li {
      border-left: $borderWidth solid transparent;
    }
    li.su_sidenav-current,
    li:hover {
      border-left: $borderWidth solid su_color('secondary');
    }
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      transition: all 0.2s ease-in-out 0s;
      &.su_sidenav-current a,
      a:hover {
        background-color: su_color('primary', 'light');
        color: su_color('secondary');
      }
      a {
        display: block;
        height: 100%;
        padding: 15px;
        color: su_color('background', 'light');
      }
    }
  }
  &.su_theme-light {
    background-color: su_color('background', 'dark');
    ul li {
      &.su_sidenav-current a,
      a:hover {
        background-color: su_color('background', 'base');
        color: su_color('accent', 'dark');
      }
      a {
        color: su_color('accent', 'light');
      }
    }
    &.su_left {
      li.su_sidenav-current,
      li:hover {
        border-right: $borderWidth solid su_color('accent', 'dark');
      }
    }
    &.su_right {
      li.su_sidenav-current,
      li:hover {
        border-left: $borderWidth solid su_color('accent', 'dark');
      }
    }
  }
}
/* END SIDE NAVBAR COMPONENT */
