/******************************************************************************
                            Utilities Config
******************************************************************************/

// $su_border-radius: 4px;
// $su_round-size: 500px;
// $su_boxshadow: 0px 3px 3px 0px #c4c4b3;

/******************************************************************************
                            Utilities Component
******************************************************************************/

// @import 'utilities-config';

@include helper('utilities') {
  /* UTILITIES COMPONENT - Float Classes */
  @include e('floats') {
    @include m('right') {
      float: right;
    }

    @include m('left'){
      float: left;
    }

    @include m('clear') {
      display: table;
      content: '';
      clear: both;

      &::after {
        display: block;
        content: '';
        clear: both;
      }
    }
  }
  /* UTILITIES COMPONENT - Text Transform Classes */
  @include e('text') {
    @include m('lowercase') {
      text-transform: lowercase;
    }

    @include m('uppercase') {
      text-transform: uppercase;
    }

    @include m('capitalize') {
      text-transform: capitalize;
    }
  }
  /* UTILITIES COMPONENT - Visibility Classes */
  @include e('visibility') {
    @include m('hidden') {
      display: none;
    }

    @include m('invisible') {
      visibility: hidden;
    }
  }

}

/* UTILITIES COMPONENT - Full Width Class */

// .su_full-width {
//   width: 100%;
//   display: block;
//   box-sizing: border-box;
// }

// /* UTILITIES COMPONENT - Radius Class */

// .su_radius {
//   border-radius: $su_border-radius;
// }

// /* UTILITIES COMPONENT - Round Class */

// .su_round {
//   border-radius: $su_round-size;
//   padding: 15px 25px;
// }

// /* UTILITIES COMPONENT - Base Background Color Classes */

// .su_primary-bg {
//   background-color: get-color('primary', 'base');
// }
// .su_accent-bg {
//   background-color: get-color('accent', 'base');
// }
// .su_secondary-bg {
//   background-color: get-color('secondary', 'base');
// }
// .su_foreground-bg {
//   background-color: get-color('accent3', 'base');
// }
// .su_background-bg {
//   background-color: get-color('background', 'base');
// }

// /* UTILITIES COMPONENT - Light Background Color Classes */

// .su_primary-bg-light {
//   background-color: get-color('primary', 'light');
// }
// .su_accent-bg-light {
//   background-color: get-color('accent', 'light');
// }
// .su_secondary-bg-light {
//   background-color: get-color('secondary', 'light');
// }
// .su_foreground-bg-light {
//   background-color: get-color('accent3', 'light');
// }
// .su_background-bg-light {
//   background-color: get-color('background', 'light');
// }

// /* UTILITIES COMPONENT - Dark Background Color Classes */

// .su_primary-bg-dark {
//   background-color: get-color('primary', 'dark');
// }
// .su_accent-bg-dark {
//   background-color: get-color('accent', 'dark');
// }
// .su_secondary-bg-dark {
//   background-color: get-color('secondary', 'dark');
// }
// .su_foreground-bg-dark {
//   background-color: get-color('accent3', 'dark');
// }
// .su_background-bg-dark {
//   background-color: get-color('background', 'dark');
// }

// /* UTILITIES COMPONENT - Base Text Color Classes */

// .su_primary {
//   color: get-color('primary', 'base');
// }
// .su_accent {
//   color: get-color('accent', 'base');
// }
// .su_secondary {
//   color: get-color('secondary', 'base');
// }
// .su_foreground {
//   color: get-color('accent3', 'base');
// }
// .su_background {
//   color: get-color('background', 'base');
// }

// /* UTILITIES COMPONENT - Light Text Color Classes */

// .su_primary-light {
//   color: get-color('primary', 'light');
// }
// .su_accent-light {
//   color: get-color('accent', 'light');
// }
// .su_secondary-light {
//   color: get-color('secondary', 'light');
// }
// .su_foreground-light {
//   color: get-color('accent3', 'light');
// }
// .su_background-light {
//   color: get-color('background', 'light');
// }

// /* UTILITIES COMPONENT - Dark Text Color Classes */

// .su_primary-dark {
//   color: get-color('primary', 'dark');
// }
// .su_accent-dark {
//   color: get-color('accent', 'dark');
// }
// .su_secondary-dark {
//   color: get-color('secondary', 'dark');
// }
// .su_foreground-dark {
//   color: get-color('accent3', 'dark');
// }
// .su_background-dark {
//   color: get-color('background', 'dark');
// }

// /* UTILITIES COMPONENT - Visibility & Hidden Class */


// // @media screen and (max-width: 767px) and (min-width: 992px) {
// //   .su_show-medium--only {
// //       display: none;
// //   }
// // }

// // .su_hide-medium--only {
// //   @media screen and (min-width: 768px) and (max-width: 992px) {
// //     display: none;
// //   }
// // }

// .su_show-medium--up {
//   @media screen and (max-width: 767px) {
//     display: none;
//   }
// }

// .su_show-large--up {
//   @media screen and (max-width: 991px) {
//     display: none;
//   }
// }

// .su_hide-medium--up {
//   @media screen and (min-width: 768px) {
//     display: none;
//   }
// }

// .su_hide-large--up {
//   @media screen and (min-width: 992px) {
//     display: none;
//   }
// }

// /* UTILITIES COMPONENT - Screen Reader Only Content */

// .su_sr-only {
//   clip: rect(1px, 1px, 1px, 1px);
//   height: 1px;
//   width: 1px;
//   overflow: hidden;
//   position: absolute;
// }

// /* UTILITIES COMPONENT - Text Alignment Classes */

// .su_align-left {
//   text-align: left;
// }

// .su_align-right {
//   text-align: right;
// }

// .su_align-center {
//   text-align: center;
// }

// .su_align-justify {
//   text-align: justify-all;
//   text-align-last: justify;
// }

// /* UTILITIES COMPONENT - Text Transform Classes */

// .su_lowercase {
//   // text-transform: lowercase;
// }

// .su_uppercase {
//   // text-transform: uppercase;
// }

// .su_capitalize {
//   // text-transform: capitalize;
// }

// /* UTILITIES COMPONENT - Code Class */

// .su_code {
//   background-color: su_color('secondary', 'dark');
//   color: su_color('background', 'light');
//   border-radius: $su_border-radius;
//   padding: 2px 5px;
// }

// /* UTILITIES COMPONENT - Spacer Classes */

// /* UTILITIES COMPONENT - Top Spacer Classes */

// .su_space-top--small {
//   margin-top: 20px;
// }

// .su_space-top--medium {
//   margin-top: 50px;
// }

// .su_space-top--large {
//   margin-top: 100px;
// }

// /* UTILITIES COMPONENT - Right Spacer Classes */

// .su_space-right--small {
//   margin-right: 20px;
// }

// .su_space-right--medium {
//   margin-right: 50px;
// }

// .su_space-right--large {
//   margin-right: 100px;
// }

// /* UTILITIES COMPONENT - Bottom Spacer Classes */

// .su_space-bottom--small {
//   margin-bottom: 20px;
// }

// .su_space-bottom--medium {
//   margin-bottom: 50px;
// }

// .su_space-bottom--large {
//   margin-bottom: 100px;
// }

// /* UTILITIES COMPONENT - Left Spacer Classes */

// .su_space-left--small {
//   margin-left: 20px;
// }

// .su_space-left--medium {
//   margin-left: 50px;
// }

// .su_space-left--large {
//   margin-left: 100px;
// }

// /* UTILITIES COMPONENT - Center Content Class */

// .su_center-content {
//   display: block;
//   margin-left: auto;
//   margin-right: auto;
// }


/* UTILITIES COMPONENT - Styles for Presentation Only
    (Not Needed For Component Functionality) */

@include h('presentation') {
  margin-bottom: 1em;
  padding: 1.25em 1.875em;
  box-sizing: border-box;
  border-radius: 4px;

  & i {
      margin-right: 10px;
      vertical-align: middle;
    }

  /* UTILITIES COMPONENT - Floats Presentation */
  @include e('floats') {

    @include m('left') {
      background-color: get-color('primary', 'light');
      color: white(1);
    }

    @include m('right') {
      background-color: get-color('primary', 'light');
      color: white(1);
    }

    @include m('clear') {
      width: 100%;
      background-color: get-color('accent', 'light');
      color: white(1);
      text-align: center;
    }
  }
  /* UTILITIES COMPONENT - Text Transform Presentation */
  @include e('text-container') {
    display: flex;
    margin-bottom: 1em;
    justify-content: space-between;

    @media screen and (max-width: 600px) {
        flex-wrap: wrap;
    }
  }

  @include e('text') {
    margin-left: 1em;
    margin-right: 1em;
  }

  @include e('visibility-container') {
    display: flex;
    margin-bottom: 2em;
    justify-content: space-between;
  }

  @include e('visibility-span') {
    flex-grow: 1;
    margin-left: 1em;
    margin-right: 1em;
    padding: 5px;
    background-color: get-color('accent4', 'light');
    border-radius: 4px;
    text-align: center;
    line-height: 2em;
    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

// .brian_su_utilities-fullwidth {
//   width: 80%;
//   box-shadow: $su_boxshadow;
//   padding: 10px;
// }

// .brian_su_utilities-fullwidth-inner {
//   padding: 10px;
// }

// .brian_su_utilities-visibility-span {
//   padding: 5px;
//   background: su_color('accent', 'light');
//   transition: background .3s;
// }

// .brian_su_utilities-radius-span {
//   padding: 5px;
//   background: su_color('accent', 'light');
//   transition: background .3s;
// }

// .brian_su_utilities-visibility-span:hover,
// .brian_su_utilities-visibility-span:focus {
//   background: su_color('accent', 'base');
// }

// .brian_su_utilities-radius-span:hover,
// .brian_su_utilities-radius-span:focus {
//   background: su_color('accent', 'base');
// }

// .brian_su_visibility-table {
//   background: su_color('primary', 'light');
//   padding: 5px;
//   border-radius: $su_border-radius;
// }

// .brian-div2 {
//   max-width: 12rem;
//   padding: 10px;
// }
/** END UTILITIES COMPONENT **/
