@import 'breadcrumbs-config';

.evo_breadcrumb-wrapper {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  & * {
   box-sizing: border-box;
  }
}

.evo_c-breadcrumb {
  display: flex;
  height: 2em;
  @media screen and (min-width: 500px) {
    & .evo_mobile-only {
      display: none;
    }
  }
  & li {
    list-style: none;
  }
  & a {
    color: $bk;
    position: relative;
    text-decoration: none;
    &:hover, &:visited {
     color: $bk;
     text-decoration: none;
    }
  }
  &__li + &__li:before {
    color: $sk-blue;
    content: "/\00a0";
    padding-left: 0.5em;
  }
  &__li--rbn {
    color: $wh;
    margin: 0 .6em;
    position: relative;
    &:first-of-type {
      margin: 0 .6em 0 0;
    }
    & a, & a:hover, & a:visited {
     color: $wh;
     text-decoration: none;
    }
  }
  &__a--rbn {
    background-color: $teal;
    border: 0;
    color: $wh;
    display: block;
    height: 0;
    line-height: 0em;
    padding: 1em;
    &:hover {
      background-color: lighten($teal,10%);
    }
  }
  &__li--rbn:first-child a {
    border-top-left-radius: 0.2em;
    border-bottom-left-radius: 0.2em;
  }
  &__li--rbn:last-child a {
    border-top-right-radius: 0.2em;
    border-bottom-right-radius: 0.2em;
  }
  &__li--rbn:not(:first-child) a:before {
    content: "";
    border-style: solid;
    border-color: $teal $teal $teal transparent;
    border-width: 1em 0 1em 1em;
    left: -1em;
    position: absolute;
    top: 0;
  }
  &__li--rbn:not(:first-child) > a:hover::before {
    border-color: lighten($teal,10%) lighten($teal,10%) lighten($teal,10%) transparent;
  }
  &__li--rbn:not(:last-child) a:after {
    content: "";
    border-top: 1em solid transparent;
    border-bottom: 1em solid transparent;
    border-left: 1em solid $teal;
    position: absolute;
    right: -1em;
    top: 0;
  }
  &__li--rbn:not(:last-child) > a:hover::after {
    border-left: 1em solid lighten($teal,10%);
  }
  &__a:hover {
    border-bottom: 0;
  }
  &--var-col {
    background-color: darken($teal,30%);
  }
  &__li--rbn a[class~="evo_c-breadcrumb--var-col"]:before {
    border-color: darken($teal,30%) darken($teal,30%) darken($teal,30%) transparent;
  }
  &__li--rbn a[class~="evo_c-breadcrumb--var-col"]:after {
    border-left: 1em solid darken($teal,30%);
  }
  &--act-col, &__a--rbn:active, &--var-col:active {
    background-color: darken($teal,20%);
  }
  &__li--rbn a[class~="evo_c-breadcrumb--act-col"]:before, &__li--rbn:not(:first-child) > a:active::before, &__li--rbn a[class~="evo_c-breadcrumb--var-col"]:active::before {
    border-color: darken($teal,20%) darken($teal,20%) darken($teal,20%) transparent;
  }
  &__li--rbn a[class~="evo_c-breadcrumb--act-col"]:after, &__li--rbn:not(:last-child) > a:active::after, &__li--rbn a[class~="evo_c-breadcrumb--var-col"]:active::after {
    border-left: 1em solid darken($teal,20%);
  }
}

// Breadcrumbs not needed on mobile

@media (max-width: 500px) {
  .evo_no-mobile {
    display: none;
  }
  .evo_c-breadcrumb {
    flex-direction: column;
    height: auto;
    padding-left: 0;
    &__li--rbn:not(:first-child) a:before, &__li--rbn:not(:last-child) a:after {
      display: none;
    }
    &__li + &__li:before {
      display: none;
    }
    & .evo_mobile-only {
      bottom: .2em;
      position: absolute;
      right: 0;
    }
    &__li--rbn {
      &:first-of-type {
        margin: 0 .6em;
      }
    }
    &__li--rbn:first-child a, &__li--rbn:last-child a {
      border-radius: 0;
    }
  }
}
