---
title: "demoComponent"
description:
  <p>This component allows website creators to help their users with tips showcasing different areas of their website.</p>
type: Tips/Help
author: Imanuel Gittens
category: evolution
order: 1
---

<div class="evo_l-grid__row l-gridrow__gutters">
  <div class="evo_l-grid__col col4_of16">
    <div class="left-widgets">
      <div class="calendar">
        <div class="evo_c-demo-help" help-order="help1">
          <div class="evo_c-demo-help__content is-hidden">
            <span class="evo_c-demo-help__message">
              This is the first message
            </span>
            <ul class="evo_c-demo-help__controls">
              <li><button class="evo_c-demo-help__controls-prev evo_c-demo-help__button h-bg-primary2" title="Previous Tip"><i class="material-icons">chevron_left</i></button></li>
              <li><button class="evo_c-demo-help__button h-bg-accent2" title="Close Tip"><i class="material-icons">clear</i></button></li>
              <li><button class="evo_c-demo-help__controls-next evo_c-demo-help__button h-bg-primary2" title="Next Tip"><i class="material-icons">chevron_right</i></button></li>
            </ul>
          </div>

        </div>
        <h3>Calendar</h3>
        <p>We can imagine a calendar widget here.</p>
      </div>
      <div class="calendar">
        <h3>Weather</h3>
        <p>We can imagine a Weather widget here.</p>
      </div>
    </div>
  </div>
  <div class="evo_l-grid__col col8_of16">
    <div class="blog-content">
      <div class="evo_c-demo-help" help-order="help3">
        <div class="evo_c-demo-help__content is-hidden">
            <span class="evo_c-demo-help__message">
              This is the third message
            </span>
          <ul class="evo_c-demo-help__controls">
            <li><button class="evo_c-demo-help__controls-prev evo_c-demo-help__button h-bg-primary2" title="Previous Tip"><i class="material-icons">chevron_left</i></button></li>
            <li><button class="evo_c-demo-help__button h-bg-accent2" title="Close Tip"><i class="material-icons">clear</i></button></li>
            <li><button class="evo_c-demo-help__controls-next evo_c-demo-help__button h-bg-primary2" title="Next Tip"><i class="material-icons">chevron_right</i></button></li>
          </ul>
        </div>

      </div>
      <section>
        <h3>Title 1</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda aut consequatur dolores facere harum, maxime porro? Beatae excepturi hic illo maxime, nostrum obcaecati omnis quo repudiandae soluta suscipit tenetur unde?</p>
      </section>
      <section>
        <h3>Title 2</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda aut consequatur dolores facere harum, maxime porro? Beatae excepturi hic illo maxime, nostrum obcaecati omnis quo repudiandae soluta suscipit tenetur unde?</p>
      </section>
      <section>
        <h3>Title 3</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda aut consequatur dolores facere harum, maxime porro? Beatae excepturi hic illo maxime, nostrum obcaecati omnis quo repudiandae soluta suscipit tenetur unde?</p>
      </section>
    </div>
  </div>
  <div class="evo_l-grid__col col4_of16">
    <div class="right-widgets">
      <div class="calendar">
        <div class="evo_c-demo-help" help-order="help2">
          <div class="evo_c-demo-help__content is-hidden">
            <span class="evo_c-demo-help__message">
              This is the second message and it is a longer help message
            </span>
            <ul class="evo_c-demo-help__controls">
              <li><button class="evo_c-demo-help__controls-prev evo_c-demo-help__button h-bg-primary2" title="Previous Tip"><i class="material-icons">chevron_left</i></button></li>
              <li><button class="evo_c-demo-help__button h-bg-accent2" title="Close Tip"><i class="material-icons">clear</i></button></li>
              <li><button class="evo_c-demo-help__controls-next evo_c-demo-help__button h-bg-primary2" title="Next Tip"><i class="material-icons">chevron_right</i></button></li>
            </ul>
          </div>
        </div>
        <h3>Categories</h3>
        <p>We can imagine a categories list here.</p>
      </div>
      <div class="calendar">
        <h3>Popular Posts</h3>
        <p>We can imagine a Popular Posts list here.</p>
      </div>
    </div>
  </div>
</div>
