<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Seed-UI - Combobox</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab|Roboto:300,400,700" rel="stylesheet">
        <link rel="stylesheet" href="../css/main.css">
    </head>
    <body style="padding: 80px">
      <section>
        <h2>Combobox (Text field with a Select Box)</h2>

        <article style="margin-bottom: 70px;">
          <h3>Basic Combobox</h3>
          <div class="su_line">
            <div class="su_cell su_cells_4 su_form">
              <p>This is the default combobox.</p>
              <div class="su_combobox su_field su_field-label-up">
                <input type="text" class="su_input" name="fruits" list="su_fruits" placeholder="Type to select">
                <label>Select Fruit</label>
                <datalist id="su_fruits">
                  <option value="Bananas">
                  <option value="Grapes">
                  <option value="Mangoes">
                  <option value="Passion">
                </datalist>
              </div>
            </div>
            <div class="su_cell su_cells_4 su_form">
              <p>Add <code>su_accent-primary</code> to the text field.</p>

              <div class="su_combobox su_field su_field-label-up">
                <input type="text" class="su_input su_primary-color" name="fruits" list="su_fruits" placeholder="Type to select">
                <label>Select Fruit</label>
                <datalist id="su_fruits">
                  <option value="Bananas">
                  <option value="Grapes">
                  <option value="Mangoes">
                  <option value="Passion">
                </datalist>
              </div>

            </div>
            <div class="su_cell su_cells_4 su_form">
              <p>Add <code>su_accent-color</code> to the text field.</p>

              <div class="su_combobox su_field su_field-label-up">
                <input type="text" class="su_input su_accent-color" name="fruits" list="su_fruits" placeholder="Type to select">
                <label>Select Fruit</label>
                <datalist id="su_fruits">
                  <option value="Bananas">
                  <option value="Grapes">
                  <option value="Mangoes">
                  <option value="Passion">
                </datalist>
              </div>

            </div>
          </div>
        </article>
      </section>
    </body>
</html>
