<h1>Tags</h1>
<h3>Rounded Tag (default)</h3>
<span class="su_tag">web</span>
<span class="su_tag">animals</span>
<span class="su_tag">seeds</span>
<span class="su_tag">video games</span>
<h3>Square Tag</h3>
<span class="su_tag-sq">web</span>
<span class="su_tag-sq">animals</span>
<span class="su_tag-sq">seeds</span>
<span class="su_tag-sq">video games</span>
<h3>Rounded Tag w/ Image</h3>
<span class="su_tag"><img src="http://lorempixel.com/1000/500/food/5" alt="">web</span>
<span class="su_tag"><img src="http://lorempixel.com/1000/500/food/6" alt="">animals</span>
<span class="su_tag"><img src="http://lorempixel.com/1000/500/food/7" alt="">seeds</span>
<span class="su_tag"><img src="http://lorempixel.com/1000/500/food/8" alt="">video games</span>
<h3>Square Tag w/ Image</h3>
<span class="su_tag-sq"><img src="http://lorempixel.com/1000/500/food/5" alt="">web</span>
<span class="su_tag-sq"><img src="http://lorempixel.com/1000/500/food/6" alt="">animals</span>
<span class="su_tag-sq"><img src="http://lorempixel.com/1000/500/food/7" alt="">seeds</span>
<span class="su_tag-sq"><img src="http://lorempixel.com/1000/500/food/8" alt="">video games</span>
