.su_table {
  width: 100%; }
  .su_table thead {
    border-bottom: 3px solid #c4c4b3;
    border-top: 3px solid #c4c4b3;
    text-align: left; }
    .su_table thead th {
      padding: 10px 20px;
      font-size: 18px; }
  .su_table tbody td {
    padding: 10px 20px; }

.su_table-bordered {
  border: 1px solid #c4c4b3; }
  .su_table-bordered thead th {
    border: 1px solid #c4c4b3; }
  .su_table-bordered tbody td {
    border: 1px solid #c4c4b3; }

.su_table-striped tr:nth-child(even) {
  background-color: #f0f0ed; }

.su_table-hover tbody tr:hover {
  background-color: #d9d9d1; }
