/******************************************************************************
                            Modals Config
******************************************************************************/

//------------------------------------------------------------------------------
//                          Modals config
//------------------------------------------------------------------------------


$c-modal-name: 'modal';

$c-modal-white-color: white();
$c-modal-body-txt-color: get-color('background', 'light');
$c-modal-basic-color: get-color('primary', 'light');
$c-modal-header-color: get-color('primary', 'dark');
$c-modal-body-color: shade($c-modal-white-color, 10%);
$c-modal-gray-light-color: get-color('secondary', 'light');
$c-modal-primary-base-color: get-color('primary', 'base');
$c-modal-primary-dark-color: get-color('primary', 'dark');
$c-modal-primary-darken-color: get-color('primary', 'darken');


// Placeholders
%c-modal-basic {
  z-index: 10000;
  background-color: tint($c-modal-basic-color, 35%);
  border-radius: 3px;
  position: fixed;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s;
  min-width: 18em;
  width: 50%;
  max-width: 25em;
  min-height: 20em;
}

%c-modal-position-top {
  top: 15%;
  left: 0;
  right: 0;
  margin: 0 auto;
}

%c-modal-transform-basic {
  opacity: 1;
  pointer-events: all;
}

%c-modal-link {
  text-decoration: none;
  color: $c-modal-basic-color;
}

/******************************************************************************
                            Modals Component
******************************************************************************/

/* ==========================================================================
   Modal component styles
   ========================================================================== */

// @import 'modals-config';


/* Modal buttons that trigger modals
   ========================================================================== */

a.evo_c-modal-trigger {
  font-family: $g-framework-font-family;
  font-size: 1rem;
  background: $c-modal-white-color;
  border: 0.1em solid $c-modal-basic-color;
  border-radius: 0.2em;
  cursor: pointer;
  display: inline-block;
  line-height: 2.4em;
  margin: 0 0.5em;
  padding: 0.1em 1.2em;
  position: relative;

  &:link,
  &:visited {
    @extend %c-modal-link;
  }
  &:hover {
    background-color: $c-modal-basic-color;
    color: $c-modal-white-color;
  }

  &:active {
    @extend %c-modal-link;
  }
}

/* Overlay styles
   ========================================================================== */

.evo_c-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s, opacity 0.3s;

  &--default {
    background-color: shade($c-modal-white-color, 4%);
    opacity: 0.6;
  }
  &--full {
    background-color: tint($c-modal-basic-color, 30%);
    opacity: 1;
  }
}


/* Modal styles
   ========================================================================== */

.evo_c-modal {
  @extend %c-modal-basic;

  * {
    font-family: $g-framework-font-family;
    font-size: 1rem;
    box-sizing: border-box;
  }

  &__content {
    width: 100%;
  }

  &__header {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    text-align: center;
    background-color: $c-modal-header-color;
    color: $c-modal-white-color;
    font-size: 1.8em;
    border-radius: 3px 3px 0 0;
  }

  &__body {
    margin: 0;
    padding: 2em 3em;
    color: tint($c-modal-body-txt-color, 10%);
    line-height: 1.5em;
  }

  &__footer {
    width: 100%;
    padding: 1em 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  a.evo_c-modal__close {
    @extend %c-modal-link;

    border: none;
    border-radius: 3px;
    padding: 0.6em 1em;
    background-color: shade($c-modal-primary-base-color, 2%);
    color: shade($c-modal-white-color, 5%);
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover {
      background-color: $c-modal-primary-dark-color;
    }
  }

}

// Basic modal specific styles
.evo_c-modal--basic {
  @extend %c-modal-basic;
  @extend %c-modal-position-top;
  transform: scale(0) rotate(360deg);

  &__header {
    background-color: $c-modal-primary-dark-color;
  }
}

// Full-screen modal specific styles
.evo_c-modal--full {
  @extend %c-modal-basic;
  font-size: 1.2em;
  top: 20%;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: transparent;
  transform: scale(0);

  .evo_c-modal__header {
    background-color: transparent;
  }
}

// Fixed modal specific styles
.evo_c-modal--fixed {
  @extend %c-modal-basic;
  @extend %c-modal-position-top;
  transform: scale(1.5);

  .evo_c-modal__body {
    background-color: $c-modal-body-color;
    height: 18em;
    overflow-y: auto;
  }
}

// Dialog modal specific styles
.evo_c-modal--dialog {
  @extend %c-modal-basic;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  transform: translateY(-100%);
  transition-timing-function: cubic-bezier(0.600, -0.280, 0.735, 0.045);

  .evo_c-modal__body {
    background-color: $c-modal-body-color;
    border-radius: 3px 3px 0 0;
  }

  .evo_c-modal__footer {
    justify-content: flex-end;

    .evo_c-modal__close:last-of-type {
      margin-left: 1.5em;
      background-color: $c-modal-primary-dark-color;

      &:hover {
        background-color: $c-modal-primary-darken-color;
      }
    }
  }
}

/* Transition styles
   ========================================================================== */

// Spin
.c-modal-transition--spin {
  @extend %c-modal-transform-basic;
  transform: scale(1) rotate(0deg);
}

// Fade in and scale up
.c-modal-transition--full {
  @extend %c-modal-transform-basic;
  transform: scale(1);
}

// Fade in and scale down
.c-modal-transition--scale-down {
  @extend %c-modal-transform-basic;
  transform: scale(1);
}

// Fade in and stick at top
.c-modal-transition--stick-top {
  @extend %c-modal-transform-basic;
  transform: translateY(0%);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275);
}


