@import "tooltip-config";

@include c($c-tooltip-container) {
  position: relative;

  @each $flow in map-keys($c-tooltip-flow-properties) {
    &:hover > .#{$reference-component}[flow^="#{$flow}"] {

      opacity: .9;

      @if $flow == up or $flow == down {
        transform: translate(-50%, 0);
      } @else if $flow == left or $flow == right {
        transform: translate(0, -50%);
      }
    }
  }
}

@include c($c-tooltip-name) {
  position: absolute;
  display: block;
  min-width: 30ch;
  max-width: 120ch;
  z-index: 999;
  padding: 0.5em 1em;
  font-size: 0.9em;
  color: white();
  text-align: center;
  background: get-color('primary');
  box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
  border-radius: 0.2em;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  pointer-events: none;

  img {
    max-width: 100%;
  }

  &::after {
    content: '';
    position: absolute;
    z-index: 1000;
    width: 0;
    height: 0;
    border: 0.4em solid transparent;
  }

  @each $flow, $propertyType in $c-tooltip-flow-properties {
    @each $property, $declaration in $propertyType {
      &[flow^="#{$flow}"] {
        #{$property} {
          @each $rule, $value in $declaration {
            #{$rule}: $value;
          }
        }
      }
    }
  }

  &:not([flow]) {
    @extend .#{$reference-component}[flow^="up"]
  }
}
