<section>
  <h2>Cards</h2>

  <article style="margin-bottom: 70px">
    <h3>Basic Card</h3>
    <p>Use any of the color classes to change the background of the cards.</p>
    <div class="su_line">
      <div class="su_cell su_cells_4 ">
        <div class="su_card su_color-primary">
          <h4 class="su_card-title">Card Title</h4>
          <p>Replenish, earth tree replenish give, he air days you, after i first them dry Seed. Created own every one lights.</p>
        </div>
      </div>
      <div class="su_cell su_cells_4 ">
        <div class="su_card su_color-info">
          <h4 class="su_card-title">Card Title</h4>
          <p>Replenish, earth tree replenish give, he air days you, after i first them dry Seed. Created own every one lights.</p>
        </div>
      </div>
    </div>
  </article>

  <article style="margin-bottom: 70px">
    <h3>Card with action button</h3>
    <p>These cards use buttons from the seed-ui framework but you can replace them with your own buttons or icons.</p>
    <div class="su_line">
      <div class="su_cell su_cells_6 ">
        <div class="su_card">
          <div class="su_card-body">
            <h4 class="su_card-title">Card Title</h4>
            <p>Replenish, earth tree replenish give, he air days you, after i first them dry Seed. Created own every one lights.</p>
          </div>
          <div class="su_card-footer">
            <button type="button" class="su_btn su_btn-warning">Cancel</button>
            <button type="button" class="su_btn su_btn-secondary">Continue</button>
          </div>
        </div>
      </div>
      <div class="su_cell su_cells_6 ">
        <div class="su_card">
          <div class="su_card-body">
            <h4 class="su_card-title">Card Title</h4>
            <p>Replenish, earth tree replenish give, he air days you, after i first them dry Seed. Created own every one lights.</p>
          </div>
          <div class="su_card-footer">
            <button type="button" class="su_btn su_btn-warning"><i class="material-icons left">autorenew</i>Reload</button>
            <button type="button" class="su_btn su_btn-secondary"><i class="material-icons left">done</i>Keep This</button>
          </div>
        </div>
      </div>
    </div>
  </article>

  <article style="margin-bottom: 70px">
    <h3>Card with Image</h3>

    <h4>Card 1</h4>
    <p>Wrap the image within a div or span with a class of <code>.su_card-image</code>.</p>
    <div class="su_line">
      <div class="su_cell su_cells_6 ">
        <div class="su_card">
          <div class="su_card-image">
            <img src="../components/card/images/1.jpg">
          </div>
          <div class="su_card-body">
            <h4 class="su_card-title">Card Title</h4>
            <p>Replenish, earth tree replenish give, he air days you, after i first them dry Seed. Created own every one lights.</p>
          </div>
          <div class="su_card-footer">
            <button type="button" class="su_btn su_btn-warning">Cancel</button>
            <button type="button" class="su_btn su_btn-secondary">Continue</button>
          </div>
        </div>
      </div>
    </div>
    <h4>Card 2</h4>
    <p>Add <code>.su_img-fill</code> to the wrapping element (<code>.su_card</code>).</p>
    <div class="su_line">
      <div class="su_cell su_cells_6 ">
        <div class="su_card su_img-fill">
          <div class="su_card-image">
            <img src="../components/card/images/1.jpg">
          </div>
          <h4 class="su_card-title">Card Title</h4>
          <div class="su_card-body">
            <p>Replenish, earth tree replenish give, he air days you, after i first them dry Seed. Created own every one lights.</p>
          </div>
          <div class="su_card-footer">
            <button type="button" class="su_btn su_btn-warning"><i class="material-icons left">autorenew</i>Reload</button>
            <button type="button" class="su_btn su_btn-secondary"><i class="material-icons left">done</i>Keep This</button>
          </div>
        </div>
      </div>
    </div>
    <h4>Card 3</h4>
    <p>Use <code>.su_img-overlap</code> together with the <code>.su_card</code> class.</p>
    <div class="su_line">
      <div class="su_cell su_cells_6 ">
        <div class="su_card su_img-overlap">
          <div class="su_card-image">
            <img src="../components/card/images/1.jpg">
          </div>
          <div class="su_card-body">
          <h4 class="su_card-title">Card Title</h4>
            <p>Replenish, earth tree replenish give, he air days you, after i first them dry Seed. Created own every one lights.</p>
          </div>
          <div class="su_card-footer">
            <button type="button" class="su_btn su_btn-warning"><i class="material-icons left">autorenew</i>Reload</button>
            <button type="button" class="su_btn su_btn-secondary"><i class="material-icons left">done</i>Keep This</button>
          </div>
        </div>
      </div>
    </div>
    <h4>Card 4</h4>
    <p>Use <code>.su_card-product</code> together with the <code>.su_card</code> class. You may use <code>.su_img-fill</code> or <code>.su_img-overlap</code> as you see fit.</p>
    <div class="su_line">
      <div class="su_cell su_cells_4">
        <div class="su_card su_img-fill su_card-product su_align-center">
          <div class="su_card-image">
            <img src="../components/card/images/3.jpg">
          </div>
          <div class="su_card-body">
            <h3 class="su_card-title">Red Shoe</h3>
            <p>Replenish, earth tree replenish</p>
          </div>
          <div class="su_card-footer">
            <span class="su_product-price su_left">$29.99</span>
            <span class="su_product-share su_right"><i class="material-icons">share</i></span>
            <span class="su_clear">
          </div>
        </div>
      </div>
    </div>
  </article>

</section>

