/******************************************************************************
                            Sticky Config
******************************************************************************/

$c-sticky-name: 'sticky';
$sticky-max-width: 9em;
$sticky-padding: 1em;
$sticky-border-radius: 4px;
