/******************************************************************************
                            Sticky Component
******************************************************************************/

@import 'sticky-config';

@include c('sticky') {

  max-width: $sticky-max-width;
  margin: 0 auto;
  padding: $sticky-padding;
  background: get-color('primary', 'base');
  border-radius: $sticky-border-radius;
  clear: both;

  @include e('end') {
    clear: both;
  }
}

@include h('sticky') {
  display: block;
  max-width: 300px;
  padding: 15px;

  @include m('left') {
    float: left;
  }

  @include m('right') {
    float: right;
  }
}
/** END STICKY COMPONENT **/
