/* EYELIDS COMPONENT */
.su_eyelids-notification {
  box-sizing: border-box;
  position: fixed;
  z-index: 999999;
  width: 280px;
  transform: translate3d(-100%, 0, 0);
  left: 10px;
  padding: 10px 20px;
  border-radius: 30px;
  background-color: #72c024;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.3); }
  .su_eyelids-notification p {
    margin-top: 0; }
  .su_eyelids-notification.su_active {
    animation: notify 5s cubic-bezier(0.19, 1, 0.22, 1) 0s forwards; }

@keyframes notify {
  0% {
    transform: translate3d(-100%, 0, 0); }
  5% {
    transform: translate3d(0, 0, 0); }
  95% {
    transform: translate3d(0, 0, 0); }
  100% {
    transform: translate3d(-100%, 0, 0); } }
.su_eyelids-top,
.su_eyelids-bottom {
  position: fixed;
  z-index: 9999;
  width: 100%;
  content: '';
  display: block;
  opacity: 0.98; }

.su_eyelids-top {
  top: 0;
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, #1a1a1a 10%, black 60%); }

.su_eyelids-bottom {
  bottom: 0;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #1a1a1a 10%, black 60%); }

.su_eyelids-helper {
  position: fixed;
  top: 20px;
  right: 20px;
  color: rgba(255, 255, 255, 0.8);
  z-index: 9999;
  pointer-events: none; }
  .su_eyelids-helper ul {
    list-style: disc; }
