<section>
  <h3>Sift</h3>
  <article>
    <p class="su_animate--sift">A component to sift through items more visually. Can be used as as a gallery too. Click on the basket on the left to sift through items.</p>
    <div class="su_line">
      <div class="su_cell su_cells_12">
        <h4>Basic Sift</h4>
        <div class="su_code-example">
          <div class="su_sift-container">
            <ul class="su_sift-items su_basket--pick">
              <li>
                <p>Some content</p>
              </li>
              <li>
                <p>Some content</p>
              </li>
              <li>
                <p>Some content</p>
              </li>
              <li>
                <p>Some content</p>
              </li>
              <li>
                <p>Some content</p>
              </li>
              <li>
                <p>Some content</p>
              </li>
              <li>
                <p>Some content</p>
              </li>
              <li>
                <p>Some content</p>
              </li>
              <li>
                <p>Some content</p>
              </li>
              <li>
                <p>Some content</p>
              </li>
              <li>
                <p>Some content</p>
              </li>
              <li>
                <p>Some content</p>
              </li>
              <li>
                <p>Some content</p>
              </li>
            </ul>
            <div class="su_sift-display"></div>
            <ul class="su_sift-items su_basket--drop">
            </ul>
          </div>
        </div>
      </div>
    </div>
  </article>
</section>