/* POP UP 3D COMPONENT */

@import 'safety-config';

@include c( $c-safety-name ) {

  height:45px;
  min-width:120px;
  padding:15px 34px;
  position: relative;
  cursor: pointer;
  text-transform:uppercase;
  transition:box-shadow .3s;
  background:#51d0ef;
  border: 0;
  border-radius: 3px;
  color: floralwhite;
  -webkit-box-shadow: 0px 4px 8px 0px rgba(135,132,135,1);
  -moz-box-shadow: 0px 4px 8px 0px rgba(135,132,135,1);
  box-shadow: 0px 4px 8px 0px rgba(135,132,135,1);


  @include e( 'example' ) {
    border: 3px dashed get-color('primary', 'dark', .7);
    font-family: 'Roboto', sans-serif;
    margin: 3em auto;
    padding: 14px;
    text-align: center;
    width: 60%;
  }

  @include e( 'description' ) {
    font-size: 14px;
    text-align: center;

    & + p {
      font-size: 12px;
    }
  }

  @include e( 'count' ) {
    background: #51d0ef;
    color: #edfafd;
    font-size: 14px;
    border-radius: 10px;
    display: inline-block;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    width: 20px;
  }

  @include e( 'alert' ) {
    border: 2px dotted green;
    margin: 14px auto;
    text-align: center;

  }

  @include e( 'alert-text' ) {
    margin: 0;
    padding: 5px;
    font-size: 14px;
  }




}
