---
title: "Default"
description: |
  <p>
    Evolution UI makes use of a typographic scale known as <em>major-third</em>
    for creating balanced and harmonious font sizing.
  </p>
  <p>
    The framework provides the h1-h6 headings as well as an extension for
    big and small headings.
  </p>
  <p>
    Evolution UI's typography classes can be applied on every HTML element.
  </p>
  <p>
    For example you could apply a <code>evo_c-typo__h1</code> class on an &lt;h3&gt;
    HTML element. The latter will get a new aesthetic look while its <em>semantic
    meaning</em> will remain the same.
  </p>
author: Gabriele Romeo
category: standard
type: typography
order: 1
---


<p class="evo_c-typo__x-large">Title x-large</p>
<p class="evo_c-typo__large">Title large</p>
<h1 class="evo_c-typo__h1">Title h1</h1>
<h2 class="evo_c-typo__h2">Title h2</h2>
<h3 class="evo_c-typo__h3">Title h3</h3>
<h4 class="evo_c-typo__h4">Title h4</h4>
<h5 class="evo_c-typo__h5">Title h5</h5>
<h6 class="evo_c-typo__h6">Title h6</h6>
<p class="evo_c-typo__small">Title small</p>
<p class="evo_c-typo__x-small">Title x-small</p>
