/******************************************************************************
                              Code-Markup Config
******************************************************************************/

$markup-border-radius: 3px;
$markup-tab-padding: 5px 10px;
$markup-tab-margin-right: 10px;
$markup-container-padding: 10px;
