<div class="su_alert su_alert-success"><i class="su_alert-star material-icons">star</i>This is a success alert.<i class="su_alert-close material-icons">close</i></div>
<div class="su_alert su_alert-info"><i class="su_alert-star material-icons">info</i>This is an info alert.<i class="su_alert-close material-icons">close</i></div>
<div class="su_alert su_alert-warning"><i class="su_alert-star material-icons">warning</i>This is a warning.<i class="su_alert-close material-icons">close</i></div>
<div class="su_alert su_alert-error"><i class="su_alert-star material-icons">error</i>This is an error alert.<i class="su_alert-close material-icons">close</i></div>
