<!doctype html>
<html class="no-js" lang="en-us">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="author" content="Aashish Nagpal">
  <title>Persona (Type 1)</title>
  <meta name="description" content="New Author Card Layout, Type 1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab|Roboto:300,400,700" rel="stylesheet">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="../../styles/main.css" rel="stylesheet">
</head>
<body>
<h2>Persona</h2>
<p>Create a <strong>persona</strong> around your team member/page author cards.</p>
<p>You can add as many <code class="language-css">evo_c-persona-container</code>(s) and as many
  <code class="language-css">evo_c-persona</code>(s) within them.</p>
<p>Try hovering over them!</p>

<div class="evo_c-persona-container">
  <div class="evo_c-persona">
    <img class="evo_c-persona__image" src="../../images/components/persona/guy-1.jpg">
    <p class="evo_c-persona__name">Virgil Hammond</p>
    <p class="evo_c-persona__title">Front End Developer</p>
    <ul class="evo_c-persona__links">
      <li class="evo_c-persona__link">
        <a class="evo_c-persona__icon" href="#"><i class="fa fa-globe" aria-hidden="true"></i></a>
      </li>
      <li class="evo_c-persona__link">
        <a class="evo_c-persona__icon" href="#"><i class="fa fa-github-square" aria-hidden="true"></i></a>
      </li>
      <li class="evo_c-persona__link">
        <a class="evo_c-persona__icon" href="#"><i class="fa fa-linkedin-square"
                                                     aria-hidden="true"></i></a>
      </li>
    </ul>
  </div>
  <div class="evo_c-persona">
    <img class="evo_c-persona__image" src="../../images/components/persona/girl-1.png">
    <p class="evo_c-persona__name">Sonya Mcmakin</p>
    <p class="evo_c-persona__title">Full Stack Developer</p>
    <ul class="evo_c-persona__links">
      <li class="evo_c-persona__link">
        <a class="evo_c-persona__icon" href="#"><i class="fa fa-globe" aria-hidden="true"></i></a>
      </li>
      <li class="evo_c-persona__link">
        <a class="evo_c-persona__icon" href="#"><i class="fa fa-github-square" aria-hidden="true"></i></a>
      </li>
      <li class="evo_c-persona__link">
        <a class="evo_c-persona__icon" href="#"><i class="fa fa-linkedin-square"
                                             aria-hidden="true"></i></a>
      </li>
    </ul>
  </div>
  <div class="evo_c-persona">
    <img class="evo_c-persona__image" src="../../images/components/persona/girl-2.png">
    <p class="evo_c-persona__name">Pamela Rundell</p>
    <p class="evo_c-persona__title">Front End Developer</p>
    <ul class="evo_c-persona__links">
      <li class="evo_c-persona__link">
        <a class="evo_c-persona__icon" href="#"><i class="fa fa-globe" aria-hidden="true"></i></a>
      </li>
      <li class="evo_c-persona__link">
        <a class="evo_c-persona__icon" href="#"><i class="fa fa-github-square" aria-hidden="true"></i></a>
      </li>
      <li class="evo_c-persona__link">
        <a class="evo_c-persona__icon" href="#"><i class="fa fa-linkedin-square"
                                                     aria-hidden="true"></i></a>
      </li>
    </ul>
  </div>
  <div class="evo_c-persona">
    <img class="evo_c-persona__image" src="../../images/components/persona/guy-2.jpg">
    <p class="evo_c-persona__name">Cesar Ayoub</p>
    <p class="evo_c-persona__title">Full Stack Developer</p>
    <ul class="evo_c-persona__links">
      <li class="evo_c-persona__link">
        <a class="evo_c-persona__icon" href="#"><i class="fa fa-globe" aria-hidden="true"></i></a>
      </li>
      <li class="evo_c-persona__link">
        <a class="evo_c-persona__icon" href="#"><i class="fa fa-github-square" aria-hidden="true"></i></a>
      </li>
      <li class="evo_c-persona__link">
        <a class="evo_c-persona__icon" href="#"><i class="fa fa-linkedin-square"
                                             aria-hidden="true"></i></a>
      </li>
    </ul>
  </div>
</div>
<script type="text/javascript" src="../../scripts/app.js"></script>
</body>
</html>
