/* EYELIDS COMPONENT */

$highlight: white(0); // highlight color for the area that is being focused for reading
$background: black(1); // color used to dim the rest of the page

@mixin fixed-containers {
  position: fixed;
  z-index: 9999;
  width: 100%;
  content: '';
  display: block;
  opacity: 0.98;
}

.su_eyelids-notification {
  box-sizing: border-box;
  position: fixed;
  z-index: 999999;
  width: 280px;
  transform: translate3d(-100%, 0, 0);
  left: 10px;
  padding: 10px 20px;
  border-radius: 30px;
  background-color: su_color('primary');
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 2px 2px 5px 1px black(0.3);

  p {
    margin-top: 0;
  }

  &.su_active {
    animation: notify 5s cubic-bezier(0.190, 1.000, 0.220, 1.000) 0s forwards;
  }

}

@keyframes notify {

  0% {
    transform: translate3d(-100%, 0, 0);
  }

  5% {
    transform: translate3d(0, 0, 0);
  }

  95% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-100%, 0, 0);
  }

}

.su_eyelids-top,
.su_eyelids-bottom {
  @include fixed-containers;
}

// maybe it is better to animate position on initialization instead the dimensions

.su_eyelids-top {
  top: 0;
  // height: 0;
  // transition: all 1s ease-in-out 0s;
  background-image: linear-gradient(to top, $highlight 0%, lighten($background, 10%) 10%, $background 60%);
}

.su_eyelids-bottom {
  bottom: 0;
  // top: 100vh;
  // transition: all 1s ease-in-out 0s;
  background-image: linear-gradient(to bottom, $highlight 0%, lighten($background, 10%) 10%, $background 60%);
}

.su_eyelids-helper {
  position: fixed;
  top: 20px;
  right: 20px;
  color: white(0.8);
  z-index: 9999;
  pointer-events: none;
  ul {
    list-style: disc;
  }
}
