
// Element's variables
$c-image1: url("http://res.cloudinary.com/dcuvoemqb/image/upload/v1488845132/UI%20Accordian/beach-1836050_640.jpg");
$c-image2: url("http://res.cloudinary.com/dcuvoemqb/image/upload/v1488845132/UI%20Accordian/greece-1776226_640.jpg");
$c-image3: url("http://res.cloudinary.com/dcuvoemqb/image/upload/v1488845132/UI%20Accordian/beach-1209726_640.jpg");
$c-image4: url("http://res.cloudinary.com/dcuvoemqb/image/upload/v1488845132/UI%20Accordian/passion-fruit-daiquiri-906099_640.jpg");
$transitionSpeed: 0.3s;
