//------------------------------------------------------------------------------
//                       Wave Component
//------------------------------------------------------------------------------


/******************************************************************************
                              Wave component
******************************************************************************/

.su_wave {
  position: relative;
  overflow: hidden;
}

.su_wave_inner {
  position: absolute;
  width: 0;
  height: 0;
  background: white(.3);
  border-radius: 50%;
  transform: scale(0);
  opacity: 1;
}

.su_wave__effect {
    animation: waveEffect .5s ease-in;
}

@keyframes waveEffect {
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
