
//------------------------------------------------------------------------------
//                       Crumble Component
//------------------------------------------------------------------------------

@mixin e($element) {
  &__#{$element} {
    @content;
  }
}

@mixin m($modifier) {
  &--#{$modifier} {
    @content;
  }
}

%pointer {
  cursor: pointer;
}

%unfold-transition {
  transition: transform .7s cubic-bezier(0.22, 0.61, 0.36, 1);
}

$su_crumble-span-min-height: 50px;
$su_crumble-header-height: 60px;
$su_crumble-body-height: 60px;

/******************************************************************************
                              Crumble component
******************************************************************************/

.su_crumble {
  margin-bottom: 6em;
  max-width: 700px;
  font-weight: 300;

  // .su_crumble__list
  @include e('list') {
    padding: 0;
    list-style-type: none;

      @include m('icons') {
        display: flex;
        justify-content: center;
      }
  }

  // .su_crumble__item
  @include e('item') {
    display: flex;
    align-items: center;
    position: relative;
    background-color: su-color('accent', 'dark');
    border: 1px solid rgb(206, 206, 206);

      &:hover {
        background-color: su-color('accent');
      }
  }

  @include e('date') {
    position: absolute;
    left: 10px;
    top: 0;
    display: flex;
    height: 100%;
    width: 60px;
    background-color: rgb(196, 196, 179);
    align-items: center;
    justify-content: center;
    flex-direction: column;

      &:after {
        content: attr(data-day);
        text-transform: uppercase;
        font-size: .8em;
      };
  }

  // .su_crumble__span
  @include e('span') {
    display: flex;
    align-items: center;
    color: white();
    padding-left: 100px;
    min-height: $su_crumble-span-min-height;

    // .su_crumble__span--isActive
    @include m('isActive') {
      min-height: 0;
      height: 0;
      width: 0;
      overflow: hidden;
    }
  }

  // .su_crumble__icon
  @include e('icon') {
    @extend %pointer;
    position: relative;
    bottom: 10px;
    padding: 10px;
    color: white(0.69);
    background-color: su-color('foreground', 'light');

      &:hover {
        background-color: su-color('foreground');
        color: white(1);
      }

      // .su_crumble__icon--close
      @include m('close') {
        @extend %pointer;
        position: absolute;
        right: 5px;
        top: 5px;
        transition: transform .7s cubic-bezier(0.39, 0.58, 0.57, 1);

          &:hover {
            transform: rotate(360deg);
          }
      }

      // .su_crumble__icon--expand
      @include m('expand') {
        @extend %pointer;
        padding: 10px;
        background-color: white(.05);
      }
  }

    .js_crumble_rotate_initial { transform: rotateX(0)!important; }

    .su_crumble_inner {
      min-height: 0;
      height: 0;
      background-color: rgb(0, 0, 0);
      overflow: hidden;
      transition: min-height 1s cubic-bezier(0, 1.02, 0, 1);
      perspective: 40px;
      cursor: initial;

      // .su_crumble_inner--isActive
      @include m('isActive') {
        min-height: $su_crumble-header-height + $su_crumble-body-height;
        height: auto;
        width: 100%;
        overflow: initial;
      }

      // .su_crumble_inner__header
      @include e('header') {
        @extend %unfold-transition;
        position: relative;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        height: $su_crumble-header-height;
        text-align: center;
        background-color: su-color('background', 'light');
        transform: rotateX(-10deg);
        transform-origin: 50% 0;
        transform-style: preserve-3d;
      }

      // .su_crumble_inner__body
      @include e('body') {
        @extend %unfold-transition;
        height: $su_crumble-body-height;
        background-color: #6f6f6f;
        text-align: center;
        transform: rotateX(10deg);
        transform-origin: 50% 100%;
        transform-style: preserve-3d;
        overflow: visible;
      }

      // .su_crumble_inner__description
      @include e('description') {
        padding: 5px;
        color: white(.8);
      }

    }

  // .su_crumble--full-width
  @include m('full-width') {
    .su_crumble__item {
      display: block;
    }
  }
}
