@import "reveal-config";

@include c( $c-reveal-name ){
  position: relative;
  width: $c-reveal-width;
  height: 5rem;
  line-height: 5rem;
  margin: 10rem auto;
  text-align: center;
  background-color: #172131;
  transition: height 900ms cubic-bezier(0.190, 1.000, 0.220, 1.000); /* easeOutExpo */
  &:hover{
    height: 11rem;
  }
  &:hover .evo_c-reveal__text--hidden {
    height: 8rem;
  }
  &:hover .evo_c-reveal__icon {
    opacity: 0;
  }
  &:hover .evo_c-reveal__text>span {
    height: 100%;
    padding-bottom: 9rem;
  }
  &:hover .evo_c-reveal__text{
    color: #4C5666;
  }

  @include e('text'){
    position: absolute;
    color: #54D7F3;
    font-size: 1.6rem;
    margin-top: 0.5rem;
    width: 100%;
    transition: color 200ms cubic-bezier(0.190, 1.000, 0.220, 1.000); /* easeOutExpo */
    >span{
      position: absolute;
      display: block;
      font-size: 1.6rem;
      height: 0%;
      top: 0;
      width: 100%;
      padding-bottom: 1.1rem;
      left: 0;
      overflow: hidden;
      transition: height 900ms cubic-bezier(0.190, 1.000, 0.220, 1.000), padding-bottom 900ms cubic-bezier(0.190, 1.000, 0.220, 1.000); /* easeOutExpo */
      &::before{
        content: attr(rel);
        position: absolute;
        margin: 0;
        left: 0;
        top: 0;
        width: 100%;
        padding: 0;
        color: #4C5666;
      }
    }
    @include m('hidden'){
      position: absolute;
      color: #FFFFFF;
      border-bottom: 1px dotted #5590b9;
      overflow: hidden;
      height: 0;
      line-height: 1.2rem;
      transition: height 900ms cubic-bezier(0.190, 1.000, 0.220, 1.000), border-bottom 900ms cubic-bezier(0.190, 1.000, 0.220, 1.000); /* easeOutExpo */
      width: 13rem;
      top: 25px;
      left: 15px;
      >div{
        padding: 2.8rem 0 1rem 0.8rem;
        text-align: left;
      }
    }
  }

  @include e('icon'){
    width: 5px;
    height: 5px;
    background-color: #5590b9;
    position: absolute;
    right: 0;
    top: 15px;
    right: 15px;
    opacity: 1;
    transition: opacity 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000); /* easeOutExpo */
  }
}
