<h2 class="su_clear">Accordion Component</h2>
          <p>The Seed UI Accordion let's you customize some of its looks depending on which classes are applied to its components.  Also, did you know that the parts of an actual accordion that squish are called bellows?  So think of these tabs as bellows.</p>
          <div class="su_accordion">
            <div class="su_bellow">
              <input id="bellow1" type="radio" name="bellows">
              <label for="bellow1" class="su_radius">Bellow One</label>
              <div class="su_bellow-content su_background-bg">
                <p>This bellow has a class of <code class="su_code">su_background-bg</code> on it giving the content it's background color. Sequi tempora aperiam, itaque maiores laudantium earum delectus! Laboriosam rerum eius sed, corporis illum, nostrum qui provident ad, enim dolorum, quod quia!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi tempora aperiam, itaque maiores laudantium earum delectus! Laboriosam rerum eius sed, corporis illum, nostrum qui provident ad, enim dolorum, quod quia!</p>
              </div>
            </div>
            <div class="su_bellow">
              <input id="bellow2" type="radio" name="bellows">
              <label for="bellow2" class="su_radius">Bellow Two</label>
              <div class="su_bellow-content su_background-bg">
                <p>This bellow has a class of <code class="su_code">su_background-bg</code> on it giving the content it's background color. Laboriosam rerum eius sed, corporis illum, nostrum qui provident ad, enim dolorum, quod quia!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi tempora aperiam, itaque maiores laudantium earum delectus! Laboriosam rerum eius sed, corporis illum, nostrum qui provident ad, enim dolorum, quod quia!</p>
              </div>
            </div>
            <div class="su_bellow">
              <input id="bellow3" type="radio" name="bellows">
              <label for="bellow3" class="su_radius">Bellow Three</label>
              <div class="su_bellow-content">
                <p>This bellow has a class of <code class="su_code">su_radius</code> on its label giving the bellow its curved corners.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi tempora aperiam, itaque maiores laudantium earum delectus! Laboriosam rerum eius sed, corporis illum, nostrum qui provident ad, enim dolorum, quod quia!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi tempora aperiam, itaque maiores laudantium earum delectus! Laboriosam rerum eius sed, corporis illum, nostrum qui provident ad, enim dolorum, quod quia!</p>
              </div>
            </div>
            <div class="su_bellow">
              <input id="bellow4" type="radio" name="bellows">
              <label for="bellow4" class="su_radius">Bellow Four</label>
              <div class="su_bellow-content">
                <p>This bellow has a class of <code class="su_code">su_radius</code> on its label giving the bellow its curved corners.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi tempora aperiam, itaque maiores laudantium earum delectus! Laboriosam rerum eius sed, corporis illum, nostrum qui provident ad, enim dolorum, quod quia!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi tempora aperiam, itaque maiores laudantium earum delectus! Laboriosam rerum eius sed, corporis illum, nostrum qui provident ad, enim dolorum, quod quia!</p>
              </div>
            </div>
          </div>
