$c-popover-name: 'popover';

$c-popover-width: 18rem;
$easeOutExpo: cubic-bezier(0.190, 1.000, 0.220, 1.000); /* easeOutExpo */

/* --- mixin for transition-delay --- */
@mixin transition-delay($time){
  -webkit-transition-delay: $time;
  -moz-transition-delay: $time;
  -ms-transition-delay: $time;
  transition-delay: $time;
}
/* --- mixin for box-shadow --- */
@mixin box-shadow(){
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
/* --- mixin for border-radius --- */
@mixin border-radius($radius){
  border-radius: $radius;
}
@mixin border-radius-top-lr($radius){
  border-top-left-radius: $radius;
  border-top-right-radius: $radius;
}


/* Mixin for transition ----*/
@mixin transition($property, $duration, $ease, $delay) {
  -webkit-transition: $property $duration $ease $delay;
  -moz-transition: $property $duration $ease $delay;
  -ms-transition: $property $duration $ease $delay;
  transition: $property $duration $ease $delay;
}

