/* THE MODAL COMPONENT */

/* this component has a CSS dependency on 'video_embed' component */

.su_modal {
  box-sizing: border-box;
  position: fixed;
  width: 80vw;
  height: 80vh;
  top: 10vw;
  left: 10vw;
  opacity: 0;
  z-index: -1;
  background-color: su_color('foreground', 'base', 0.9);
  transition: all 0.2s ease-in-out 0s;

  * {
    box-sizing: border-box;
  }

  &.su_modal-active {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    opacity: 1;
    z-index: 99999;
    transition: all 0.2s ease-in-out 0s;
  }

  .su_modal-close {
    position: absolute;
    right: 50px;
    top: 30px;
    font-size: 5em;
    cursor: pointer;
    color: su_color('secondary', 'base');
    transition: all 0.2s ease-in-out 0s;

    &:hover {
      color: su_color('secondary', 'dark');
    }

  }

  .su_modal-content {
    position: relative;
    padding: 20px 30px;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 80vw;
    max-width: 800px;
    background-color: su_color('background');
    box-shadow: 0 3px 8px 1px su_color('secondary', 'dark', 0.7);
    img {
      width: 100%;
    }
    iframe {
      width: 100%;
    }
  }

}

[data-modal-type] {
  cursor: pointer;
  display: block;
}

/* END MODAL COMPONENT */
