/* THE CODE FOR MODAL THAT SHOWS WHEN THE SEARCH IS DISABLED */

.su_modal {
  position: fixed;
  width: 80vw;
  height: 80vh;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  transition: all 0.2s ease-in-out 0s;
  &.su_modal-active {
    width: 100vw;
    height: 100vh;
    opacity: 0.9;
    z-index: 99999;
    transition: all 0.2s ease-in-out 0s;
  }
}

.su_search-disabled {
  opacity: 0;
  position: fixed;
  top: 10vh;
  left: 10vw;
  width: 80%;
  z-index: -1;
  background-color: rgba(255, 165, 0, 0.9);
  transition: all 0.2s ease-in-out 0s;
}

#search-disabled:checked + .su_search-disabled {
  opacity: 1;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 5000;
  transition: all 0.2s ease-in-out 0s;
}

#search-disabled:checked ~ .container {
  height: 100vh;
  overflow-y: hidden;
}

.modal.su_search-disabled label {
  position: absolute;
  right: 10px;
  top: 25px;
  color: rgba(0, 0, 0, 0.5);
}

.modal.su_search-disabled label:hover {
  cursor: pointer;
  color: rgba(0, 0, 0, 1);
}

.modal.su_search-disabled p {
  font-size: 5em;
  text-align: center;
}
