---
title: "Default"
description: <p>The Versatile Table is an evolution UI element to populate table based on JSON. It includes draggable column & row, sorting, searching and user profile pop-up features.</p>
author: Chenfeng Lai
category: evolution
type: Versatile Table
order: 1
---


<div class="evo_c-divtable-small_placeholder">
  <input type="text" name="Name" id="evo_c-divtable-search_input" placeholder="Search User">
</div>

<div class="evo_c-divtable-container" id="evo_c-divtable-tableContainer">
</div>
