/** CUBBY COMPONENT **/
.su_table tbody td.su_cubby {
  padding: 0px;
  background: #f0f0ed; }

.su_cubby {
  position: relative;
  perspective: 500px; }

.su_cubby .su_door {
  position: absolute;
  line-height: 3em;
  padding: 5px 0;
  background: #ade576;
  text-align: center;
  width: 100%;
  transition: all .3s ease;
  transform-style: preserve-3d;
  transform-origin: bottom; }

.su_cubby .su_inside {
  line-height: 3em;
  padding: 5px 0;
  background: #113806;
  text-align: center;
  color: white;
  width: 100%;
  position: absolute;
  z-index: -5; }

.su_cubby:hover .su_door,
.su_cubby:focus .su_door {
  transform: rotateX(-90deg); }

/** END CUBBY COMPONENT **/
