<h2>Cubby Component (Table with Drawers - Experimental Innovative UI) </h2>
          <p>The idea for this innovative UI component is to have more data revealed on <code class="su_code">hover</code> or <code class="su_code">focus</code> in a particular cell to conserve the about of sceen space the table takes.</p>
          <table class="su_table su_table-bordered">
            <thead>
              <tr>
                <th>Column 1</th>
                <th>Column 2</th>
                <th>Column 3</th>
              </tr>
            </thead>
            <tbody>
            <tr>
              <td class="su_cubby">
                <div class="su_door">
                  Door
                </div>
                <div class="su_inside">
                  Inside
                </div>
              </td>
              <td class="su_cubby">
                <div class="su_door">
                  Door
                </div>
                <div class="su_inside">
                  Inside
                </div>
              </td>
              <td class="su_cubby">
                <div class="su_door">
                  Door
                </div>
                <div class="su_inside">
                  Inside
                </div>
              </td>
            </tr>
          </table>
