//----------------------------------------------------------------
//                    Super-Easy Component config
//----------------------------------------------------------------

// The component's name - not mandatory but highly recommended
$c-dotValidator: 'dotValidator';

// Components variables

// adjust this value for how you want component to be displayed at smaller screens
$c-dotValidator-width: 95%;


// change this value to adjust width of component
$c-dotValidator-max-width: 220px;

//  change this value to adjust the height of carousel 
$c-dotValidator-max-height: 60px;

