---
title: "Default"
description:
  <p><em>Ikon</em> is a new author card layout with details about the author.</p>
  <p>Showcase yourself on your blog or your team on the web app "about" page/section by creating <em>Ikon</em> cards.
  </p>

  <h3>Creating and Using Ikon</h3>
  <p>To create ikon within your page, just add a <code>div</code> tag with <code>evo_c-ikon</code>
    class and then add one or more child <code>div</code> tags with <code>evo_c-ikon__member</code> within it. Finally
    add the content as shown in the code markup below. <strong>Make sure to add proper js-hook CSS classes for proper JS
      function.</strong> Check out all the js-hooks (<code>js-evo-c-ikon</code>, <code>js-evo-c-ikon-member</code>,
    <code>js-evo-c-ikon-member-info</code> and <code>js-evo-c-ikon-close-btn</code>) within the code markup shown below.
  </p>
  <p>You can add as many <code>evo_c-ikon__member</code>(s) as you like on your your website.</p>


  <h3>Examples</h3>
  <p>Check out the example code below by clicking on "Show Markup".</p>
  <p>Hover over the names of the random authors below to see how <em>ikon</em> works:</p>
author: Aashish Nagpal
category: evolution
type: ikon card
order: 1
---
<!-- Add a container with `class="evo_c-ikon js-evo-c-ikon"`  -->
<div class="evo_c-ikon js-evo-c-ikon">

  <!-- first ikon member - start -->
  <!-- `class="evo_c-ikon__member js-evo-c-ikon-member"` -->
  <div class="evo_c-ikon__member js-evo-c-ikon-member">
    <div class="evo_c-ikon__member-name">Jonas Lininger</div>

    <!-- ikon member info `class="evo_c-ikon__member-info js-evo-c-ikon-member-info"` -->
    <div class="evo_c-ikon__member-info js-evo-c-ikon-member-info">
      <div class="evo_c-ikon__member-pic">
        <img src="assets/images/evolution-ui/evolution/ikon/profile_pic_1.jpg">
      </div>
      <div class="evo_c-ikon__member-details">
        <div class="evo_c-ikon__member-social-links">
          <a class="evo_c-ikon__social-link" href="#">
            <i class="fa fa-globe" aria-hidden="true"></i>
          </a>
          <a class="evo_c-ikon__social-link evo_c-ikon__social-link--twitter" href="#">
            <i class="fa fa-twitter-square" aria-hidden="true"></i>
          </a>
          <a class="evo_c-ikon__social-link evo_c-ikon__social-link--github" href="#">
            <i class="fa fa-github-square" aria-hidden="true"></i>
          </a>
          <a class="evo_c-ikon__social-link evo_c-ikon__social-link--facebook" href="#">
            <i class="fa fa-facebook-square" aria-hidden="true"></i>
          </a>
          <a class="evo_c-ikon__social-link evo_c-ikon__social-link--linkedin" href="#">
            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
          </a>
        </div>
        <p class="evo_c-ikon__member-about">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a semper
          sem. Ut pellentesque libero ut ultricies vehicula. Morbi suscipit felis nulla, luctus ornare nunc fringilla
          et</p>
      </div>
      <!-- must add this close icon `class="evo_c-ikon__info-close-btn js-evo-c-ikon-close-btn"` -->
      <div class="evo_c-ikon__info-close-btn js-evo-c-ikon-close-btn"><i class="material-icons">close</i></div>
    </div>
  </div>
  <!-- first ikon member - end -->


  <!-- second ikon member - start -->
  <!-- `class="evo_c-ikon__member js-evo-c-ikon-member"` -->
  <div class="evo_c-ikon__member js-evo-c-ikon-member">
    <div class="evo_c-ikon__member-name">Mariam Casaus</div>

    <!-- ikon member info `class="evo_c-ikon__member-info js-evo-c-ikon-member-info"` -->
    <div class="evo_c-ikon__member-info js-evo-c-ikon-member-info">
      <div class="evo_c-ikon__member-pic">
        <img src="assets/images/evolution-ui/evolution/ikon/profile_pic_2.jpg">
      </div>
      <div class="evo_c-ikon__member-details">
        <div class="evo_c-ikon__member-social-links">
          <a class="evo_c-ikon__social-link" href="#">
            <i class="fa fa-globe" aria-hidden="true"></i>
          </a>
          <a class="evo_c-ikon__social-link evo_c-ikon__social-link--twitter" href="#">
            <i class="fa fa-twitter-square" aria-hidden="true"></i>
          </a>
          <a class="evo_c-ikon__social-link evo_c-ikon__social-link--github" href="#">
            <i class="fa fa-github-square" aria-hidden="true"></i>
          </a>
          <a class="evo_c-ikon__social-link evo_c-ikon__social-link--facebook" href="#">
            <i class="fa fa-facebook-square" aria-hidden="true"></i>
          </a>
          <a class="evo_c-ikon__social-link evo_c-ikon__social-link--linkedin" href="#">
            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
          </a>
        </div>
        <p class="evo_c-ikon__member-about">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a semper
          sem. Ut pellentesque libero ut ultricies vehicula. Morbi suscipit felis nulla, luctus ornare nunc fringilla
          et</p>
      </div>
      <!-- must add this close icon `class="evo_c-ikon__info-close-btn js-evo-c-ikon-close-btn"` -->
      <div class="evo_c-ikon__info-close-btn js-evo-c-ikon-close-btn"><i class="material-icons">close</i></div>
    </div>
  </div>
  <!-- second ikon member - end -->


  <!-- third ikon member - start -->
  <!-- `class="evo_c-ikon__member js-evo-c-ikon-member"` -->
  <div class="evo_c-ikon__member js-evo-c-ikon-member">
    <div class="evo_c-ikon__member-name">Herbert Stamper</div>

    <!-- ikon member info `class="evo_c-ikon__member-info js-evo-c-ikon-member-info"` -->
    <div class="evo_c-ikon__member-info js-evo-c-ikon-member-info">
      <div class="evo_c-ikon__member-pic">
        <img src="assets/images/evolution-ui/evolution/ikon/profile_pic_3.jpg">
      </div>
      <div class="evo_c-ikon__member-details">
        <div class="evo_c-ikon__member-social-links">
          <a class="evo_c-ikon__social-link" href="#">
            <i class="fa fa-globe" aria-hidden="true"></i>
          </a>
          <a class="evo_c-ikon__social-link evo_c-ikon__social-link--twitter" href="#">
            <i class="fa fa-twitter-square" aria-hidden="true"></i>
          </a>
          <a class="evo_c-ikon__social-link evo_c-ikon__social-link--github" href="#">
            <i class="fa fa-github-square" aria-hidden="true"></i>
          </a>
          <a class="evo_c-ikon__social-link evo_c-ikon__social-link--facebook" href="#">
            <i class="fa fa-facebook-square" aria-hidden="true"></i>
          </a>
          <a class="evo_c-ikon__social-link evo_c-ikon__social-link--linkedin" href="#">
            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
          </a>
        </div>
        <p class="evo_c-ikon__member-about">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a semper
          sem. Ut pellentesque libero ut ultricies vehicula. Morbi suscipit felis nulla, luctus ornare nunc fringilla
          et</p>
      </div>
      <!-- must add this close icon `class="evo_c-ikon__info-close-btn js-evo-c-ikon-close-btn"` -->
      <div class="evo_c-ikon__info-close-btn js-evo-c-ikon-close-btn"><i class="material-icons">close</i></div>
    </div>
  </div>
  <!-- third ikon member - end -->
</div>
