/*
* NAG COMPONENT
*/

.su_nag {
  padding: 1em 2em;
  color: #fff;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  -webkit-animation-name: greenPulse;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes greenPulse {
  from { background-color: #749a02; -webkit-box-shadow: 0 0 9px #fff; }
  50% { background-color: #91bd09; -webkit-box-shadow: 0 0 18px #91bd09; }
  to { background-color: #749a02; -webkit-box-shadow: 0 0 9px #fff; }
}

/*
* END NAG COMPONENT
*/
