/******************************************************************************
                            Switch Config
******************************************************************************/

//-------------------------------------------------------------------
//                   Switch component config file
//-------------------------------------------------------------------

$c-switch-name: 'switch';

//component's variables


//color variable:
$color: #96e6ff;
$font-family: 'Roboto Slab', serif;

/******************************************************************************
                            Switch Component
******************************************************************************/

//------------------------------------------------------------------------------
//                            Switch file
//------------------------------------------------------------------------------

// @import 'switch-config';

//html{
//  font-size: 20px;
//}

@include c($c-switch-name){
  width: 100%;

  @include e('header'){
    text-align: center;
    color: $color;
    font-family: $font-family;
    font-weight: 500;
    font-size: 1.5em;
    border-bottom: 1px solid $color;
  }

  @include e('container'){
    text-align: center;
    margin-top: 5%;

    #switch__title{
      color: #1c4249;
      font-size: 1em;
      font-family: $font-family;
      font-weight: 300;
    }

    input + label[for='r1'], input + label[for='r2']{
      color: red;
      font-size: 1em;
      font-familyt: $font-family;
      font-weight: 300;
      transition: all 1s ease-out;
    }

    input:checked + label[for='r1'], input:checked + label[for='r2']{
      color: green;
      text-transform: uppercase;
      font-family: $font-family;
    }
  }

  @include e('inputBackground'){
    display: inline;
    border-radius: 3px;
    border: 1px solid #1c4249;
    margin: 1px;
    padding: 2px 20px;

    &hover{
      cursor: pointer;
    }
  }

  @include e('radio'){
    display: none;
  }
}

//------------------------------------------------------------------------------
//                             SWITCH MEDIA FILE
//------------------------------------------------------------------------------

@media (max-device-width: 360px) and (orientation: portrait){

  //body{
  //  font-size: 20px;
  //  width: 100%;
  //  margin-left: auto;
  //  margin-right: auto;
  //}

  @include c($c-switch-name){
    width: 100%;

    @include e('header'){
      text-align: center;
      border-bottom: 1px solid $color;
    }

    @include e('title'){
      color: $color;
      font-family: $font-family;
      font-weight: 400;
      font-size: 0.9em;
    }

    @include e('radio'){
      display: none;
    }
    @include e('container'){
      margin-top: 10%;

      label#switch__title{
        font-size: 0.8em;
        font-weight: 400;
        font-family: $font-family;
        color: #1c4249;
      }

      @include e('inputBackground'){
        display: inline;
        border-radius: 3px;
        border: 1px solid #1c4249;
        margin: 5px;
        padding: 2px 5px;
      }

      input + label[for='r1'], input + label[for='r2']{
        color: red;
        font-size: 1em;
        font-familyt: $font-family;
        font-weight: 300;
        transition: all 1s ease-out;
      }

      input:checked + label[for='r1'], input:checked + label[for='r2']{
        color: green;
        text-transform: uppercase;
        font-family: $font-family;
      }
    }
  }
}
