---
title: "Scaling Tooltip"
description: |
  <p>As its name, this tooltip shows content from the right corner with little icon. You can specific tooltip scale from right to left and all the way down or scale right to left and continue expand to left.</p>
author: Aashish Nagpal
category: standard
type: tooltip
order: 2
---

<div>
  <button class="evo_c-tt-scale">Projects
    <div class="evo_c-tt-scale__vertical"><div class="evo_c-tt-scale__content">Lorem ipsum, consectetur adipiscing elit. Donec metus orci. faucibus sem nec. Quisque tempus pretium dolor.</div></div></button>
  <button class="btn btn-primary evo_c-tt-scale">Projects
    <div class="evo_c-tt-scale__horizontal"><div class="evo_c-tt-scale__content">Lorem ipsum, consectetur adipiscing elit. Donec metus orci.</div></div></button>
</div>
