/* NAVIGATION COMPONENT */
body {
  overflow-x: hidden; }

.su_navigation {
  width: 100%;
  height: 50px;
  left: 0; }
  .su_navigation ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  .su_navigation a {
    color: inherit;
    text-decoration: none;
    padding: 0 10px;
    display: block;
    font-family: 'Roboto Slab';
    transition: background-color 0.3s ease-in-out 0.1s; }
    .su_navigation a.su_link-active, .su_navigation a:hover {
      transition: background-color 0.3s ease-in-out 0s; }

.su_navigation,
.su_navigation * {
  box-sizing: border-box; }

.su_navigation-container {
  z-index: 1000;
  transform: translate3d(-100%, 0, 0);
  transition: all 0.3s ease-in-out 0s;
  line-height: 50px; }
  .su_navigation-container.su_is-open {
    transform: translate3d(0, 0, 0); }
    .su_navigation-container.su_is-open .su_menu-toggle {
      transform: translate3d(0, 0, 0); }
      .su_navigation-container.su_is-open .su_menu-toggle .su_icon-menu {
        display: none; }
      .su_navigation-container.su_is-open .su_menu-toggle .su_icon-close {
        display: inline; }
  .su_navigation-bottom .su_navigation-container.su_is-open {
    transform: translate3d(0, -100%, 0); }
  .su_navigation-container .su_logo {
    background-image: url("../components/navbar/su_logo1.png");
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: 10px;
    padding: 0 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    display: block;
    font-family: 'Roboto Slab';
    font-weight: bold;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.9); }
  .su_navigation-container .su_menu-main {
    text-align: center; }
    .su_navigation-container .su_menu-main a {
      border-top: 3px solid transparent;
      border-bottom: 3px solid transparent;
      transition: border 0.2s ease-in-out 0s; }
      .su_navigation-container .su_menu-main a.su_link-active {
        outline: none; }
  .su_navigation-container .su_search {
    display: none; }
  .su_navigation-container .su_menu-toggle {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 10px;
    transform: translate3d(100%, 0, 0); }
  .su_navigation-container .su_menu-toggle .su_icon {
    line-height: inherit; }
  .su_navigation-container .su_menu-toggle:hover {
    cursor: pointer; }
  .su_navigation-container .su_icon-close {
    display: none; }

.su_navigation-fixed {
  position: fixed;
  z-index: 5000; }
  .su_navigation-fixed.su_navigation-top {
    top: 0; }
    .su_navigation-fixed.su_navigation-top + * {
      margin-top: 60px; }
  .su_navigation-fixed.su_navigation-bottom {
    bottom: 0; }

@media (min-width: 360px) {
  .su_navigation {
    height: 80px; }

  .su_navigation-fixed.su_navigation-top + * {
    margin-top: 90px; }

  .su_navigation-container {
    height: 80px;
    line-height: 80px;
    transform: translate3d(0, 0, 0); }
    .su_navigation-container .su_logo,
    .su_navigation-container .su_menu-toggle {
      display: none; }
    .su_navigation-container * {
      height: 100%; }
    .su_navigation-container > * {
      display: inline-block; }
    .su_navigation-container a {
      padding: 0 12px;
      display: block; }
    .su_navigation-container .su_logo {
      border-right: 1px solid rgba(255, 255, 255, 0.2);
      border-bottom: none;
      float: left; }
    .su_navigation-container .su_menu-main {
      display: inline-block;
      position: relative;
      font-size: 0.8em; }
      .su_navigation-container .su_menu-main li {
        float: left; }
    .su_navigation-container .su_search {
      display: inline-block;
      position: absolute;
      right: 0;
      width: 0;
      background-color: transparent;
      transition: all 0.2s ease-in-out 0.2s; }
      .su_navigation-container .su_search .su_search-label {
        position: absolute;
        top: 0;
        left: 10px;
        transition: all 0.1s ease-in; }
      .su_navigation-container .su_search form div {
        margin: 24px 0;
        height: 32px;
        width: 0;
        opacity: 0;
        right: 45px;
        display: inline-block;
        position: absolute;
        transition: all 0.2s ease-in-out 0.2s; }
      .su_navigation-container .su_search:hover {
        width: 100%; }
        .su_navigation-container .su_search:hover .su_search-field {
          width: calc(100% - 60px);
          opacity: 1;
          transition: all 0.2s ease-in-out 0.2s; }
      .su_navigation-container .su_search input {
        background-color: rgba(255, 255, 255, 0.2);
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 3px;
        padding: 0 10px;
        color: transparent;
        width: 100%; }
        .su_navigation-container .su_search input:focus {
          border: 1px solid rgba(255, 255, 255, 0.2);
          outline: none; }
          .su_navigation-container .su_search input:focus + label {
            color: #fff;
            transform: translate3d(0, -80%, 0);
            transition: all 0.1s ease-out; }
    .su_navigation-container .su_submit-search {
      color: rgba(255, 255, 255, 0.7);
      cursor: pointer;
      line-height: inherit;
      position: absolute;
      right: 10px; }
    .su_navigation-container .su_search-field {
      line-height: 28px; } }
@media (min-width: 500px) {
  .su_navigation-container .su_menu-main {
    font-size: 1.1em; }
  .su_navigation-container a {
    padding: 0 20px; } }
@media (min-width: 750px) {
  .su_navigation-container .su_search {
    width: auto;
    background-color: transparent; }
    .su_navigation-container .su_search form div, .su_navigation-container .su_search:hover .su_search-field {
      width: 240px;
      right: 45px;
      left: auto;
      opacity: 1; }

  .su_navigation-container .su_search:hover {
    width: auto;
    background-color: transparent; } }
@media (min-width: 900px) {
  .su_navigation-container .su_logo {
    display: inline-block;
    font-size: 1.2em;
    background-size: 80% auto;
    background-position: center; }
  .su_navigation-container a {
    padding: 0 12px; } }
@media (min-width: 1200px) {
  .su_navigation-container .su_logo {
    font-size: 1.5em;
    padding: 0 25px; }
  .su_navigation-container .su_menu-main {
    font-size: 1.3em; }
  .su_navigation-container .su_search form div,
  .su_navigation-container .su_search:hover .su_search-field {
    width: 300px; }
  .su_navigation-container a {
    padding: 0 20px; } }
/* Color themes */
.su_navigation {
  /* DEFAULT */
  background-color: #62a821;
  /* DARK */
  /* LIGHT */ }
  .su_navigation .su_navigation-container {
    background-color: #62a821;
    color: #113806; }
    .su_navigation .su_navigation-container.su_is-open {
      background-color: #62a821;
      color: #113806; }
    .su_navigation .su_navigation-container .su_search:hover {
      background-color: #62a821; }
    .su_navigation .su_navigation-container .su_search .su_search-label {
      color: rgba(17, 56, 6, 0.4); }
    .su_navigation .su_navigation-container .su_search input:focus {
      color: #f0f0ed; }
    .su_navigation .su_navigation-container .su_search .su_submit-search:hover {
      color: #113806; }
    .su_navigation .su_navigation-container .su_logo {
      color: #113806;
      text-shadow: none; }
  .su_navigation a.su_link-active,
  .su_navigation a:hover {
    background-color: rgba(255, 255, 255, 0.15);
    color: white; }
  .su_navigation .su_menu-main a.su_link-active {
    border-top: 3px solid #62a821;
    border-bottom: 3px solid #62a821; }
  .su_navigation .su_menu-toggle {
    color: rgba(255, 255, 255, 0.7); }
    .su_navigation .su_menu-toggle:hover {
      color: #73c427; }
  .su_navigation.su_navigation-fixed.su_navigation-top .su_link-active.su_link-active {
    border-top: 3px solid transparent;
    border-bottom: 3px solid #73c427; }
  .su_navigation.su_navigation-fixed.su_navigation-bottom .su_link-active.su_link-active {
    border-top: 3px solid #73c427;
    border-bottom: 3px solid transparent; }
  .su_navigation.su_nav-theme-dark {
    background-color: rgba(0, 0, 0, 0.9); }
    .su_navigation.su_nav-theme-dark .su_navigation-container {
      background-color: rgba(0, 0, 0, 0.9);
      color: rgba(255, 255, 255, 0.7); }
      .su_navigation.su_nav-theme-dark .su_navigation-container.su_is-open {
        background-color: rgba(0, 0, 0, 0.9);
        color: rgba(255, 255, 255, 0.7); }
      .su_navigation.su_nav-theme-dark .su_navigation-container .su_search:hover {
        background-color: black; }
      .su_navigation.su_nav-theme-dark .su_navigation-container .su_search .su_search-label {
        color: rgba(115, 196, 39, 0.4); }
      .su_navigation.su_nav-theme-dark .su_navigation-container .su_search input:focus {
        color: #73c427; }
      .su_navigation.su_nav-theme-dark .su_navigation-container .su_search .su_submit-search:hover {
        color: #73c427; }
      .su_navigation.su_nav-theme-dark .su_navigation-container .su_logo {
        color: #73c427; }
    .su_navigation.su_nav-theme-dark a.su_link-active,
    .su_navigation.su_nav-theme-dark a:hover {
      background-color: rgba(115, 196, 39, 0.15);
      color: #73c427; }
    .su_navigation.su_nav-theme-dark .su_menu-main a.su_link-active {
      border-top: 3px solid #73c427;
      border-bottom: 3px solid #73c427; }
    .su_navigation.su_nav-theme-dark .su_menu-toggle {
      color: rgba(255, 255, 255, 0.7); }
      .su_navigation.su_nav-theme-dark .su_menu-toggle:hover {
        color: #73c427; }
    .su_navigation.su_nav-theme-dark.su_navigation-fixed.su_navigation-top .su_link-active.su_link-active {
      border-bottom: 3px solid #73c427; }
    .su_navigation.su_nav-theme-dark.su_navigation-fixed.su_navigation-bottom .su_link-active.su_link-active {
      border-top: 3px solid #73c427; }
  .su_navigation.su_nav-theme-light {
    background-color: #dadad0; }
    .su_navigation.su_nav-theme-light .su_navigation-container {
      background-color: #dadad0;
      color: rgba(241, 98, 176, 0.4); }
      .su_navigation.su_nav-theme-light .su_navigation-container.su_is-open {
        background-color: #dadad0;
        color: rgba(241, 98, 176, 0.4); }
      .su_navigation.su_nav-theme-light .su_navigation-container .su_search:hover {
        background-color: #c4c4b3; }
      .su_navigation.su_nav-theme-light .su_navigation-container .su_search .su_search-label {
        color: rgba(241, 98, 176, 0.4); }
      .su_navigation.su_nav-theme-light .su_navigation-container .su_search input:focus {
        color: #f162b0; }
      .su_navigation.su_nav-theme-light .su_navigation-container .su_search .su_submit-search:hover {
        color: #f162b0; }
      .su_navigation.su_nav-theme-light .su_navigation-container .su_logo {
        color: #f162b0; }
    .su_navigation.su_nav-theme-light a.su_link-active,
    .su_navigation.su_nav-theme-light a:hover {
      background-color: rgba(241, 98, 176, 0.15);
      color: #f162b0; }
    .su_navigation.su_nav-theme-light .su_menu-main a.su_link-active {
      border-top: 3px solid #f162b0;
      border-bottom: 3px solid #f162b0; }
    .su_navigation.su_nav-theme-light .su_menu-toggle {
      color: white; }
      .su_navigation.su_nav-theme-light .su_menu-toggle:hover {
        color: #f162b0; }
    .su_navigation.su_nav-theme-light.su_navigation-fixed.su_navigation-top .su_link-active.su_link-active {
      border-bottom: 3px solid #f162b0; }
    .su_navigation.su_nav-theme-light.su_navigation-fixed.su_navigation-bottom .su_link-active.su_link-active {
      border-top: 3px solid #f162b0; }

/* End color themes */
/* END NAVIGATION COMPONENT */
