<h2>Fixed top navigation bar component</h2>

<header class="su_navigation su_navigation-fixed su_navigation-top su_nav-theme-light">
  <div class="su_navigation-container">
    <span class="su_logo">SeedUI</span>
    <nav class="su_menu-main" role="navigation">
      <ul>
        <li><a href="#item1">Item 1</a></li>
        <li><a href="#item2">Item 2</a></li>
        <li><a href="#item3">Item 3</a></li>
        <li><a href="#item4">Item 4</a></li>
        <li><a href="#item5">Item 5</a></li>
      </ul>
    </nav>
    <div class="su_search" role="search">
      <form>
        <span class="su_submit-search material-icons" data-modal-type="simple" data-modal-title="Nothing to see here, please move along!" data-modal-media="This is the simple modal that present some text content to the user. This content comes from the 'data-modal-media' attribute set on the element that triggers the modal.">search</span>
        <div class="su_search-field">
          <input type="text" name="search" id="su_search-header">
          <label class="su_search-label" for="su_search-header">Search</label>
        </div>
      </form>
    </div>
    <span class="su_menu-toggle">
      <span class="su_icon su_icon-menu material-icons">menu</span>
      <span class="su_icon su_icon-close material-icons">close</span>
    </span>
  </div>
</header>

<h2>Basic navigation bar component</h2>

<div class="su_navigation">
  <div class="su_navigation-container">
    <span class="su_logo">SeedUI</span>
    <nav class="su_menu-main" role="navigation">
      <ul>
        <li><a href="#item1">Item 1</a></li>
        <li><a href="#item2">Item 2</a></li>
        <li><a href="#item3">Item 3</a></li>
        <li><a href="#item4">Item 4</a></li>
      </ul>
    </nav>
    <div class="su_search" role="search">
      <form>
        <span class="su_submit-search material-icons" data-modal-type="simple" data-modal-title="Sorry, the search is temporary disabled.">search</span>
        <div class="su_search-field">
          <input type="text" name="search" id="su_search-body">
          <label class="su_search-label" for="su_search-body">Search</label>
        </div>
      </form>
    </div>
    <span class="su_menu-toggle">
      <span class="su_icon su_icon-menu material-icons">menu</span>
      <span class="su_icon su_icon-close material-icons">close</span>
    </span>
  </div>
</div>

<h2>Fixed bottom navigation bar component</h2>

<footer class="su_navigation su_navigation-fixed su_navigation-bottom su_nav-theme-dark">
  <div class="su_navigation-container">
    <span class="su_logo">SeedUI</span>
    <nav class="su_menu-main" role="navigation">
      <ul>
        <li><a href="#item1">Item 1</a></li>
        <li><a href="#item2">Item 2</a></li>
        <li><a href="#item3">Item 3</a></li>
        <li><a href="#item4">Item 4</a></li>
      </ul>
    </nav>
    <div class="su_search" role="search">
      <form>
        <span class="su_submit-search material-icons" data-modal-type="simple" data-modal-title="No can do now, come back later, dude!">search</span>
        <div class="su_search-field">
          <input type="text" name="search" id="su_search-footer">
          <label class="su_search-label" for="su_search-footer">Search</label>
        </div>
      </form>
    </div>
    <span class="su_menu-toggle">
      <span class="su_icon su_icon-menu material-icons">menu</span>
      <span class="su_icon su_icon-close material-icons">close</span>
    </span>
  </div>
</footer>
