/* SIDE NAVBAR COMPONENT */
.su_aside {
  box-sizing: border-box;
  overflow: hidden;
  margin: 20px;
  max-width: 30vw;
  background-color: #72c024;
  border-radius: 3px; }
  .su_aside * {
    box-sizing: border-box; }
  .su_aside.su_left {
    margin-left: 0;
    text-align: right; }
    .su_aside.su_left li {
      border-right: 5px solid transparent; }
    .su_aside.su_left li.su_sidenav-current,
    .su_aside.su_left li:hover {
      border-right: 5px solid #1b5709; }
  .su_aside.su_right {
    margin-right: 0; }
    .su_aside.su_right li {
      border-left: 5px solid transparent; }
    .su_aside.su_right li.su_sidenav-current,
    .su_aside.su_right li:hover {
      border-left: 5px solid #1b5709; }
  .su_aside ul {
    list-style: none;
    padding: 0;
    margin: 0; }
    .su_aside ul li {
      transition: all 0.2s ease-in-out 0s; }
      .su_aside ul li.su_sidenav-current a,
      .su_aside ul li a:hover {
        background-color: #ade576;
        color: #1b5709; }
      .su_aside ul li a {
        display: block;
        height: 100%;
        padding: 15px;
        color: #f0f0ed; }
  .su_aside.su_theme-light {
    background-color: #c4c4b3; }
    .su_aside.su_theme-light ul li.su_sidenav-current a,
    .su_aside.su_theme-light ul li a:hover {
      background-color: #dadad0;
      color: #9c0e5b; }
    .su_aside.su_theme-light ul li a {
      color: #f162b0; }
    .su_aside.su_theme-light.su_left li.su_sidenav-current,
    .su_aside.su_theme-light.su_left li:hover {
      border-right: 5px solid #9c0e5b; }
    .su_aside.su_theme-light.su_right li.su_sidenav-current,
    .su_aside.su_theme-light.su_right li:hover {
      border-left: 5px solid #9c0e5b; }

/* END SIDE NAVBAR COMPONENT */
