.su_dot-navigation {

  display: inline-block;
  margin: 30px 0;
  box-sizing: border-box;

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
    li {
      display: inline-block;
      margin: 0 15px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      cursor: pointer;
      transition: all 0.15s ease-in-out 0s;
    }
  }

  &.su_dot-navigation-burst {

    ul {
      li {
        border: 1px dotted su_color('accent', 'dark');
        &:hover,
        &.su_dot-current {
          border: 5px solid su_color('accent');
        }
      }
    }

  }

  &.su_dot-navigation-scale {

    ul {
      li {
        background-color: su_color('accent', 'light');
        border: 1px solid su_color('accent', 'light');
        &:hover,
        &.su_dot-current {
          transform: scale(1.2);
          background-color: su_color('accent', 'dark');
          border: 1px solid su_color('accent', 'dark');
        }
      }
    }

  }

  &.su_dot-navigation-move {

    ul {
      li {
        background-color: su_color('accent', 'light');
        &:hover,
        &.su_dot-current {
          background-color: su_color('accent', 'dark');
        }
      }
      #su_dot-mask {
        position: absolute;
        left: 15px;
        top: 0;
        display: block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: su_color('accent', 'dark');
        transition: all 0.5s cubic-bezier(0.190, 1.000, 0.220, 1.000) 0s;
      }
    }

  }

  &.su_dot-navigation-line {

    ul {
      #su_dot-line {
        position: absolute;
        top: 8px;
        bottom: 14px;
        right: calc(100% - 27px);
        background-color: su_color('accent', 'base', 0.7);
        transition: right 0.4s cubic-bezier(0.190, 1.000, 0.220, 1.000) 0s, left 0.4s cubic-bezier(0.190, 1.000, 0.220, 1.000) 0.2s;
        &.backwards {
          transition: left 0.4s cubic-bezier(0.190, 1.000, 0.220, 1.000) 0s, right 0.4s cubic-bezier(0.190, 1.000, 0.220, 1.000) 0.2s;
        }
      }
      li {
        border: 2px solid su_color('accent');
        position: relative;
        &::after {
          position: absolute;
          top: 6px;
          left: 6px;
          content: '';
          display: inline-block;
          width: 4px;
          height: 4px;
          border-radius: 50%;
          transition: all 0.8s cubic-bezier(0.190, 1.000, 0.220, 1.000) 0.1s;
        }
        &:hover::after {
          background-color: su_color('accent');
        }
        &.su_dot-current {
          &::after {
            background-color: su_color('accent');
            transform: scale(5) ;
          }
        }
      }
    }

  }

}
