---
title: ""
description:
  <p>Carousel with dropping circles takes minimalism to the next level with a clean interface to showcase five images of your choosing.</p>
author: Oscar Rodriguez
category: evolution
type: carousel with drop navigation
order: 1
---

 <div class="evo_c-nav-drop-carousel">
      <!-- label_container -->
      <div class="evo_c-nav-drop-carousel__label-wrap">
        <div class="evo_c-nav-drop-carousel__label-container">
          <label class="evo_c-nav-drop-carousel__drop-label" id="drop-1"></label>
        </div>
        <div class="evo_c-nav-drop-carousel__label-container">
          <label class="evo_c-nav-drop-carousel__drop-label" id="drop-2"></label>
        </div>
        <div class="evo_c-nav-drop-carousel__label-container">
          <label class="evo_c-nav-drop-carousel__drop-label" id="drop-3"></label>
        </div>
        <div class="evo_c-nav-drop-carousel__label-container">
          <label class="evo_c-nav-drop-carousel__drop-label" id="drop-4"></label>
        </div>
        <div class="evo_c-nav-drop-carousel__label-container" id="default-drop">
          <label class="evo_c-nav-drop-carousel__drop-label" id="drop-5"></label>
        </div>
      </div>

      <div class="evo_c-nav-drop-carousel__drop-content">

        <div class="evo_c-nav-drop-carousel__slide">
          <img src="assets/images/evolution-ui/evolution/carousel-with-dropping-circle-nav/boat.jpg" alt="boat" />
        </div>

        <div class="evo_c-nav-drop-carousel__slide">
          <img src="assets/images/evolution-ui/evolution/carousel-with-dropping-circle-nav/color-houses.jpg" alt="sky" />
        </div>

        <div class="evo_c-nav-drop-carousel__slide">
          <img src="assets/images/evolution-ui/evolution/carousel-with-dropping-circle-nav/other-world.jpg" alt="moutains" />
        </div>

        <div class="evo_c-nav-drop-carousel__slide">
          <img src="assets/images/evolution-ui/evolution/carousel-with-dropping-circle-nav/sand-castle.jpg" alt="castle" />
        </div>

        <div class="evo_c-nav-drop-carousel__slide">
          <img src="assets/images/evolution-ui/evolution/carousel-with-dropping-circle-nav/sun-set.jpg" alt="sun" />
        </div>
      </div>

    </div>
