.maintainer-page.evo_c-ikon.js-evo-c-ikon {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    min-height: 350px;
}

.maintainer-page.evo_c-ikon.js-evo-c-ikon-wrapper {
    display: flex;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}


.maintainer-page.evo_c-ikon__member {
    position: relative;
    -ms-flex-preferred-size: 7.5em;
    flex-basis: 6em;
    height: 6em;
    margin: 1.8em;
    background: #768ba1;
    border-radius: 50%;
}

.maintainer-page.evo_c-ikon__member-info {
    width: 25em;
    height: 25em;
}

.maintainer-page.evo_c-ikon__member-pic-image {
    object-fit: cover;
}

.maintainer-page.evo_c-ikon__member-name-text {
    color: #05313c;
    position: relative;
    top: 95px;
    z-index: 0;
    transition: all .2s;
    margin: 10px auto;
    font-size: .8em;
    width: 100%;
}


.maintainer-page.evo_c-ikon__member:hover .maintainer-page.evo_c-ikon__member-name-text {
    opacity: 0;
}
