@import '../../assets/styles/abstracts/variables';
@import '../../assets/styles/abstracts/functions';
@import '../../assets/styles/abstracts/import-mixins';
@import '../../assets/styles/abstracts/placeholders';

/******************************************************************************
                              Sift Config
******************************************************************************/

$c-sift: 'sift';

// Color variants
$c-sift-bck-variants: (
  'accent': ( 'base', 'dark' ),
  'accent2': ( 'base', 'dark' ),
  'accent3': ( 'base', 'dark' ),
  'accent4': ( 'base', 'dark' ),
  'primary': ( 'base', 'dark' ),
  'primary2': ( 'base', 'dark' ),
  'secondary': ( 'base', 'dark' ),
  'background': ( 'base', 'dark' )
);
$c-sift-txt-variants: (
  'primary': ('light'),
  'secondary': ('light')
);

/******************************************************************************
                              Sift Component
******************************************************************************/

/*==============================================
 *           SIFT COMPONENT
 *==============================================*/



// @import 'sift-config';

@include c( $c-sift ) {
  display: flex;
  justify-content: space-between;
  z-index: 500;

  * {
    box-sizing: border-box;
  }


  @include e( 'items' ) {
    border-radius: 0 0 10px 10px;
    box-shadow: 0 3px 8px 0 get_color('secondary', 'light');
    cursor: pointer;
    width: 45%;
    height: 150px;
    list-style-type: none;
    min-width: 100px;
    padding: 0 0 20px 0;
    overflow: hidden;
    position: relative;
    text-align: center;

    .evo_c-sift__items--animate-sift-out,
    .evo_c-sift__items--animate-sift-in {
      border-width: 1px;
    }

    .evo_c-sift__items--animate-sift-out {
      animation: siftOut 3s;
    }
    .evo_c-sift__items--animate-sift-in {
      animation: siftIn 1s;
    }

  }

  @include e( 'item' ) {
    background-color: get_color('primary');
    box-shadow: 0 3px 8px 0 get_color('secondary', 'light');
    bottom: 0px;
    list-style-type: none;
    padding: 1.25rem;
    position: absolute;
    transform: rotateX(89deg) skew(-12deg);
    transform-origin: 50%;
    transition: transform .5s;
    width: 90%;

    &:nth-child(-n+6) {
      transform: rotateX(85deg) skew(-12deg);
      &:first-child {
        transform: rotateX(85deg) skew(-12deg) translate(20px, 26px);
        z-index: 100;
      }
      &:nth-child(2) {
        transform: rotateX(85deg) skew(-12deg) translate(35px, 100px);
        z-index: 99;
      }
      &:nth-child(3) {
        transform: rotateX(85deg) skew(-12deg) translate(50px, 174px);
        z-index: 98;
      }
      &:nth-child(4) {
        transform: rotateX(85deg) skew(-12deg) translate(65px, 248px);
        z-index: 97;
      }
      &:nth-child(5) {
        transform: rotateX(85deg) skew(-12deg) translate(80px, 322px);
        z-index: 96;
      }
      &:nth-child(6) {
        transform: rotateX(85deg) skew(-12deg) translate(95px, 396px);
        z-index: 95;
      }
    }

    &:nth-child(n+7) {
      transform: rotateX(85deg) skew(-12deg) translate(110px, 470px);
      z-index: 94;
    }

    &:last-child {
      box-shadow: 10px 50px 50px -10px get_color('background', 'dark');
    }

    .evo_c-sift__basket-drop & {
      &:nth-child(-n+6) {
        //transform: rotateX(85deg) skew(-12deg);
        &:first-child {
          transform: rotateX(85deg) skew(-12deg) translate(95px, 396px);
          z-index: 95;
        }
        &:nth-child(2) {
          transform: rotateX(85deg) skew(-12deg) translate(80px, 322px);
          z-index: 96;
        }
        &:nth-child(3) {
          transform: rotateX(85deg) skew(-12deg) translate(65px, 248px);
          z-index: 97;
        }
        &:nth-child(4) {
          transform: rotateX(85deg) skew(-12deg) translate(50px, 174px);
          z-index: 98;
        }
        &:nth-child(5) {
          transform: rotateX(85deg) skew(-12deg) translate(35px, 100px);
          z-index: 99;
        }
        &:nth-child(6) {
          transform: rotateX(85deg) skew(-12deg) translate(20px, 26px);
          z-index: 100;
        }
      }

      &:nth-child(n+7) {
        transform: rotateX(85deg) skew(-12deg) translate(110px, 470px);
        z-index: 94;
      }

      &:last-child {
        box-shadow: 10px 50px 50px -10px get_color('background', 'dark');
      }
    }

  }

  .evo_s-is-picked {
    background-color: get_color('primary');
    box-shadow: 0 3px 8px 0 get_color('secondary', 'light');
    list-style-type: none;
    padding: 1.25rem;
    position: absolute;
  }

}

@keyframes siftOut {
  0% {
    transform: rotateX(85deg) skew(-12deg) translate(-30px, -200px);
    opacity: 1;
  }
  20% {
    transform: rotateX(0deg) skew(0) translate(0px, -60px);
    width: 100%;
  }
  50% {
    opacity: 1;
    transform: rotateX(0deg) skew(0) translate(0px, -60px);
  }
  90% {
    opacity: .4;
    transform: rotateX(0deg) skew(0deg) translate(18px, -100px);
  }
  100% {
    transform: rotateX(0deg) skew(0deg) translate(50px, -300px);
    opacity: 0;
    width: 100%;
  }
}

@keyframes siftIn {
  0% {
    transform: rotateX(0deg) skew(0deg) translate(-30px, -200px);
  }
  100% {
    transform: rotateX(85deg) skew(-12deg) translate(-30px, -200px);
  }
}

/** END SIFT COMPONENT **/
