//  VARIABLES

$highlight: transparent; // highlight color for the area that is being focused for reading
// $background: #1b5709; // color used to dim the rest of the page
$background: #000; // color used to dim the rest of the page

@mixin fixed-containers {
  position: fixed;
  z-index: 1000;
  width: 100%;
  content: '';
  display: block;
  opacity: 0.8;
}

.su_slit-top,
.su_slit-bottom {
  @include fixed-containers;
}

.su_slit-top {
  top: 0;
  background-image: linear-gradient(to top, $highlight 0%, lighten($background, 10%) 10%, $background 60%);
}

.su_slit-bottom {
  bottom: 0;
  background-image: linear-gradient(to bottom, $highlight 0%, lighten($background, 10%) 10%, $background 60%);
}
