.su_dropdown {
  display: inline-block;

  .su_dropdown-toggle,
  .su_dropdown-menu {
    @include radius;
    box-shadow: 0px 3px 3px 0px su_color('background', 'dark');
  }

  .su_dropdown-toggle,
  .su_dropdown-item {
    transition: background-color .5s;
  }

  .su_dropdown-toggle.su_dropdown-toggle-rounded {
    border-radius: 50px;
  }

  .su_dropdown-toggle {
    background-color: su_color('accent', 'base');
    border: none;
    color: su_color('background', 'light');
    margin-bottom: 0.3125rem;
    padding: 0.625rem 1.25rem;

    &:hover {
      background-color: su_color('accent', 'light');
    }

    &:active,
    &:focus {

      + .su_dropdown-menu {
        overflow: auto;

        .su_dropdown-item {
          padding: 0.625rem 1.25rem;
          font-size: inherit;
        }

        i {
          font-size: 24px;
        }

      }

    }

    &:active,
    &:focus {
      outline: none;
      background-color: su_color('accent', 'dark');
    }
  }

  .su_dropdown-menu {
    background-color: su_color('background', 'light');
    position: absolute;
    z-index: 1000;

    .su_dropdown-item {
      color: invert(su_color('background', 'light'));
      display: block;
      font-size: 0;
      padding: 0;
      text-decoration: none;
      transition: padding .5s;

      &:first-child {
        margin-top: 0.625rem;
      }

      &:last-child {
        margin-bottom: 0.625rem;
      }

      &:hover {
        background-color: su_color('background', 'base');
      }

      > i {
        font-size: 0;
      }
    }
  }

  i {
    vertical-align: bottom;
    line-height: .8;
  }

}
