.su_dropdown {
  display: inline-block;

  * {
    box-sizing: border-box;
  }

  .su_dropdown-toggle,
  .su_dropdown-menu {
    border-radius: 4px;
    box-shadow: 0px 3px 3px 0px su_color('background', 'dark');
  }

  .su_dropdown-toggle,
  .su_dropdown-item {
    transition: background-color .5s;
  }

  .su_dropdown-toggle.su_dropdown-toggle-rounded {
    border-radius: 50px;
  }

  .su_dropdown-toggle {
    background-color: su_color();
    border: none;
    color: su_color('background', 'light');
    margin-bottom: 0.3125rem;
    padding: 0.625rem 1.25rem;

    &:hover {
      background-color: su_color('primary', 'light');
    }

    &:active,
    &:focus {

      ~ .su_dropdown-menu {
        overflow: auto;
        opacity: 1;
        z-index: 1;

        .su_dropdown-item {
          padding: 0.625rem 1.25rem;
        }

      }

    }

    &:active,
    &:focus {
      outline: none;
      background-color: su_color('primary', 'dark');
    }
  }
  
  .su_dropdown-menu {
    background-color: su_color('background', 'light');
    position: absolute;
    opacity: 0;
    transition: opacity .5s;

    .su_dropdown-item {
      color: invert(su_color('background', 'light'));
      display: block;
      padding: 0;
      text-align: left;
      text-decoration: none;
      transition: padding .5s, background-color .3s;

      &:first-child {
        margin-top: 0.625rem;
      }

      &:hover {
        background-color: su_color('background', 'base');
      }
    }
  }

  &.su_dropdown-cascade,
  &.su_dropdown-cascade.su_dropdown-cascade--tilted,
  &.su_dropdown-cascade.su_dropdown-cascade--right {
    position: relative;

    .su_dropdown-menu {
      background-color: transparent;
      box-shadow: unset;
      height: 0;
      opacity: 1;
      width: 100%;
      z-index: -1;
      transition: z-index .8s, width .3s ease-in-out, height 1s ease-in-out, opacity 1s;

      .su_dropdown-item {
        background-color: transparent;
        border-bottom: 1px solid su_color('background');
        border-radius: 0 0 4px 4px;
        color: invert(su_color('background', 'light'));
        display: block;
        font-size: 0;
        opacity: 1;
        padding: 0.625rem 1.25rem;
        text-decoration: none;
        transform: translateY(-57px);
        transition: transform 1s ease-in-out, border-bottom 0s;
        
        &:first-child {
          margin-top: 0.3125rem;
          transform: translateY(-52px);
          transition: transform .4s ease-in-out;
        }

        &:nth-child(2) {
          transform: translateY(-94px);
          transition: transform .6s ease-in-out;
        }

        &:nth-child(3) {
          transform: translateY(-136px);
          transition: transform .8s ease-in-out;
        }

        &:nth-child(4) {
          transform: translateY(-188px);
          transition: transform 1s ease-in-out;
        }
      }
    }

    .su_dropdown-toggle {

      &:active,
      &:focus {

        ~ .su_dropdown-menu {
          height: unset;
          min-width: 130%;
          overflow: hidden;
          opacity: 1;
          z-index: 1;

          .su_dropdown-item {
            background-color: su_color('background', 'light');
            border: none;
            border-radius: 0;
            font-size: inherit;
            min-width: 120%;
            padding: 0.625rem 1.25rem;
            transform: unset;
            
            &:hover {
              background-color: su_color('background', 'base');
            }
          }

        }

      }
    }
  }

  &.su_dropdown-cascade.su_dropdown-cascade--tilted {

    .su_dropdown-menu .su_dropdown-item {
      
      
      &:first-child {
        transform: translateY(-52px) rotate(1deg);
      }

      &:nth-child(2) {
        transform: translateY(-96px) rotate(3deg);
      }

      &:nth-child(3) {
        transform: translateY(-140px) rotate(5deg);
      }

      &:nth-child(4) {
        transform: translateY(-194px) rotate(7deg);
      }
    }
  }

  &.su_dropdown-cascade.su_dropdown-cascade--right {

    .su_dropdown-menu .su_dropdown-item {
      
      &:first-child {
        transform: translate(3px, -52px);
      }

      &:nth-child(2) {
        transform: translate(6px, -94px);
      }

      &:nth-child(3) {
        transform: translate(9px, -135px);
      }

      &:nth-child(4) {
        transform: translate(12px, -176px);
      }
    }
  }

  i {
    vertical-align: bottom;
    line-height: .8;
  }

} 