
<h1>I am the heading 1</h1>
<h2>I am the heading 2</h2>
<h3>I am the heading 3</h3>
<h4>I am the heading 4</h4>
<h5>I am the heading 5</h5>
<h6>I am the heading 6</h6>
<p class="su_small">su_small</p>
<p class="su_x-small">su_x-small</p>
<p class="su_x-large">su_x-large</p>
<p class="su_large">su_large</p>
<p class="su_h1">I have the same font-size of H1</p>
<p class="su_h2">I have the same font-size of H2</p>
<p class="su_h3">I have the same font-size of H3</p>
<p class="su_h4">I have the same font-size of H4</p>
<p class="su_h5">I have the same font-size of H5</p>
<p class="su_h6">I have the same font-size of H6</p>
