/********************
 AUDIO PLAYER
*********************/
.su_audio-player {
  background-color: #f0f0ed;
  border-radius: 4px;
  box-shadow: 0 3px 5px 0 #dadad0;
  min-width: 300px;
  padding: 0.625rem 1rem; }
  .su_audio-player.su_primary-bg, .su_audio-player.su_accent-bg {
    color: #f0f0ed; }
  .su_audio-player audio {
    width: 0;
    height: 0; }
  .su_audio-player button {
    border: none;
    background-color: transparent; }
    .su_audio-player button:focus {
      outline: none; }
  .su_audio-player input[type="range"] {
    background-color: transparent;
    -webkit-appearance: none;
    width: 100%; }
    .su_audio-player input[type="range"]::-webkit-slider-thumb {
      -webkit-appearance: none;
      background-color: #f0f0ed;
      border: 1px solid #c4c4b3;
      border-radius: 0.5625rem;
      height: 1.125rem;
      margin-top: -0.425rem;
      width: 1.125rem; }
    .su_audio-player input[type="range"]::-moz-range-thumb {
      background-color: #f0f0ed;
      border: 1px solid #c4c4b3;
      border-radius: 0.5625rem;
      height: 1.125rem;
      width: 1.125rem; }
    .su_audio-player input[type="range"]::-ms-thumb {
      background-color: #f0f0ed;
      border: 1px solid #c4c4b3;
      border-radius: 0.5625rem;
      height: 1.125rem;
      width: 1.125rem; }
    .su_audio-player input[type="range"]::-ms-track {
      background-color: transparent;
      border-color: transparent;
      color: transparent;
      cursor: pointer;
      width: 100%; }
    .su_audio-player input[type="range"]::-webkit-slider-runnable-track {
      background-color: #c4c4b3;
      border-radius: 2.5px;
      cursor: pointer;
      height: 0.3125rem;
      width: 100%; }
    .su_audio-player input[type="range"]::-moz-range-track {
      background-color: #c4c4b3;
      border-radius: 2.5px;
      cursor: pointer;
      height: 0.3125rem;
      width: 100%; }
    .su_audio-player input[type="range"]::-ms-track {
      background-color: #c4c4b3;
      border-radius: 2.5px;
      cursor: pointer;
      height: 0.3125rem;
      width: 100%; }
    .su_audio-player input[type="range"]:focus {
      outline: none; }
  .su_audio-player .su_controls {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .su_audio-player .su_track-volume {
    text-align: center; }
    .su_audio-player .su_track-volume input[type="range"] {
      display: none; }
    .su_audio-player .su_track-volume .su_icon i {
      vertical-align: middle; }
  .su_audio-player .su_track {
    display: flex;
    flex-basis: 70%;
    align-items: center; }
    .su_audio-player .su_track input[type="range"] {
      flex-basis: 85%; }
    .su_audio-player .su_track button {
      flex-basis: 15%;
      vertical-align: bottom; }
      .su_audio-player .su_track button i {
        vertical-align: middle;
        line-height: 27px; }