<section>
  <h3>Audio Player</h3>
  <article style="margin-bottom: 70px;">
    <h4>Basic Audio Player</h4>
    <p>A basic audio player that plays only one song. You can use background color classes to change the look of the player. See the other demos with different background color classes applied.</p>
    <div class="su_line">
      <div class="su_cell su_cells_4">
        <p>Working demo</p>
        <figure id="audioplayer" class="su_audio-player">
          <div class="su_controls">
            <div class="su_track">
              <button type="button" class="su_icon"><i class="material-icons">play_arrow</i></button>
              <input type="range" min="0" max="100" value="0" class="su_playhead" id="playhead">
            </div>
            <span class="su_track-time">00:00</span>
            <div class="su_track-volume">
              <button type="button" class="su_icon"><i class="material-icons">volume_up</i></button>
            </div>
          </div>
          <audio controls="controls" preload="auto" itemprop="audio">
            <source src="../components/audio/assets/diana.mp3" type="audio/mpeg" />
            Your browser does not support the audio element.
          </audio>
        </figure>
      </div>
    </div>
    <div class="su_line">
      <div class="su_cell su_cells_4">
        <p>Only demonstrates background color with <code>.su_primary-bg</code></p>
        <figure id="audioplayer2" class="su_audio-player su_primary-bg">
          <div class="su_controls">
            <div id="playback" class="su_track">
              <button type="button" class="su_icon"><i class="material-icons">play_arrow</i></button>
              <input type="range" min="0" max="100" value="0" class="su_playhead">
            </div>
            <span class="su_track-time">00:00</span>
            <div class="su_track-volume">
              <button type="button" class="su_icon"><i class="material-icons">volume_up</i></button>
            </div>
          </div>
          <audio controls="controls" id="audiotrack" preload="auto" itemprop="audio">
            <source src="../components/audio/assets/diana.mp3" type="audio/mpeg" />
            Your browser does not support the audio element.
          </audio>
        </figure>
      </div>
    </div>
    <div class="su_line">
      <div class="su_cell su_cells_4">
        <p>Only demonstrates background color with <code>.su_accent-bg</code></p>
        <figure id="audioplayer3" class="su_audio-player su_accent-bg">
          <div class="su_controls">
            <div id="playback" class="su_track">
              <button type="button" class="su_icon"><i class="material-icons">play_arrow</i></button>
              <input type="range" min="0" max="100" value="0" class="su_playhead">
            </div>
            <span class="su_track-time">00:00</span>
            <div class="su_track-volume">
              <button type="button" class="su_icon"><i class="material-icons">volume_up</i></button>
            </div>
          </div>
          <audio controls="controls" id="audiotrack" preload="auto" itemprop="audio">
            <source src="../components/audio/assets/diana.mp3" type="audio/mpeg" />
            Your browser does not support the audio element.
          </audio>
        </figure>
      </div>
    </div>
  </article>
</section>