/**********************
ALERTS
**********************/
.su_alert {
  display: block;
  padding: 10px;
  border-radius: 4px;
  .su_alert-star {
    vertical-align: -20%;
    margin-right: 10px;
    font-size: 18px;
  }
  .su_alert-close {
    vertical-align: -20%;
    float: right;
    font-size: 18px;
    cursor: pointer;
  }
  &.su_transparent {
    opacity: 0;
    transition: opacity 0.2s;
  }
}

.su_alert-success {
  color:  su_color('primary', 'dark');
  background-color: su_color('primary', 'base', 0.4);
  border: 1px solid su_color('primary', 'base', 1);
}

.su_alert-info {
  color:  su_color('accent', 'dark');
  background-color: su_color('accent', 'base', 0.4);
  border: 1px solid su_color('accent', 'base', 1);
}

.su_alert-warning {
  color: darken(#FEB100, 10%);
  background-color: rgba(254, 177, 0, 0.4);
  border: 1px solid rgba(254, 177, 0, 1);
}

.su_alert-error {
  color: darken(#E40425, 10%);
  background-color: rgba(228, 4, 37, 0.4);
  border: 1px solid rgba(228, 4, 37, 1);
}
