---
title: "Innovative Login Form"
description:
  <p>Innovative login form with blur background effect. Input fields and link
    have animation.
  </p>
author: Cesar Verastegui
type: login form
category: evolution
order: 1
---

  <div class="evo_c-login-form">
    <div class="evo_c-login-form__log-header">
      <img src="https://s20.postimg.org/iombn9l25/code_art.jpg" class="evo_c-login-form__img-circle"/>
    </div>
    <div class="evo_c-login-form__log-body">
      <input class="evo_c-login-form__input-uname" type="text" placeholder="Your name"/>
      <input class="evo_c-login-form__input-upass" type="password" placeholder="Your password"/>
      <button class="evo_c-login-form__lbutton">LOGIN</button>
    </div>
    <div class="evo_c-login-form__log-footer">
      <p id="h-left">Forgot <a class="evo_c-login-form__link" href="#">password?</a></p>
      <p><a class="evo_c-login-form__link" href="#">Register</a></p>
    </div>
  </div>
