<div class="su_carousel-wrap">
  <ul class="su_carousel">
    <li class="su_carousel-item su_carousel-visible"><img src="http://lorempixel.com/1000/500/food/6" alt=""></li>
    <li class="su_carousel-item"><img src="http://lorempixel.com/1000/500/food/1" alt=""></li>
    <li class="su_carousel-item"><img src="http://lorempixel.com/1000/500/food/2" alt=""></li>
    <li class="su_carousel-item"><img src="http://lorempixel.com/1000/500/food/3" alt=""></li>
    <li class="su_carousel-item"><img src="http://lorempixel.com/1000/500/food/4" alt=""></li>
    <li class="su_carousel-item"><img src="http://lorempixel.com/1000/500/food/5" alt=""></li>
  </ul>
  <div class="su_carousel-controls">
    <button class="su_carousel-prev su_btn-floating su_green-light"><i class="material-icons">keyboard_arrow_left</i></button>
    <button class="su_carousel-next su_btn-floating su_green-light"><i class="material-icons">keyboard_arrow_right</i></button>
  </div>
</div>
