  <h1>Carousel</h1>
  <h3>Faded Carousel</h3>
  <div class="su_line">
    <div class="su_cells_6">
      <div class="su_carousel-wrap">
        <ul class="su_carousel">
          <li class="su_carousel-item su_carousel-visible"><img src="http://lorempixel.com/1000/500/food/6" alt=""></li>
          <li class="su_carousel-item"><img src="http://lorempixel.com/1000/500/food/1" alt=""></li>
          <li class="su_carousel-item"><img src="http://lorempixel.com/1000/500/food/2" alt=""></li>
          <li class="su_carousel-item"><img src="http://lorempixel.com/1000/500/food/3" alt=""></li>
          <li class="su_carousel-item"><img src="http://lorempixel.com/1000/500/food/4" alt=""></li>
          <li class="su_carousel-item"><img src="http://lorempixel.com/1000/500/food/5" alt=""></li>
        </ul>
        <div class="su_carousel-controls">
          <button class="su_carousel-prev su_btn-floating su_green-light"><i class="material-icons">keyboard_arrow_left</i></button>
          <button class="su_carousel-next su_btn-floating su_green-light"><i class="material-icons">keyboard_arrow_right</i></button>
        </div>
      </div>
    </div>
  </div>
  <h3>Sliding Carousel</h3>
  <div class="su_line">
    <div class="su_cells_6">
      <div class="su_carousel-slide-wrap">
        <ul class="su_carousel-slide">
          <li class="su_carousel-item current">
            <img src="http://lorempixel.com/1000/500/food/6" alt="">
          </li>
          <li class="su_carousel-item">
            <img src="http://lorempixel.com/1000/500/food/1" alt="">
          </li>
          <li class="su_carousel-item">
            <img src="http://lorempixel.com/1000/500/food/2" alt="">
          </li>
          <li class="su_carousel-item">
            <img src="http://lorempixel.com/1000/500/food/3" alt="">
          </li>
          <li class="su_carousel-item">
            <img src="http://lorempixel.com/1000/500/food/4" alt="">
          </li>
          <li class="su_carousel-item">
            <img src="http://lorempixel.com/1000/500/food/5" alt="">
          </li>
        </ul>
        <div class="su_carousel-controls">
          <button class="su_carousel-prev su_btn-floating su_green-light"><i class="material-icons">keyboard_arrow_left</i></button>
          <button class="su_carousel-next su_btn-floating su_green-light"><i class="material-icons">keyboard_arrow_right</i></button>
        </div>
      </div>
    </div>
  </div>
  <h3>Multi-Image Carousel</h3>
  <div class="su_line">
    <div class="su_cells_6">
      <div class="su_multi-carousel-wrap">
        <ul class="su_multi-carousel">
          <li class="su_carousel-item current">
            <div><img src="http://lorempixel.com/1000/500/food/1" alt=""></div>
            <div><img src="http://lorempixel.com/1000/500/food/2" alt=""></div>
            <div><img src="http://lorempixel.com/1000/500/food/3" alt=""></div>
          </li>
          <li class="su_carousel-item">
            <div><img src="http://lorempixel.com/1000/500/food/4" alt=""></div>
            <div><img src="http://lorempixel.com/1000/500/food/3" alt=""></div>
            <div><img src="http://lorempixel.com/1000/500/food/6" alt=""></div>
          </li>
          <li class="su_carousel-item">
            <div><img src="http://lorempixel.com/1000/500/food/2" alt=""></div>
            <div><img src="http://lorempixel.com/1000/500/food/3" alt=""></div>
            <div><img src="http://lorempixel.com/1000/500/food/4" alt=""></div>
          </li>
          <li class="su_carousel-item">
            <div><img src="http://lorempixel.com/1000/500/food/6" alt=""></div>
            <div><img src="http://lorempixel.com/1000/500/food/7" alt=""></div>
            <div><img src="http://lorempixel.com/1000/500/food/8" alt=""></div>
          </li>
        </ul>
        <div class="su_carousel-controls">
          <button class="su_carousel-prev su_btn-floating su_green-light"><i class="material-icons">keyboard_arrow_left</i></button>
          <button class="su_carousel-next su_btn-floating su_green-light"><i class="material-icons">keyboard_arrow_right</i></button>
        </div>
      </div>
    </div>
  </div>
