.su_preview {
  position: relative;
}

.su_preview-page {
  opacity: 0;
  overflow: hidden;
  position: absolute;
  height: 400px;
  width: 320px;
  top:220px;
  left:50%;
  transform:translate(-50%, -50%);
}

.su_preview-page iframe {
  height: 100%;
  width: 340px;
}

.su_preview-link:hover + .su_preview-page,  .su_preview-page:hover{
  opacity: 1;
}
