<!doctype html>
<html class="no-js" lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="author" content="Brian Hernandez">
    <title>Utilities</title>
    <meta name="description" content="Utilities is a collection of smaller components and code bits that help to apply different styles and functions in the framework.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab|Roboto:300,400,700" rel="stylesheet">
    <link href="../../styles/main.css" rel="stylesheet">
  </head>
  <body>
    <h2 id="component-utilities">Utilities Component</h2>
    <h3>Float Classes</h3>
    <div class="evo_h-utilities__floats--right evo_h-presentation evo_h-presentation__floats--right"><i class="material-icons">settings</i>Div 1 Floated Right</div>
    <div class="evo_h-utilities__floats--left evo_h-presentation evo_h-presentation__floats--left"><i class="material-icons">menu</i>Div 2 Floated Left</div>
    <div class="evo_h-utilities__floats--clear evo_h-presentation evo_h-presentation__floats--clear"><i class="material-icons">face</i>Cleared Div</div>

    <h3 class="su_space-top--medium">Text Transform Classes</h3>
      <div class="evo_h-presentation__text-container">
        <p class="evo_h-utilities__text evo_h-utilities__text--lowercase">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi corporis minima eveniet quo a quisquam laborum porro, soluta hic, nemo veniam accusamus impedit sequi cupiditate sint architecto. Doloremque, commodi, ipsam.</p>
        <p class="evo_h-utilities__text evo_h-utilities__text--uppercase">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, velit nisi enim temporibus officia obcaecati in impedit minus magnam cum modi doloribus asperiores ducimus corporis? Accusantium cumque excepturi tempora optio?</p>
        <p class="evo_h-utilities__text evo_h-utilities__text--capitalize">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit repellendus itaque voluptates quos, excepturi possimus deleniti nobis, reiciendis veritatis, quasi, natus exercitationem totam eaque. Dolor et magni saepe deserunt voluptas!</p>
      </div>

    <h3 class="su_space-top--medium">Visibility &amp; Hidden Classes</h3>
    <p>Add the class <code class="su_code">.su_hide</code> to an element to remove it from the page view.  The number 4 <code class="su_code">span</code> element in the following list is hidden:</p>
    <div class="evo_h-presentation__visibility-container su_line su_gutters su_align-center">
      <span class="evo_h-presentation__visibility-span">1</span>
      <span class="evo_h-presentation__visibility-span">2</span>
      <span class="evo_h-presentation__visibility-span">3</span>
      <span class="evo_h-utilities__visibility--hidden evo_h-presentation__visibility-span">4</span>
      <span class="evo_h-presentation__visibility-span">5</span>
      <span class="evo_h-presentation__visibility-span">6</span>
    </div>

    <div class="evo_h-presentation__visibility-container su_line su_gutters">
      <span class="evo_h-presentation__visibility-span">1</span>
      <span class="evo_h-presentation__visibility-span">2</span>
      <span class="evo_h-presentation__visibility-span">3</span>
      <span class="evo_h-utilities__visibility--invisible evo_h-presentation__visibility-span">4</span>
      <span class="evo_h-presentation__visibility-span">5</span>
      <span class="evo_h-presentation__visibility-span">6</span>
    </div>
    <p>The following classes will show and hide different elements depending on the viewport's size:</p>
    <table class="su_table su_table-bordered su_align-center">
      <thead>
        <tr>
          <th>Classes</th>
          <th>Small Devices</th>
          <th>Medium Devices</th>
          <th>Large Devices</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><code class="su_code">.su_show-medium--up</code></td>
          <td>Hidden <div class="su_show-medium--up brian_su_visibility-table">Example Content Here</div></td>
          <td>Shown <div class="su_show-medium--up brian_su_visibility-table">Example Content Here</div></td>
          <td>Shown <div class="su_show-medium--up brian_su_visibility-table">Example Content Here</div></td>
        </tr>
        <tr>
          <td><code class="su_code">.su_show-large--up</code></td>
          <td>Hidden <div class="su_show-large--up brian_su_visibility-table">Example Content Here</div></td>
          <td>Hidden <div class="su_show-large--up brian_su_visibility-table">Example Content Here</div></td>
          <td>Shown <div class="su_show-large--up brian_su_visibility-table">Example Content Here</div></td>
        </tr>
        <tr>
          <td><code class="su_code">.su_hide-medium--up</code></td>
          <td>Shown <div class="su_hide-medium--up brian_su_visibility-table">Example Content Here</div></td>
          <td>Hidden <div class="su_hide-medium--up brian_su_visibility-table">Example Content Here</div></td>
          <td>Hidden <div class="su_hide-medium--up brian_su_visibility-table">Example Content Here</div></td>
        </tr>
        <tr>
          <td><code class="su_code">.su_hide-large--up</code></td>
          <td>Shown <div class="su_hide-large--up brian_su_visibility-table">Example Content Here</div></td>
          <td>Shown <div class="su_hide-large--up brian_su_visibility-table">Example Content Here</div></td>
          <td>Hidden <div class="su_hide-large--up brian_su_visibility-table">Example Content Here</div></td>
        </tr>

      </tbody>
    </table>

    <h3 class="su_space-top--medium">Full Width Class</h3>
    <p>The full width class expands the element it is applied to to the full width of it's parent element using the <code class="su_code">.su_full-width</code> class.  Example:</p>
    <div class="su_foreground-bg su_radius brian_su_utilities-fullwidth su_center-content">
      This is the container parent element that has a width of 80% declared on it with <code class="su_code">10px</code> of padding.
      <span class="su_primary-bg-light su_full-width brian_su_utilities-fullwidth-inner">This is a <code class="su_code">span</code> tag made into a full width piece of content.</span>
      And some more filler content here.
    </div>

    <h3 class="su_space-top--medium">Radius &amp; Round Classes</h3>
    <p>Add the class <code class="su_code">.su_radius</code> to apply the default radius size on elements.  Add the <code class="su_code">.su_round</code> class to create a pill or capsule rounding effect on elements.  The class <code class="su_code">.su_round</code> can be applied to different types of elements.  Examples:</p>
    <p>This paragraph highlights the radius effect on the phrase <span class="su_radius su_accent-bg-light brian_su_utilities-radius-span su_background-light">"Seed UI"</span> when applied to the <code class="su_code">span</code> tag that surrounds it.</p>
    <p>And the rounding effect applied to a Seed UI button and a normal div:</p>
    <button type="button" class="su_btn su_btn-primary su_round">Button With Round Class Applied</button>
    <div class="su_round su_background-bg su_space-top--small brian_su_utilities-div">Div With Round Class Applied</div>

    <h3 class="su_space-top--medium">Color Classes</h3>
    <p>Seed UI comes with a number of built in colors that can be customized to your website's style guide.  You can change the background color of elements or the text color by applying their associated classes.  Examples:</p>

    <h4>Background Color Classes</h4>
    <table class="su_table su_table-bordered">
      <thead>
        <tr>
          <th>Light Background Colors</th>
          <th>Base Background Colors</th>
          <th>Dark Background Colors</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="su_primary-bg-light">.su_primary-bg-light</td>
          <td class="su_primary-bg">.su_primary-bg</td>
          <td class="su_primary-bg-dark">.su_primary-bg-dark</td>
        </tr>
        <tr>
          <td class="su_accent-bg-light">.su_accent-bg-light</td>
          <td class="su_accent-bg">.su_accent-bg</td>
          <td class="su_accent-bg-dark">.su_accent-bg-dark</td>
        </tr>
        <tr>
          <td class="su_secondary-bg-light">.su_secondary-bg-light</td>
          <td class="su_secondary-bg">.su_secondary-bg</td>
          <td class="su_secondary-bg-dark">.su_secondary-bg-dark</td>
        </tr>
        <tr>
          <td class="su_foreground-bg-light">.su_foreground-bg-light</td>
          <td class="su_foreground-bg">.su_foreground-bg</td>
          <td class="su_foreground-bg-dark">.su_foreground-bg-dark</td>
        </tr>
        <tr>
          <td class="su_background-bg-light">.su_background-bg-light</td>
          <td class="su_background-bg">.su_background-bg</td>
          <td class="su_background-bg-dark">.su_background-bg-dark</td>
        </tr>
      </tbody>
    </table>

    <h4 class="su_space-top--small">Text Color Classes</h4>
    <table class="su_table su_table-bordered">
      <thead>
        <tr>
          <th>Light Text Colors</th>
          <th>Base Text Colors</th>
          <th>Dark Text Colors</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="su_primary-light">.su_primary-light</td>
          <td class="su_primary">.su_primary</td>
          <td class="su_primary-dark">.su_primary-dark</td>
        </tr>
        <tr>
          <td class="su_accent-light">.su_accent-light</td>
          <td class="su_accent">.su_accent</td>
          <td class="su_accent-dark">.su_accent-dark</td>
        </tr>
        <tr>
          <td class="su_secondary-light">.su_secondary-light</td>
          <td class="su_secondary">.su_secondary</td>
          <td class="su_secondary-dark">.su_secondary-dark</td>
        </tr>
        <tr>
          <td class="su_foreground-light">.su_foreground-light</td>
          <td class="su_foreground">.su_foreground</td>
          <td class="su_foreground-dark">.su_foreground-dark</td>
        </tr>
        <tr>
          <td class="su_background-light">.su_background-light</td>
          <td class="su_background">.su_background</td>
          <td class="su_background-dark">.su_background-dark</td>
        </tr>
      </tbody>
    </table>



    <h3 class="su_space-top--medium">Screen Reader Only Class</h3>
    <p>The next paragraph is only accessible to screen readers since it has the <code class="su_code">.su_sr-only</code> class applied to it.  It can be found by searching for &quot;brown fox&quot; in the <code class="su_code">html</code> source of this document.</p>
    <p class="su_sr-only">The quick brown fox jumped over the lazy dog.</p>

    <h3 class="su_space-top--medium">Text Alignment Classes</h3>
    <p>Use the following classes to change the text alignment on elements.</p>
    <div class="su_line su_gutters">
      <div class="su_cell su_cells_3 su_background-bg brian-div su_radius">
        <code class="su_code">.su_align-left</code>
        <p class="su_align-center"><i class="material-icons su_accent">format_align_left</i></p>
        <p class="su_align-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis dicta, nulla saepe temporibus molestias in iure, voluptatum earum! Recusandae corrupti repellendus, dolore non, ipsam omnis dolores voluptates consequatur eum modi.</p>
      </div>
      <div class="su_cell su_cells_3 su_background-bg brian-div su_radius">
        <code class="su_code">.su_align-center</code class="su_code">
        <p class="su_align-center"><i class="material-icons su_accent">format_align_center</i></p>
        <p class="su_align-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio ea deserunt voluptatibus totam, reprehenderit sequi maiores aut aspernatur debitis unde nulla aliquid ex nam eos esse, architecto mollitia ducimus voluptatem!</p>
      </div>
      <div class="su_cell su_cells_3 su_background-bg brian-div su_radius">
        <code class="su_code">.su_align-right</code>
        <p class="su_align-center"><i class="material-icons su_accent">format_align_right</i></p>
        <p class="su_align-right">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam quidem consequuntur earum quisquam dolorem numquam, assumenda, unde eveniet atque molestiae iusto eligendi asperiores quibusdam enim error provident, impedit amet! Excepturi.</p>
      </div>
      <div class="su_cell su_cells_3 su_background-bg brian-div su_radius">
        <code class="su_code">.su_align-justify</code>
        <p class="su_align-center"><i class="material-icons su_accent">format_align_justify</i></p>
        <p class="su_align-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum modi commodi, eos officia, explicabo minus tempore rerum esse reprehenderit voluptas eius id, praesentium velit facilis laborum provident numquam et dignissimos.</p>
      </div>
    </div>

    <h3 class="su_space-top--medium">Code Class</h3>
    <p>Add the class <code class="su_code">.su_code</code> to give some default styling to displayed computer code.  Example:</p>
<pre class="su_code">
<code>&lt;!DOCTYPE html&gt;
&lt;html lang="en"&gt;
&lt;head&gt;
&lt;meta charset="UTF-8"&gt;
&lt;title&gt;Document&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;/body&gt;
&lt;/html&gt;</code>
</pre>

    <h3 class="su_space-top--medium">Spacer Classes</h3>
    <p>A collection of classes that have varying margin values on different sides for quick spacing fixes.</p>

    <p>The class <code class="su_code">.su_space-top--small</code> applies a <code class="su_code">margin-top: 20px</code> to an element.</p>
    <p>The class <code class="su_code">.su_space-top--medium</code> applies a <code class="su_code">margin-top: 50px</code> to an element.</p>
    <p>The class <code class="su_code">.su_space-top--large</code> applies a <code class="su_code">margin-top: 100px</code> to an element.</p>

    <p>The class <code class="su_code">.su_space-right--small</code> applies a <code class="su_code">margin-right: 20px</code> to an element.</p>
    <p>The class <code class="su_code">.su_space-right--medium</code> applies a <code class="su_code">margin-right: 50px</code> to an element.</p>
    <p>The class <code class="su_code">.su_space-right--large</code> applies a <code class="su_code">margin-right: 100px</code> to an element.</p>

    <p>The class <code class="su_code">.su_space-bottom--small</code> applies a <code class="su_code">margin-bottom: 20px</code> to an element.</p>
    <p>The class <code class="su_code">.su_space-bottom--medium</code> applies a <code class="su_code">margin-bottom: 50px</code> to an element.</p>
    <p>The class <code class="su_code">.su_space-bottom--large</code> applies a <code class="su_code">margin-bottom: 100px</code> to an element.</p>

    <p>The class <code class="su_code">.su_space-left--small</code> applies a <code class="su_code">margin-left: 20px</code> to an element.</p>
    <p>The class <code class="su_code">.su_space-left--medium</code> applies a <code class="su_code">margin-left: 50px</code> to an element.</p>
    <p>The class <code class="su_code">.su_space-left--large</code> applies a <code class="su_code">margin-left: 100px</code> to an element.</p>

    <h3 class="su_space-top--medium">Center Content Class</h3>
    <p>Add the <code class="su_code">.su_center-content</code> class to an element for an easy way to add auto margins for centering content blocks.  Example:</p>
    <div class="su_center-content brian-div2 su_primary-bg-dark su_radius">This div box is centered on this page since it has the <code class="su_code">.su_center-content</code> class applied to it.</div>

    <hr class="su_space-top--medium">
  <script type="text/javascript" src="../../scripts/app.js"></script>
  </body>
</html>
