//------------------------------------------------------------------------------
//                       Forms Component
//------------------------------------------------------------------------------


@mixin m($modifier) {
  &--#{$modifier} {
    @content;
  }
}

$su_field--border-radius: 3px;

$su_input--height: 3rem;
$su_input--button-width: 200px;

/// Form BOX

.su_form-box {
  padding: 20px;

  @include m('type-2') {

  }

  @include m('border-pink') {
    border: 2px solid su-color('accent');
    color: su_color('accent');

    & .su_input-icon {
      background-color: su_color('accent', 'light');
      color: rgb(255, 255, 255);
    }
  }

  .su_form-box-header {

  }

  .su_form-title {
    text-transform: capitalize;

  }

  .su_form-box-body {
    margin-bottom: 5rem;
  }
}


/// FORM component
.su_form {

  & * { box-sizing: border-box; }
  & *:focus { outline: 0; }

  .su_field {
    position: relative;
    margin: 25px 0;

    // .su_field--border
    @include m('border') {

      & .su_input {
        border: 1px solid su_color('accent', 'light')!important;
        border-radius: $su_field--border-radius;
      }

      & .su_input-icon {
        border-top-left-radius: $su_field--border-radius;
        border-bottom-left-radius: $su_field--border-radius;
      }

    }

    input[type='email'],
    input[type='text'],
    input[type='password'],
    input[type='submit'],
    input[type='button'] {
      height: $su_input--height;
      border: 0;
      border-bottom: 1px solid rgba(0,0,0,.2);
    }
  }

  .su_input {
    width: 100%;

      &[type='submit'],
      &[type='button'],
      &--button {
        width: $su_input--button-width;
        border: 1px solid su_color('accent', 'light')!important;
        background-color: white();

        &:hover {
          color: white();
          background-color: su_color('accent', 'light');
        }
      }

      // .su_input--button
      @include m('button') {
        position: relative;
        display: flex;
        height: $su_input--height;
        margin: 10px 0;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        user-select: none;

          & span {
            padding: 0 5px;
          }

          // .su_input--button--green
          @include m('green') {
            background-color: su-color('primary')!important;

            &:hover {
              background-color: su-color('primary', 'dark')!important;
            };
          }

          // .su_input--button--green
          @include m('light-green') {
            background-color: su-color('primary', 'light')!important;

            &:hover {
              background-color: su-color('primary')!important;
            };
          }

          // .su_input--button--dark-pink
          @include m('dark-pink') {
            background-color: su-color('accent', 'dark')!important;
            color: white();

            &:hover {
              background-color: su-color('accent', 'light')!important;
            };
          }

          // .su_input--button--3D
          @include m('3D') {
            box-shadow: 0 3px 0 0 rgba(0,0,0,.23);

              &:active {
                top: 3px;
                box-shadow: none;
              }
          }
      }

      // .su_input--full-width
      @include m('full-width') {
        width: 100%!important;
      }
  }

  .su_has-error,
  .su_error-message {
    color: #f44336;
  }

  .su_error-message {
    position: absolute;
    width: 100%;
    text-align: center;
  }

  .su_has-error input[type="email"]:focus,
  .su_has-error input[type="text"]:focus,
  .su_has-error input[type="password"]:focus,
  .su_has-error select:focus,
  .su_has-error textarea:focus {
    border-color: #f44336;
    box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.075),
                0 0 8px rgba(244, 67, 54, 0.6);
  }

  .su_input-checkbox,
  .su_input-radio {
    display: none;

      &:checked + label:before {
        content: "\2022";
        font-size: 5rem;
        text-align: center;
        line-height: 26px;
        color: su_color('primary', 'light');
      }

      @include m('x') {

        &:checked + label:before {
          content: "\00D7";
          font-size: 2rem;
          font-weight: 700;
        }
      }

      @include m('pink') {
        &:checked + label:before {
          color: su_color('accent', 'light');
        }
      }

      @include m('red') {
        &:checked + label:before {
          color: rgb(228, 4, 37);
        }
      }

      @include m('green-dark') {
        &:checked + label:before {
          color: su_color('secondary', 'dark');
        }
      }
  }

  .su_input-checkbox + label,
  .su_input-radio + label {
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding: 1.5rem 1rem 0 2rem;

      &:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 1px;
        display: inline-block;
        width: 26px;
        height: 26px;
        margin-right: 20px;
        background-color: su_color('background', 'dark');
        box-shadow: inset 0 2px 3px 0 rgba(0, 0, 0, .3), 0 1px 0 0 rgba(255, 255, 255, .8);
      }
  }

  .su_input-radio + label {
      &:before {
        border-radius: 13px;
      }
  }

  .su_field-label-up {

      input[type='text'],
      input[type='password'] {
        &:focus + label,
        &:valid + label {
          top: -1.5rem;
          font-size: smaller;
        }
      }

      & label {
        position: absolute;
        left: 0;
        top: 0;
        transition: top .1s ease;
      }
  }

  .su_input-icon {
    position: absolute;
    display: flex;
    height: 100%;
    padding: 10px;
    align-items: center;


    & + input[type="email"],
    & + input[type="text"],
    & + input[type="password"] {
      padding-left: 50px;
    }

    & i {
      order: -1;
    }

    @include m('up') {
      position: initial;
      padding: 10px 0;

        & i {
          padding-right: 10px;
        }

        & + input[type="email"],
        & + input[type="text"],
        & + input[type="password"] {
          padding-left: 10px;
        }
    }

  }
}

/* Larger than phablet */
@media (min-width: 550px) {
  .su_form .su_input-checkbox + label, .su_form .su_input-radio + label {
    width: initial;
  }
}

@media screen and (min-width: 750px) {
  .su_form-box {
    width: 500px;
    padding: 40px;
  }


  input[type='text'],
  input[type='password'] {
    width: 300px;
  }
}
